---
layout: default
permalink: "/apply/"
amp_components:
- amp-recaptcha-input
redirect_from:
- "/apply-two/"
- "/application-two/"
- "/apply/1/"
- "/application/"
- "/application/1/"
title: Application
admission_heading: How to Apply
admission_description: "Ready to begin this exciting adventure to your new career or just looking 
to learn more? The first step to take is to begin your application and be accepted into our program! 
Here is what to expect:"
admission_list: 
- <a href=#start-application>Fill out the application.</a> It takes less than 5 minutes!
- Then you will be prompted to schedule an interview with one of our Admissions Advisors 
  to talk about your goals and any questions you have. You will also have an opportunity to 
  conditionally save your spot with a refundable deposit.
- We will reach out to you to help you with next steps and determine your acceptance based 
  on our student requirements and expectations. Let’s get to know each other!
- Once you've been accepted and you’ve paid your deposit, you’ll be registered and given 
  access to your textbook. Within it, there is a pre-work section to complete prior to 
  your first class so you can start classes the right way!
head_title: "Start Your Application | Apply Now at {{ school.name }}"
description: "Apply now to learn to code with {{ school.name }} | Fill out your short application to get on the path to a career in web development."
heading: "Start Your Application"
app_descript: Get started by filling out our application and setting up a call with our admissions team.
process:
- heading: Apply
  text: Get started by filling out our application and setting up a call with our admissions team.
  img_src: '/assets/uploads/wp-apply.png'
  time: (~ 5 Minutes)
  img_width: 70
  img_height: 70
- heading: Assignment
  text: After speaking with our admissions team, you’ll be asked to complete a brief assignment.
  img_src: '/assets/uploads/wp-assignment.png'
  time: (~ 1-2 Hours)
  img_width: 70
  img_height: 70
- heading: Acceptance Decision
  text: Once you’ve successfully completed your assignment, you’ll be able to begin class.
  img_src: '/assets/uploads/wp-enroll.png'
  time:
  img_width: 70
  img_height: 70
form_fields:
- name: redirect_url
  label: ''
  description: ''
  type: hidden
  value: "{% include school-url.html %}/apply-submit"
  placeholder: ''
  required: ''
  small_width: ''
  medium_width: ''
  options: []
- name: firstname
  label: First Name
  description: ''
  type: text
  value: ''
  options: []
  placeholder: First Name
  required: true
  small_width: 12
  medium_width: 6
- name: lastname
  label: Last Name
  description: ''
  type: text
  value: ''
  placeholder: Last Name
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: phone
  label: Phone
  description: ''
  type: tel
  value: ''
  placeholder: "(***)***-****"
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: email
  label: Email
  description: ''
  type: email
  value: ''
  placeholder: name@example.com
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: city
  label:  Current City
  description: ''
  type: text
  value: ''
  placeholder: City
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: state
  label: Current State
  description: ''
  type: select
  value: ''
  placeholder: State
  required: true
  small_width: "12"
  medium_width: "6"
  options:
  - value: 'Alabama'
    label: 'Alabama'
  - value: 'Alaska'
    label: 'Alaska'
  - value: 'Arizona'
    label: 'Arizona'
  - value: 'Arkansas'
    label: 'Arkansas'
  - value: 'California'
    label: 'California'
  - value: 'Colorado'
    label: 'Colorado'
  - value: 'Connecticut'
    label: 'Connecticut'
  - value: 'Delaware'
    label: 'Delaware'
  - value: 'District of Columbia'
    label: 'District of Columbia'
  - value: 'Florida'
    label: 'Florida'
  - value: 'Georgia'
    label: 'Georgia'
  - value: 'Hawaii'
    label: 'Hawaii'
  - value: 'Idaho'
    label: 'Idaho'
  - value: 'Illinois'
    label: 'Illinois'
  - value: 'Indiana'
    label: 'Indiana'
  - value: 'Iowa'
    label: 'Iowa'
  - value: 'Kansas'
    label: 'Kansas'
  - value: 'Kentucky'
    label: 'Kentucky'
  - value: 'Louisiana'
    label: 'Louisiana'
  - value: 'Maine'
    label: 'Maine'
  - value: 'Maryland'
    label: 'Maryland'
  - value: 'Massachusetts'
    label: 'Massachusetts'
  - value: 'Michigan'
    label: 'Michigan'
  - value: 'Minnesota'
    label: 'Minnesota'
  - value: 'Mississippi'
    label: 'Mississippi'
  - value: 'Missouri'
    label: 'Missouri'
  - value: 'Montana'
    label: 'Montana'
  - value: 'Nebraska'
    label: 'Nebraska'
  - value: 'Nevada'
    label: 'Nevada'
  - value: 'New Hampshire'
    label: 'New Hampshire'
  - value: 'New Jersey'
    label: 'New Jersey'
  - value: 'New Mexico'
    label: 'New Mexico'
  - value: 'New York'
    label: 'New York'
  - value: 'North Carolina'
    label: 'North Carolina'
  - value: 'North Dakota'
    label: 'North Dakota'
  - value: 'Ohio'
    label: 'Ohio'
  - value: 'Oklahoma'
    label: 'Oklahoma'
  - value: 'Oregon'
    label: 'Oregon'
  - value: 'Pennsylvania'
    label: 'Pennsylvania'
  - value: 'Rhode Island'
    label: 'Rhode Island'
  - value: 'South Carolina'
    label: 'South Carolina'
  - value: 'South Dakota'
    label: 'South Dakota'
  - value: 'Tennessee'
    label: 'Tennessee'
  - value: 'Texas'
    label: 'Texas'
  - value: 'Utah'
    label: 'Utah'
  - value: 'Vermont'
    label: 'Vermont'
  - value: 'Virginia'
    label: 'Virginia'
  - value: 'Washington'
    label: 'Washington'
  - value: 'West Virginia'
    label: 'West Virginia'
  - value: 'Wisconsin'
    label: 'Wisconsin'
  - value: 'Wyoming'
    label: 'Wyoming'
- name: zip
  label: Current Zip
  description: ''
  type: text
  value: ''
  placeholder: Zip Code
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: dob
  label: Date of Birth
  description: ''
  type: date
  value: 'You must be 18 years old by the time class starts. Contact us for more info.'
  placeholder:
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: do_you_own_a_laptop
  label: Do you own a laptop?
  description: ''
  type: select
  value: ''
  placeholder: Select One
  required: true
  small_width: "12"
  medium_width: "6"
  options:
  - value: true
    label: 'Yes'
  - value: false
    label: 'No'
edu_work_fields:
- name: highest_level_of_education_completed
  label: Highest level of education completed?
  description: ''
  type: select
  value: ''
  placeholder: Select one
  required: true
  small_width: "12"
  medium_width: "6"
  options:
  - value: High School Diploma/GED
    label: High School Diploma/GED
  - value: Some College, No Degree
    label: Some College, No Degree
  - value: 2-Year Associate Degree
    label: 2-Year Associate Degree
  - value: Bachelors Degree
    label: Bachelors Degree
  - value: Some Graduate Courses
    label: Some Graduate Courses
  - value: Graduate College Degree
    label: Graduate College Degree
- name: college_or_school_attended1
  label: Name of last school attended
  description: ''
  type: text
  value: ''
  placeholder: The last school you attended
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: current_occupation1
  label: Current occupation/job title
  description: ''
  type: text
  value: ''
  placeholder: Your current job title
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: current_company1
  label: Current Company
  description: ''
  type: text
  value: ''
  placeholder: Please enter your current company
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
coupon_input:
- name: coupon_code
  label: Coupon Code
  description: ''
  type: text
  value: ''
  placeholder: Coupon Code
  required: false
  small_width: "12"
  medium_width: "6"
  options: []
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
<div class="container mt-4 pt-1 pb-5">
  <div>
    <h2 class="font-family-alt mt-5 mt-sm-10 mb-md-4 mb-sm-10 display-5 text-center col-12 col-sm-10">
      {{ page.admission_heading }}
    </h2>
    <p>{{ page.admission_description }}</p>
    <div>
      {% for item in page.admission_list %}
        <ul amp-fx="fade-in" data-duration="600ms" data-margin-start="1%" data-margin-end="20%">
          <li>
            {{ item | liquify }}
          </li>
        </ul>
      {% endfor %}
    </div>
  </div>
  <div class="my-5 my-sm-10 px-4 p-lg-0 border mx-auto d-flex flex-column align-items-center">
      <h2 id="start-application" class="font-family-alt mt-5 mt-sm-10 mb-md-4 mb-sm-10 display-5 text-center col-12 col-sm-10">
        {{ page.heading }}
      </h2>
      <!-- Proccess Application -->
      <p class="text-center col-12 col-sm-10 mb-4">
        {{ page.app_descript }}
      </p>
    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ school.preapplication_form_guid }}"
      method="POST"
      target="_top"
    >
      <div class="col-12 col-sm-10 mx-auto">
        <h2 class="font-family-alt my-5 my-sm-10 display-5 text-center">
          About You
        </h2>
        <div class="row d-flex justify-content-center p-sm-2 p-md-5">
          {% include fields.html fields=page.form_fields %}
          <div class="col-12 my-5">
            <h2 class="text-center font-weight-bold mb-5">
              Education &amp; Work Experience
            </h2>
          </div>

          {% include fields.html fields=page.edu_work_fields %}
          <div class="col-12 col-md-6 mb-4">
            {% include select-start-date.html %}
          </div>
          <div class="col-12 col-md-6 mb-4">
            {% include select-payment-plan.html %}
          </div>
          {% include fields.html fields=page.coupon_input %}
          <div class="col-12 col-md-6 mb-4">
            {% include referral-question.html %}
          </div>

          <div class="mb-4 d-flex flex-column align-items-center">
            <!-- htmllint preset="none" -->
            <button class="mb-4 btn cta-gradient hover-white text-white hover-white {% if school.inverted != true %}btn-round{% endif %} {{ include.class | liquify }}" >
            <!-- htmllint preset="$previous" -->
              Submit
            </button>
            <div class="d-flex flex-column align-items-center">
              {% include data-agreement.html %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
