---
layout: default
permalink: "/apply/"
redirect_from:
  - "/application"
head_title: "Start Your Application | Apply Now at {{ key_settings.school }}"
description: "Apply now to learn to code with {{ key_settings.school }} | Fill out your short application to get on the path to a career in web development."

form_fields:
- name: lifecyclestage
  label:
  description:
  type: hidden
  value: opportunity
  placeholder:
  required:
  small_width:
  medium_width:

- name: filled_out_application
  label:
  description:
  type: hidden
  value: true
  description:
  placeholder:
  required:
  small_width:
  medium_width:

- name: firstname
  label: First Name
  description:
  type: text
  value:
  placeholder: First Name
  required: true
  small_width: 12
  medium_width: 6

- name: lastname
  label: Last Name
  description:
  type: text
  value:
  placeholder: Last Name
  required: true
  small_width: 12
  medium_width: 6

- name: phone
  label: Phone
  description:
  type: tel
  value:
  placeholder: (***)***-****
  required: true
  small_width: 12
  medium_width: 6

- name: email
  label: Email
  description:
  type: email
  value:
  placeholder: name@example.com
  required: true
  small_width: 12
  medium_width: 6

- name: city
  label: Your Current City
  description:
  type: text
  value:
  placeholder: City
  required: true
  small_width: 12
  medium_width: 6

- name: state
  label: State
  description:
  type: text
  value:
  placeholder: ST
  required: true
  small_width: 12
  medium_width: 6

- name: are_you_18_or_older_
  label: Will you be at least 18 by the time your classes begin?
  description:  Please note that you must be at least 18 years old by the time your
    classes begin to apply to {{ key_settings.school }}. You also must have a
    High School Diploma or GED.
  type: select
  value:
  options:
  - value: true
    label: 'Yes'
  - value: false
    label: 'No'
  placeholder: Select One
  required: true
  small_width: 12
  medium_width: 12

- name: current_occupation1
  label: Current Occupation or Job Title
  description:
  type: text
  value:
  placeholder: Your current job title
  required: true
  small_width: 12
  medium_width: 6

- name: current_company1
  label: Current Company
  description:
  type: text
  value:
  placeholder: Please enter your current company
  required: true
  small_width: 12
  medium_width: 6

- name: college_or_school_attended1
  label: Last School Attended
  description:
  type: text
  value:
  placeholder: The last school you attended
  required: true
  small_width: 12
  medium_width: 6

- name: what_experience_if_any_do_you_have_in_coding_currently_
  label: What experience do you have in coding?
  description:
  type: select
  value:
  options:
  - value: None at all!
    label: None at all!
  - value: I've dabbled with some online tutorials
    label: I've dabbled with some online tutorials.
  - value: Solid fundamentals but not ready for a job
    label: Solid fundamentals but not ready for a job.
  - value: I'm a professional developer
    label: Professional developer, gaining more skills.
  placeholder: Select your answer
  required: true
  small_width: 12
  medium_width: 6

- name: how_do_you_intend_to_pay_for_the_course_
  label: How do you intend to pay for the course?
  description:
  type: select
  value:
  options:
  - value: I'll be paying on my own.
    label: Paying on my own
  - value: Planning to finance
    label: I'm planning to finance tuition.
  - value: Employer will be paying / reimbursing
    label: My employer will be paying/reimbursing me.
  - value: Other
    label: Other
  placeholder: Select your answer
  required: true
  small_width: 12
  medium_width: 6

- name: which_of_these_best_describes_you_
  label: Which of these best describes you?
  description:
  type: select
  value:
  options:
  - value: I'm researching coding bootcamps.
    label: I'm researching coding bootcamps.
  - value: I'm teaching myself to code, but I'm stuck.
    label: I'm teaching myself to code, but I'm stuck.
  - value: I'm interested in a career in tech.
    label: I'm interested in a career in tech.
  - value: I'm an entrepreneur with an idea.
    label: I'm an entrepreneur with an idea.
  - value: I'm looking for a college alternative.
    label: I'm looking for a college alternative.
  - value: I want to learn a new skill for my current job.
    label: I want to learn a new skill for my current job.
  placeholder: Select your answer
  required: true
  small_width: 12
  medium_width: 6

austincodingacademy:
  form_fields:
  - name: curriculum_track
    label: To which program are you applying?
    description:
    type: select
    value:
    options:
    - value: Full Stack JavaScript Track
      label: Full-Stack Web Development Track
    - value: Wordpress & Web Design (WP Engine)
      label: Wordpress & Web Design (WP Engine)
    placeholder: Select your answer
    required: true
    small_width: 12
    medium_width: 6

  - name: campus_interest_new
    label: Which campus are you interested in?
    description:
    type: select
    value:
    options:
    - value: Austin
      label: Downtown - Capital Factory
    - value: Austin - North
      label: Central - Highland
    - value: Either campus works!
      label: Either campus works!
    - value: Remote
      label: Remote (Outside of Austin)
    placeholder: Select your answer
    required: true
    small_width: 12
    medium_width: 6

lubbockcodingaademy:
  form_fields:
  - name: date_of_birth1
    label: Date of Birth
    description:
    type: date
    value:
    placeholder:
    required: true
    small_width: 12
    medium_width: 6

texastechuniversitycodingacademy:
  form_fields: []
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% assign key_settings = settings[site.key] %}
  {% endif %}
{% endfor %}

<div class="container mt-90 pt-1 pb-5">
  <div class="my-10 px-4 p-lg-0 border mx-auto">
    <h2 class="font-family-alt my-10 display-5 text-center">
      Student Application
    </h2>
    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ key_settings.application_form_guid }}"
      method="POST"
      target="_top"
    >
      <div class="row p-5">
        {% assign all_fields = page.form_fields | concat: page[site.key].form_fields %}
        {% include fields.html fields=all_fields %}

        <div class="col-12 mb-4">
          {% include referral-question.html %}
        </div>

        <div class="col-12 mb-4 d-flex justify-content-center">
          <button class="btn btn-round text-white bg-primary-dark" type="Submit">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
