---
layout: default
permalink: "/apply/ltc/"
amp_components:
- amp-recaptcha-input
redirect_from:
- "/apply/1/"
- "/application/"
- "/application/1/"
title: Application
head_title: "Start Your Application | Apply Now at {{ school.name }}"
description: "Apply now to learn to code with {{ school.name }} | Fill out your short application to get on the path to a career in web development."
heading: "Start Your Application"
app_descript: Get started by filling out our application and setting up a call with our admissions team.
process:
- heading: Apply
  text: Get started by filling out our application and setting up a call with our admissions team.
  img_src: '/assets/uploads/wp-apply.png'
  time: (~ 5 Minutes)
  img_width: 70
  img_height: 70
- heading: Assignment
  text: After speaking with our admissions team, you’ll be asked to complete a brief assignment.
  img_src: '/assets/uploads/wp-assignment.png'
  time: (~ 1-2 Hours)
  img_width: 70
  img_height: 70
- heading: Acceptance Decision
  text: Once you’ve successfully completed your assignment, you’ll be able to begin class.
  img_src: '/assets/uploads/wp-enroll.png'
  time:
  img_width: 70
  img_height: 70
schools:
- key: circlecoding
  form_fields:
  - name: firstname
    label: First Name
    description: ''
    type: text
    value: ''
    options: []
    placeholder: First Name
    required: true
    small_width: 12
    medium_width: 6
  - name: lastname
    label: Last Name
    description: ''
    type: text
    value: ''
    placeholder: Last Name
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: phone
    label: Phone
    description: ''
    type: tel
    value: ''
    placeholder: "(***)***-****"
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: email
    label: Email
    description: ''
    type: email
    value: ''
    placeholder: name@example.com
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: circle_program_interest_cp
    type: hidden
    value: 'Full Stack Web Development'
    required: true
- key: austincodingacademy
  form_fields:
  - name: firstname
    label: First Name
    description: ''
    type: text
    value: ''
    options: []
    placeholder: First Name
    required: true
    small_width: 12
    medium_width: 6
  - name: lastname
    label: Last Name
    description: ''
    type: text
    value: ''
    placeholder: Last Name
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: phone
    label: Phone
    description: ''
    type: tel
    value: ''
    placeholder: "(***)***-****"
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: email
    label: Email
    description: ''
    type: email
    value: ''
    placeholder: name@example.com
    required: true
    small_width: 12
    medium_width: 6
    options: []
- key: lubbockcodingacademy
  form_fields:
  - name: firstname
    label: First Name
    description: ''
    type: text
    value: ''
    options: []
    placeholder: First Name
    required: true
    small_width: 12
    medium_width: 6
  - name: lastname
    label: Last Name
    description: ''
    type: text
    value: ''
    placeholder: Last Name
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: phone
    label: Phone
    description: ''
    type: tel
    value: ''
    placeholder: "(***)***-****"
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: email
    label: Email
    description: ''
    type: email
    value: ''
    placeholder: name@example.com
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: circle_program_interest_cp
    type: hidden
    value: 'Full Stack C# .NET Track'
  - name: zollege_school_new_
    type: hidden
    value: Lubbock Coding Academy
- key: texastechcodingacademy
  form_fields:
  - name: firstname
    label: First Name
    description: ''
    type: text
    value: ''
    options: []
    placeholder: First Name
    required: true
    small_width: 12
    medium_width: 6
  - name: lastname
    label: Last Name
    description: ''
    type: text
    value: ''
    placeholder: Last Name
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: phone
    label: Phone
    description: ''
    type: tel
    value: ''
    placeholder: "(***)***-****"
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: email
    label: Email
    description: ''
    type: email
    value: ''
    placeholder: name@example.com
    required: true
    small_width: 12
    medium_width: 6
    options: []
  - name: circle_program_interest_cp
    type: hidden
    value: 'Full Stack Web Development'
    required: true
redirect_url: "{% include school-url.html %}/apply-two/ltc/"
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
{% include apply.html redirect_url=page.redirect_url ltc=true %}
