---
layout: default
img: "/assets/uploads/hero-blog.jpg"
permalink: "/blog/"
head_title: Coding Blog | {{ school.name }}
description: Read the {{ school.name }} blog to get the latest news and tips on coding bootcamps, learning to code, web development, JavaScript, C# and .NET, and career development.
hero: blog
redirect_from: []
amp_components: []
title: Blog
header_post: MySpace and the Coding Legacy it Left Behind
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

{% for post in site.posts %}
<div>
  <!-- {{ post.title | liquify }}
  {{ header_post | liquify }} -->
</div>
  {% assign posttitle = post.title | liquify %}
  {% assign headtitle = header_post | liquify %}
  {% if post.title == page.header_post %}
    {% assign head = post%}
  {% endif %}
{% endfor %}
<div class="d-flex flex-row   ">
  <div class="mb-5 d-flex flex-row" style="height: 300px; width: 300px;">
    <img layout="responsive"  src="{{ head.img | liquify }}" width="400px" height="400px"/>
  </div>
  <div class="  .flex-column align-items-center  ">
    <h2>{{ head.title }}</h2>
    <p>{{ head.excerpt }}</p>
  </div>
</div>
<!-- <article class="card border-0">
  <div class="card-body p-0">
    <a href="{{ post.url }}">
      <div class="mb-5">
        <amp-img height="172" layout="responsive" class="img-fluid mw-100 rounded" src="{{ post.img | liquify }}" alt="{{ blog.alt | liquify }}"></amp-img>
      </div>
    </a>
    <small class="d-block text-secondary mb-1">
      {{ blog.date }}
    </small>
    <a href="{{ post.url }}">
      <h2 class="h5">
        {{ post.title | liquify }}
      </h2>
    </a>
    <p>
      {{ post.excerpt | liquify }}
    </p>
  </div>
</article> -->