---
layout: default
img: "/assets/uploads/hero-blog.jpg"
permalink: "/blog/"
head_title: Coding Blog | {{ school.name }}
description: Read the {{ school.name }} blog to get the latest news and tips on coding bootcamps, learning to code, web development, JavaScript, C# and .NET, and career development.
hero: blog
redirect_from: []
amp_components: []
title: Blog
header_post: 'MySpace and the Coding Legacy it Left Behind'
popular_posts: 
- 'Zollege PBC Acquires Austin Coding Academy'
- 'Why You Should Make Time to Learn Coding'
- '5 Tips to Help You Learn Coding Faster'

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}



{% for post in site.posts %}
<div>
  <!-- {{ post.title | liquify }}
  {{ header_post | liquify }} -->
</div>
  {% assign posttitle = post.title | liquify %}
  {% assign headtitle = header_post | liquify %}
  {% if post.title == page.header_post %}
    {% assign head = post%}
  {% endif %}
{% endfor %}
<div class="d-flex flex-row  ">
  <div class="mb-5 d-flex flex-row p-4" style="height: 800px; width: 800px;">
    <img layout="responsive"  src="{{ head.img | liquify }}" height="600px" width="600px"/>
  </div>
  <div class="  .flex-column align-items-center  ">
    <h2>{{ head.title }}</h2>
    <p>{{ head.excerpt }}</p>
  </div>
</div>

<main id="content" role="main">
  
    <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
        Latest
      </h2>
  
  <div class="container my-10">
    <div class="row justify-content-center">
      {% for post in site.posts limit: 4 %}
        {% if post.school_keys contains school.key %}
          <div class="col-12 col-md-4 card-deck d-flex align-items-center align-items-sm-start justify-content-center mb-sm-7">
            <article class="card border-0 h-100">
              <div class="card-body p-0 d-flex flex-column justify-content-between">
                <div>
                  <a href="{{ post.url }}">
                    <div class="mb-5">
                      <amp-img height="172" layout="responsive" class="img-fluid mw-100 rounded" src="{{ post.img | liquify }}" alt="{{ blog.alt | liquify }}"></amp-img>
                    </div>
                  
                  </a>
                  <small class="d-block text-secondary mb-1">
                    {{ post.updated_at | date: "%B %d, %Y" | liquify }}
                  </small>
                  <a href="{{ post.url }}">
                    <h2 class="h5">
                      {{ post.title | liquify }}
                    </h2>
                  </a>
                  <p>
                    {{ post.excerpt | liquify }}
                  </p>
                </div>
                <div>
                  <div class="d-flex flex-column">
                    <div class="p-2">{{ post.author_name | liquify }}</div>
                  </div>
         
                  <div class="d-flex justify-content-between">
                    <div class="p-2">5 Minute Read</div>
                    <div class="p-2"><i class="fas fa-share-square"></i></div>
                  </div>
                </div>
                  
              </div>
            </article>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>



  
    <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
        Most Popular
    </h2>
  
  <div class="container my-10">
    <div class="row justify-content-center">
      {% for post in site.posts %}
        {% if page.popular_posts contains post.title %}
          <div class="col-12 col-md-4 card-deck d-flex align-items-center align-items-sm-start justify-content-center mb-sm-7">
            <article class="card border-0 h-100">
              <div class="card-body p-0 d-flex flex-column justify-content-between">
                <div>
                  <a href="{{ post.url }}">
                    <div class="mb-5">
                      <amp-img height="172" layout="responsive" class="img-fluid mw-100 rounded" src="{{ post.img | liquify }}" alt="{{ blog.alt | liquify }}"></amp-img>
                    </div>
                  </a>
                  <small class="d-block text-secondary mb-1">
                    {{ post.updated_at | date: "%B %d, %Y" | liquify }}
                  </small>
                  <a href="{{ post.url }}">
                    <h2 class="h5">
                      {{ post.title | liquify }}
                    </h2>
                  </a>
                  <p>
                    {{ post.excerpt | liquify }}
                  </p>
                </div>
                <div>
                  <div class="d-flex flex-column">
                    <div class="p-2">{{ post.author_name | liquify }}</div>
                  </div>
        
                  <div class="d-flex justify-content-between">
                    <div class="p-2">5 Minute Read</div>
                    <div class="p-2"><i class="fas fa-share-square"></i></div>
                  </div>
                </div>
                
              </div>
            </article>
          
          </div>
   
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
    More Blog Posts
  </h2>
  
  <div class="container my-10">
    <div class="row justify-content-center">
      {% for post in site.posts limit: 4 %}
          <div class="col-12 col-md-6 card-deck d-flex align-items-center align-items-sm-start justify-content-center mb-sm-7">
            <article class="card border-0 h-100">
              <div class="card-body p-0 d-flex flex-column justify-content-between">
                <a href="{{ post.url }}">
                  <div class="mb-5">
                  <amp-img height="172" layout="responsive" class="img-fluid mw-100 rounded" src="{{ post.img | liquify }}" alt="{{ blog.alt | liquify }}"></amp-img>
                  <!-- </div> -->
                </a>
                <a href="{{ post.url }}">
                  <h2 class="h5">
                    {{ post.title | liquify }}
                  </h2>
                  <p class="text-white mx-auto">
                    {{ item.text | liquify }}
                  </p>
                </a>
              </div>
            </article>
          </div>
      {% endfor %}
    </div>
  </div>
  
 
</main>