---
layout: default
permalink: /corporate-training/
austin:
  title: Corporate Training | Austin Coding Academy Professional Services
  heading: Corporate Training
  subheading:
  sections:
    - title: Custom Training (flexible lengths)
      description: "Austin Coding Academy offers a wide variety of technology and skill training. Want your
        developer team to learn React Native? Reskill some of your helpdesk team to learn development? ACA
        can build the curriculum, and structure of delivery, that works for your team."
      header: "We’ve delivered training in:"
      bullets:
      - React/React Native
      - C#/.NET
      - Java/Spring Boot
      - Serverless backend
      - Many more…
    - title: Seminars (8 weeks)
      description: "Companies upskilling 1-5 employees at a time find our seminars to be a perfect fit. Affordable,
        targeting, and scheduled outside of work hours, you can get your employees the training they need without
        disrupting the work week. Our 8-week seminars are designed to leave participants with a solid understanding
        of the technology and projects to prove it!"
      header: "Our current offerings:"
      bullets:
      - C#
      - .Net framework
      - Product design
      - Wordpress
      - Web VR
    - title: Intensives (1 - 3 days)
      description: "Don’t have time for an 8-week seminar? For those single technologies your team needs to learn quick,
        ACA has put together all you need to know to get started producing."
      header: "Some of our one-off intensives include:"
      bullets:
      - React Native
      - Selenium Testing
      - RESTful APIs
      - Web VR
  lubbock:
    title: Corporate Training | Lubbock Coding Academy Professional Services
    heading: Corporate Training
    subheading:
    sections:
      - title:
        description:
        header:
        bullets:
        -
        -
        -
      - title:
        description:
        header:
        bullets:
        -
        -
        -
      - title:
        description:
        header:
        bullets:
        -
        -
        -

---

{% assign city = page[site.key] %}

<main class="mt-90 pt-1 pb-5">
  <div class="my-10 container">
    <h1 class="text-center font-family-alt font-weight-bold display-5">
      {{ city.heading }}
    </h1>
    <p class="text-center display-6">
      {{ city.subheading }}
    </p>
  </div>
  <div class="d-flex flex-column align-items-center">
    {% for section in city.sections %}
      <section class="mw-850 mb-3">
        <div class="container-fluid py-3">
          <h2 class="mb-4 font-family-alt font-weight-bold">
            {{section.title}}
          </h2>
          <p class="m-0 mw-600">
            {{section.description}}
          </p>
        </div>
        <div class="pl-3 mw-450 d-flex flex-column">
          <h5 class="py-3">
            {{ section.header }}
          </h5>
          <ul class="fa-ul m-0">
            {% for bullet in section.bullets %}
              <li class="mb-1">
                <span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{ bullet }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    {% endfor %}
  </div>
</main>