---
layout: default
permalink: "/course-guide/"
head_title: "Course Guide | {{ school.name }}"
description: ""
redirect_from: []
title: Course Guide
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="container mt-90 space-2">
  <div class="card-deck d-flex justify-content-center">
    {% include course-guide-form.html %}
  </div>
</div>