---
layout: default
permalink: "/diversity-scholarship/"
amp_components:
- amp-carousel
- amp-lightbox
hide_apply: 'd-none'
redirect_from: []
hero: diversity
hero_heading1: Austin Coding Academy
hero_heading2: Diversity Scholarship
hero_text: Austin Coding Academy is excited to be accepting applications for our 2020
  Diversity Scholarship! This scholarship will cover tuition, in-full, for our Full
  Stack Web Development Program, with the recipient starting class in January 2020.
  Continue reading for more information on the application process and timeline,
  eligibility, and more.
scholarship_descript: November 19th - December 11th, we will be accepting applications
  to our Annual Diversity Scholarship from candidates who are ready to take control of
  their own destiny. This scholarship will cover the full cost of tuition, textbook,
  and tutoring for our Full Stack Web Development Program. Applicants must be ready to
  enroll in class beginning in January, and commit to completing the entire 32-week
  program. Applicants can choose to attend classes at either our Capital Factory Campus
  (January 14th) or our Highland Campus (January 27th).
app_process:
  heading: Scholarship Application Process
  sections:
  - subheading: Submit an Application
    text: The Diversity Scholarship application is 2 pages long and consists of a couple of short
      answer questions and a short “open-book” coding assignment. After you finish the application,
      you will be asked to schedule a phone interview with one of our admissions representatives. To
      be considered for the Diversity Scholarship, your application must be submitted by Wednesday, December 11th
  - subheading: 15-Minute Phone Interview
    text: During your scheduled phone interview an Austin Coding Academy admissions representative will review your
      application, answer any questions you may have about the program or scholarship process, give you information
      about our program, and get to know your goals with learning to code. To be considered for the Diversity Scholarship,
      your phone interview must be completed by Thursday, December 12th.
  - subheading: In-Person Interview with Finalists
    text: 3 Finalists for the Diversity Scholarship will be announced on Friday, December 13th. Finalists will be
      required to be available to attend an in-person interview on the evening on Tuesday, December 17th. An independent
      panel will select the finalist who will receive the Diversity Scholarship, to be applied to Austin Coding Academy’s
      Full Stack Web Development Program.
timeline:
  heading: Scholarship Timeline
  bullets:
  - "Tuesday, November 19th: Applications Open"
  - "Wednesday, December 11th: Application Deadline"
  - "Thursday, December 12th: Phone Interview Deadline"
  - "Friday, December 13th: 3 Finalists Will Be Notified"
  - "Tuesday, December 17th: Final In-Person Interview"
  - "Wednesday, December 18th: Scholarship Recipient Announced"
  - "January 14th or January 27th: Scholarship Recipient Begins Class"
eligibility:
  heading: Eligibility Requirements
  sections:
  - descript: "Eligibility for the Austin Coding Academy Diversity Scholarship is determined based on a variety of factors.
      Students applying for the scholarship must meet the following requirements to be considered for the Diversity Scholarship:"
    bullets:
    - bullet: Read through all portions of this page thoroughly
    - bullet: Submit the Diversity Scholarship Application by Wednesday, December 11th
    - bullet: Complete a 15-minute phone interview with an Austin Coding Academy admissions representative by Thursday, December 12th
    - bullet: Be available to interview with the independent Diversity Scholarship Committee on Tuesday, Dec. 17, 2019
    - bullet: "Be prepared to enroll in Austin Coding Academy’s Full Stack Web Development Program, beginning:"
      sub_bullets:
      - bullet: January 14th @ Austin Coding Academy - Capital Factory
      - bullet: January 27th @ Austin Coding Academy - Highland
    - bullet: January 27th @ Austin Coding Academy - Highland
    - bullet: Meet in-person attendance requirements for Austin Coding Academy classes, as regulated by the Texas Workforce Commission
    - bullet: Intend to complete a full web development track at Austin Coding Academy within a year - note that if you drop a class, you’ll be charged for the portion of the class you completed
    - bullet: Intend to pursue a career in technology upon graduating from Austin Coding Academy
    - bullet: Engage in the promotion of future Austin Coding Academy Diversity initiatives and be willing to volunteer to bring technical education to diverse communities
  - descript: "The Diversity Scholarship application is open to all, but the Selection Committee will consider key components when determining eligibility and fit, including:"
    bullets:
    - bullet: Preference given to students who have shown a commitment to groups that are underrepresented in technology
    - bullet: Preference given to students with financial need
    - bullet: The recipient will be selected by a Selection Committee of 5-7 distinguished and independent individuals in the field of technology. The deliberations of the Selection Committee
        will be confidential and independent of Austin Coding Academy
overview:
- title: Tech’s Diversity Problem
  text: The current makeup of the tech industry fails to represent the cultural makeup
    and trends of Austin, Texas and the United States as a whole. Our world is becoming
    more diverse by the day, and as tech plays an increasingly important role in
    shaping it, the tech workforce should represent this shift. Austin Coding Academy
    is committed to a diverse and representative tech workforce for the future.
  img_src: "/assets/images/div-school-tech-diversity-problem.jpg"
  odd: true
- title: Implications for the Future
  text: The tech industry is instrumental in driving changes in our everyday life –
    from social networking, to smart homes and cars, to creating solutions to the
    biggest challenges we face in society. A tech workforce that truly represents how
    diverse we are, makes sure that all perspectives are considered in the solutions
    that we create.
  img_src: "/assets/images/div-school-future-implications.jpg"
- title: What We’re Doing to Help
  text: Since being founded in 2014, Austin Coding Academy has maintained a commitment
    to accessibility and affordability. Our Diversity Scholarship is another effort
    to make sure that we are promoting accessibility and diversity in tech, by making
    our transformative education available to even more well-qualified candidates.
  img_src: "/assets/images/div-school-what-were-doing-to-help.jpg"
  odd: true
scholarship:
  heading: About this Scholarship
  img_src: "/assets/images/div-school-about-this-scholarship.jpg"
  subheading: Now Accepting Applications
  p1: November 19th - December 11th, we will be accepting applications to our
    Annual Diversity Scholarship from candidates who are ready to take control
    of their own destiny. This scholarship will cover the full cost of tuition,
    textbook, and tutoring for our Full Stack Web Development Program. Applicants
    must be ready to enroll in class beginning in January, and commit to completing
    the entire 32-week program. Applicants can choose to attend classes at either our
    Capital Factory Campus (January 14th) or our Highland Campus (January 27th).
  p2: The recipient of the scholarship will enroll into Austin Coding Academy’s
    32-week Full Stack Web Development Program, beginning on either January 14th or
    27th, 2020. Upon completion of the program, the awardee will take our 4-week Job
    Placement course, that gives graduates the necessary tools to land their first
    role. Austin Coding Academy is committed to helping our students make the
    transition into tech and put their newfound skills to work. In this course,
    students will learn how to construct a resume, cultivate their web presence,
    approach the interview process with confidence, and more.
  p3: We’re looking for candidates who have grit, determination and who are interested
    in pursuing a career in tech -- no coding or tech background is required. To apply,
    please read all of the details below and then submit your application.
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<!-- htmllint preset="none" -->
<div id="hero-{{ page.hero | liquify }}" class="bg-gradient hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  <h1 class="mt-10 mb-2 mb-md-2 text-white font-family-alt font-weight-bold display-55 display-sm-4 text-center">
    {{ page.hero_heading1 | liquify }}
  </h1>
  <h1 class="mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-55 display-sm-4 text-center mx-sm-5">
    {{ page.hero_heading2 | liquify }}
  </h1>
  <p class="text-white text-center mx-auto px-2 mw-600">
    {{ page.hero_text | liquify }}
  </p>
  <div class="d-flex mt-4 align-items-center justify-content-center">
    <div class="mr-2">
      {% include btn-apply.html href="/diversity-scholarship/apply" %}
    </div>
  </div>
</div>

<main>
  <section class="d-flex flex-column justify-content-center align-items-center">
    {% for item in page.overview %}
      {% if item.odd %}
        <div class="d-flex flex-wrap-reverse">
          <div class="w-100 w-sm-50 px-6 py-6 py-sm-0 d-flex flex-column justify-content-center">
            <h3 class="text-center text-sm-left">
              {{ item.title | liquify }}
            </h3>
            <p class="text-center text-sm-left">
              {{ item.text | liquify }}
            </p>
          </div>
          <div class="w-100 w-sm-50">
            <amp-img
              layout="responsive"
              class="img-fluid"
              width="3535"
              height="2146"
              src="{{ item.img_src | liquify }}"
            >
            </amp-img>
          </div>
        </div>
      {% else %}
        <div class="d-flex flex-wrap flex-sm-row">
          <div class="w-100 w-sm-50">
            <amp-img
              layout="responsive"
              class="img-fluid"
              width="3535"
              height="2146"
              src="{{ item.img_src | liquify }}"
            >
            </amp-img>
          </div>
          <div class="w-100 w-sm-50 px-6 py-6 py-sm-0 d-flex flex-column justify-content-center">
            <h3 class="text-center text-sm-left">
              {{ item.title | liquify }}
            </h3>
            <p class="text-center text-sm-left">
              {{ item.text | liquify }}
            </p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </section>

  {% assign scholarship = page.scholarship %}
  <section class="container-fluid d-flex py-6 flex-column justify-content-center align-items-center bg-textured">
    <div class="col-md-8 d-flex flex-column align-items-center justify-content-center">
      <h2 class="text-center display-5 font-family-alt py-6 text-white">
        {{ scholarship.heading | liquify }}
      </h2>
    </div>

    <div class="container flex-wrap-reverse flex-sm-nowrap d-flex justify-content-between align-items-center my-2 p-4">
      <div class="w-100 w-sm-50 p-0 pr-sm-4 mt-4 my-sm-auto">
        <amp-img
          layout="responsive"
          class="img-fluid shadow-black"
          width="3535"
          height="2146"
          src="{{ scholarship.img_src | liquify }}"
        >
        </amp-img>
      </div>
      <div class="w-100 w-sm-50 m-0 ml-sm-4">
        <h3 class="text-white text-center text-sm-left">
          {{ scholarship.subheading | liquify }}
        </h3>
        <p class="text-white my-4 my-sm-0">
          {{ scholarship.p1 | liquify }}
        </p>
      </div>
    </div>
    <div class="container py-4 py-sm-8">
      <p class="text-white">
        {{ scholarship.p2 | liquify }}
      </p>
      <p class="text-white">
        {{ scholarship.p3 | liquify }}
      </p>
    </div>
  </section>
  <!-- PROCESS -->
  <section class="container d-flex flex-column justify-content-center">
    {% assign process = page.app_process %}
    <div class="display-5 font-family-alt py-8 text-center">
      {{ process.heading }}
    </div>
    {% assign sections = process.sections %}
    {% for item in sections %}
      <div class="py-5">
        <div class="display-7 font-family-alt mb-5 text-center text-sm-left">
          {{ item.subheading | liquify }}
        </div>
        <p class="text-center text-md-left">
          {{ item.text | liquify }}
        </p>
      </div>
    {% endfor %}
  </section>

  <!-- Timeline -->
  {% assign timeline = page.timeline %}
  <section class="container py-8">
    <div class="mb-4 d-flex flex-column justify-content-center">
      <div class="display-5 font-family-alt pb-6 text-center">
        {{ timeline.heading }}
      </div>
    </div>
    <ul class="fa-ul mb-2">
      {% for bullet in timeline.bullets %}
        <li class="mb-1">
          <span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{ bullet | liquify }}
        </li>
      {% endfor %}
    </ul>
    <div class="text-center mt-10 mb-2">
      {% include btn-apply.html href="/diversity-scholarship/apply" %}
    </div>
  </section>
  <!-- Eligibility -->
  <!-- htmllint preset="none" -->
  <div class="bg-textured">
    <section class="container text-white py-8">
      {% assign eligibility = page.eligibility %}
      <div class="display-5 font-family-alt text-center">
        {{ eligibility.heading | liquify }}
      </div>
      {% assign sections = eligibility.sections %}
      {% for section in sections %}
        <div class="py-8 text-center px-8">
          {{ section.descript | liquify }}
        </div>
        <ul class="fa-ul mb-2">
          {% for bullet in section.bullets %}
            {% if bullet.sub_bullets %}
              <li class="mb-1">
                <span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{ bullet.bullet | liquify }}
                {% for bullet in bullet.sub_bullets %}
                  <li class="ml-4 mb-2">
                    <span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{ bullet.bullet | liquify }}
                  </li>
                {% endfor %}
              </li>
            {% else %}
              <li class="mb-1">
                <span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{ bullet.bullet | liquify }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
    </section>
    <!-- htmllint preset="$previous" -->

    <section class="container mx-auto pt-3 pb-5 border-bottom">
      <h2 class="display-7 text-center text-sm-left font-family-alt pt-0 pb-6 py-sm-6 text-white">
        Disclaimer
      </h2>
      <p class="text-white text-center text-sm-left mx-0 mx-sm-4">
        Austin Coding Academy is proud to be an equal opportunity educational
        institution. We are committed to equal opportunity regardless of race,
        color, ancestry, religion, sex, national origin, sexual orientation, age,
        citizenship, marital status, disability, gender identity or Veteran status.
      </p>
    </section>
  </div>

  <section class="col-xs-11 col-sm-11 my-6 mx-auto py-5">
    <div class="container mw-600">
      <h3 class="font-family-alt font-weight-bold text-center display-5">
        Questions?
      </h3>
      {% include contact-form.html %}
    </div>
  </section>
</main>