---
layout: default
permalink: "/diversity-scholarship/apply/"
redirect_from:
- "/diversity-scholarship/apply/1/"
- "/diversity-scholarship/application/"
- "/diversity-scholarship/application/1/"
head_title: "Diversity Scholarship Application"
description: "Apply now to learn to code with {{ school.name }} | Fill out your short application to get on the path to a career in web development."
hide_apply: 'd-none'
process:
- heading: Apply
  text: Get started by filling out our application and setting up a call with our admissions team.
  img_src: '/assets/images/wp-apply.png'
  time: (~ 5 Minutes)
  img_width: 70
  img_height: 70
- heading: Assignment
  text: After speaking with our admissions team, you’ll be asked to complete a brief assignment.
  img_src: '/assets/images/wp-assignment.png'
  time: (~ 1-2 Hours)
  img_width: 70
  img_height: 70
- heading: Acceptance Decision
  text: Once you’ve successfully completed your assignment, you’ll be able to begin class.
  img_src: '/assets/images/wp-enroll.png'
  time:
  img_width: 70
  img_height: 70

form_fields:
- name: firstname
  label: First Name
  description: ''
  type: text
  value: ''
  options: []
  placeholder: First Name
  required: true
  small_width: 12
  medium_width: 6
- name: lastname
  label: Last Name
  description: ''
  type: text
  value: ''
  placeholder: Last Name
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: phone
  label: Phone
  description: ''
  type: tel
  value: ''
  placeholder: "(***)***-****"
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: email
  label: Email
  description: ''
  type: email
  value: ''
  placeholder: name@example.com
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: email
  label: ''
  description: ''
  type: hidden
  value: ''
  placeholder: ''
  required: ''
  small_width: ''
  medium_width: ''
  options: []
- name: application_submission_url
  label: ''
  description: ''
  type: hidden
  value: "{{ school.url }}{{ site.baseurl }}{{ page.permalink }}"
  placeholder: ''
  required: ''
  small_width: ''
  medium_width: ''
  options: []
- name: lifecyclestage
  label: ''
  description: ''
  type: hidden
  value: opportunity
  placeholder: ''
  required: ''
  small_width: ''
  medium_width: ''
  options: []
- name: filled_out_application
  label: ''
  description: ''
  type: hidden
  value: true
  placeholder: ''
  required: ''
  small_width: ''
  medium_width: ''
  options: []
- name: city
  label:  Current City
  description: ''
  type: text
  value: ''
  placeholder: City
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: state
  label: Current State
  description: ''
  type: select
  value: ''
  placeholder: State
  required: true
  small_width: "12"
  medium_width: "6"
  options:
  - value: 'Alabama'
    label: 'Alabama'
  - value: 'Alaska'
    label: 'Alaska'
  - value: 'Arizona'
    label: 'Arizona'
  - value: 'Arkansas'
    label: 'Arkansas'
  - value: 'California'
    label: 'California'
  - value: 'Colorado'
    label: 'Colorado'
  - value: 'Connecticut'
    label: 'Connecticut'
  - value: 'Delaware'
    label: 'Delaware'
  - value: 'District of Columbia'
    label: 'District of Columbia'
  - value: 'Florida'
    label: 'Florida'
  - value: 'Georgia'
    label: 'Georgia'
  - value: 'Hawaii'
    label: 'Hawaii'
  - value: 'Idaho'
    label: 'Idaho'
  - value: 'Illinois'
    label: 'Illinois'
  - value: 'Indiana'
    label: 'Indiana'
  - value: 'Iowa'
    label: 'Iowa'
  - value: 'Kansas'
    label: 'Kansas'
  - value: 'Kentucky'
    label: 'Kentucky'
  - value: 'Louisiana'
    label: 'Louisiana'
  - value: 'Maine'
    label: 'Maine'
  - value: 'Maryland'
    label: 'Maryland'
  - value: 'Massachusetts'
    label: 'Massachusetts'
  - value: 'Michigan'
    label: 'Michigan'
  - value: 'Minnesota'
    label: 'Minnesota'
  - value: 'Mississippi'
    label: 'Mississippi'
  - value: 'Missouri'
    label: 'Missouri'
  - value: 'Montana'
    label: 'Montana'
  - value: 'Nebraska'
    label: 'Nebraska'
  - value: 'Nevada'
    label: 'Nevada'
  - value: 'New Hampshire'
    label: 'New Hampshire'
  - value: 'New Jersey'
    label: 'New Jersey'
  - value: 'New Mexico'
    label: 'New Mexico'
  - value: 'New York'
    label: 'New York'
  - value: 'North Carolina'
    label: 'North Carolina'
  - value: 'North Dakota'
    label: 'North Dakota'
  - value: 'Ohio'
    label: 'Ohio'
  - value: 'Oklahoma'
    label: 'Oklahoma'
  - value: 'Oregon'
    label: 'Oregon'
  - value: 'Pennsylvania'
    label: 'Pennsylvania'
  - value: 'Rhode Island'
    label: 'Rhode Island'
  - value: 'South Carolina'
    label: 'South Carolina'
  - value: 'South Dakota'
    label: 'South Dakota'
  - value: 'Tennessee'
    label: 'Tennessee'
  - value: 'Texas'
    label: 'Texas'
  - value: 'Utah'
    label: 'Utah'
  - value: 'Vermont'
    label: 'Vermont'
  - value: 'Virginia'
    label: 'Virginia'
  - value: 'Washington'
    label: 'Washington'
  - value: 'West Virginia'
    label: 'West Virginia'
  - value: 'Wisconsin'
    label: 'Wisconsin'
  - value: 'Wyoming'
    label: 'Wyoming'
- name: zip
  label: Current Zip
  description: ''
  type: text
  value: ''
  placeholder: Zip Code
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: date_of_birth1
  label: Date of Birth
  description: ''
  type: date
  value: ''
  placeholder:
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: how_did_you_hear_about_austin_coding_academy
  label: How did you hear about Austin Coding Academy?
  description: ''
  type: select
  value: ''
  placeholder: Select your answer
  required: true
  small_width: "12"
  medium_width: "6"
  options:
  - value: 'Facebook'
    label: 'Facebook'
  - value: 'Instagram'
    label: 'Instagram'
  - value: 'Twitter'
    label: 'Twitter'
  - value: 'LinkedIn'
    label: 'LinkedIn'
  - value: 'Friend / Family'
    label: 'Friend / Family'
  - value: 'Search engine'
    label: 'Search engine'
  - value: '{{ school.name }} event'
    label: '{{ school.name }} event'
  - value: '{{ school.name }} faculty / staff'
    label: '{{ school.name }} faculty / staff'
  - value: '{{ school.name }} student / alumni'
    label: '{{ school.name }} student / alumni'
  - value: 'News (TV, article)'
    label: 'News (TV, article)'
  - value: 'Radio'
    label: 'Radio'
  - value: 'Other'
    label: 'Other'
- name: do-you-own-a-laptop
  label: Do you own a laptop?
  description: ''
  type: select
  value: ''
  placeholder: Select One
  required: true
  small_width: "12"
  medium_width: "6"
  class: "d-flex flex-column justify-content-end"
  options:
  - value: "Yes"
    label: "Yes"
  - value: "No"
    label: "No"
  placeholder: Select your answer
  required: true
  small_width: "12"
  medium_width: "6"

edu_work_fields:
- name: highest_level_of_education_completed
  label: Highest level of education completed?
  description: ''
  type: select
  value: ''
  placeholder: Select one
  required: true
  small_width: "12"
  medium_width: "6"
  options:
  - value: High School Diploma/GED
    label: High School Diploma/GED
  - value: Some College, No Degree
    label: Some College, No Degree
  - value: 2-Year Associate Degree
    label: 2-Year Associate Degree
  - value: Bachelors Degree
    label: Bachelors Degree
  - value: Some Graduate Courses
    label: Some Graduate Courses
  - value: Graduate College Degree
    label: Graduate College Degree
- name: college_or_school_attended1
  label: Name of last school attended
  description: ''
  type: text
  value: ''
  placeholder: The last school you attended
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: current_occupation1
  label: Current occupation/job title
  description: ''
  type: text
  value: ''
  placeholder: Your current job title
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: current_company1
  label: Current Company
  description: ''
  type: text
  value: ''
  placeholder: Please enter your current company
  required: true
  small_width: "12"
  medium_width: "6"
  options: []

timeline:
- title: "Submit Your Application (Deadline: December 11th)"
  text: The Diversity Scholarship application is 2 pages long and consists of a
    couple of short answer questions and a short “open-book” coding assignment.
    After you finish the application, you will be asked to schedule a phone
    interview with one of our admissions representatives.
- title: "15-Minute Phone Interview (Deadline: December 12th)"
  text: During your scheduled phone interview an Austin Coding Academy admissions
    representative will review your application, answer any questions you may
    have about the program or scholarship process, give you information about
    our program, and get to know your goals with learning to code.
- title: "In-Person Interview with Finalists (December 17th)"
  text: 3 Finalists for the Diversity Scholarship will be announced on Friday,
    December 13th. Finalists will be required to be available to attend an
    in-person interview on the evening on Tuesday, December 17th. An independent
    panel will select the finalist who will receive the Diversity Scholarship, to be
    applied to Austin Coding Academy’s Full Stack Web Development Program.
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

{% include apply.html diversity=true form_guid=settings.diversity_scholarship_application_page_1 %}
