---
layout: default
permalink: "/diversity-scholarship/apply/"
redirect_url: "{{ school.url | liquify }}/diversity-scholarship/apply/scheduling"
redirect_from:
- "/diversity-scholarship/apply/1/"
- "/diversity-scholarship/application/"
- "/diversity-scholarship/application/1/"
head_title: "Diversity Scholarship Application"
description: "Apply now to learn to code with {{ school.name }} | Fill out your short application to get on the path to a career in web development."
hide_apply: 'd-none'
process:
- heading: Apply
  text: Get started by filling out our application and setting up a call with our admissions team.
  img_src: ''
  time: (~ 5 Minutes)
  img_width: 70
  img_height: 70
- heading: Assignment
  text: After speaking with our admissions team, you’ll be asked to complete a brief assignment.
  img_src: ''
  time: (~ 1-2 Hours)
  img_width: 70
  img_height: 70
- heading: Acceptance Decision
  text: Once you’ve successfully completed your assignment, you’ll be able to begin class.
  img_src: ''
  time:
  img_width: 70
  img_height: 70
challenge_descript1: "Take a look at the picture below showing HTML, CSS, and JavaScript.  In the space provided,
  please describe in 1-2 paragraphs what the code displayed in the picture is creating."
challenge_descript2: "This is not a test of your coding knowledge. You are encouraged to use online resources to find answers that you don't know —
  as a developer that will be an important part of your job! Here are some resources we recommend using:"
img_src: /assets/uploads/coding-assignment.png
form_fields:
- name: firstname
  label: First Name
  description: ''
  type: text
  value: ''
  options: []
  placeholder: First Name
  required: true
  small_width: 12
  medium_width: 6
- name: lastname
  label: Last Name
  description: ''
  type: text
  value: ''
  placeholder: Last Name
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: email
  label: Email
  description: ''
  type: email
  value: ''
  placeholder: name@example.com
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: phone
  label: Phone
  description: ''
  type: tel
  value: ''
  placeholder: "(***)***-****"
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: city
  label:  Current City
  description: ''
  type: text
  value: ''
  placeholder: City
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: state
  label: Current State
  description: ''
  type: select
  value: ''
  placeholder: State
  required: true
  small_width: "12"
  medium_width: "6"
  options:
  - value: 'Alabama'
    label: 'Alabama'
  - value: 'Alaska'
    label: 'Alaska'
  - value: 'Arizona'
    label: 'Arizona'
  - value: 'Arkansas'
    label: 'Arkansas'
  - value: 'California'
    label: 'California'
  - value: 'Colorado'
    label: 'Colorado'
  - value: 'Connecticut'
    label: 'Connecticut'
  - value: 'Delaware'
    label: 'Delaware'
  - value: 'District of Columbia'
    label: 'District of Columbia'
  - value: 'Florida'
    label: 'Florida'
  - value: 'Georgia'
    label: 'Georgia'
  - value: 'Hawaii'
    label: 'Hawaii'
  - value: 'Idaho'
    label: 'Idaho'
  - value: 'Illinois'
    label: 'Illinois'
  - value: 'Indiana'
    label: 'Indiana'
  - value: 'Iowa'
    label: 'Iowa'
  - value: 'Kansas'
    label: 'Kansas'
  - value: 'Kentucky'
    label: 'Kentucky'
  - value: 'Louisiana'
    label: 'Louisiana'
  - value: 'Maine'
    label: 'Maine'
  - value: 'Maryland'
    label: 'Maryland'
  - value: 'Massachusetts'
    label: 'Massachusetts'
  - value: 'Michigan'
    label: 'Michigan'
  - value: 'Minnesota'
    label: 'Minnesota'
  - value: 'Mississippi'
    label: 'Mississippi'
  - value: 'Missouri'
    label: 'Missouri'
  - value: 'Montana'
    label: 'Montana'
  - value: 'Nebraska'
    label: 'Nebraska'
  - value: 'Nevada'
    label: 'Nevada'
  - value: 'New Hampshire'
    label: 'New Hampshire'
  - value: 'New Jersey'
    label: 'New Jersey'
  - value: 'New Mexico'
    label: 'New Mexico'
  - value: 'New York'
    label: 'New York'
  - value: 'North Carolina'
    label: 'North Carolina'
  - value: 'North Dakota'
    label: 'North Dakota'
  - value: 'Ohio'
    label: 'Ohio'
  - value: 'Oklahoma'
    label: 'Oklahoma'
  - value: 'Oregon'
    label: 'Oregon'
  - value: 'Pennsylvania'
    label: 'Pennsylvania'
  - value: 'Rhode Island'
    label: 'Rhode Island'
  - value: 'South Carolina'
    label: 'South Carolina'
  - value: 'South Dakota'
    label: 'South Dakota'
  - value: 'Tennessee'
    label: 'Tennessee'
  - value: 'Texas'
    label: 'Texas'
  - value: 'Utah'
    label: 'Utah'
  - value: 'Vermont'
    label: 'Vermont'
  - value: 'Virginia'
    label: 'Virginia'
  - value: 'Washington'
    label: 'Washington'
  - value: 'West Virginia'
    label: 'West Virginia'
  - value: 'Wisconsin'
    label: 'Wisconsin'
  - value: 'Wyoming'
    label: 'Wyoming'
- name: date_of_birth1
  label: Date of Birth
  description: ''
  type: date
  value: ''
  placeholder:
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: do_you_own_a_laptop
  label: Do you own a laptop?
  description: ''
  type: select
  value: ''
  placeholder: Select One
  required: true
  small_width: "12"
  medium_width: "6"
  class: "d-flex flex-column justify-content-end"
  options:
  - value: 'Yes'
    label: 'Yes'
  - value: 'No'
    label: 'No'
  placeholder: Select your answer
  required: true
  small_width: "12"
  medium_width: "6"
- name: highest_level_of_education_completed
  label: Highest level of education completed?
  description: ''
  type: select
  value: ''
  placeholder: Select one
  required: true
  small_width: "12"
  medium_width: "6"
  options:
  - value: High School Diploma/GED
    label: High School Diploma/GED
  - value: Some College, No Degree
    label: Some College, No Degree
  - value: 2-Year Associate Degree
    label: 2-Year Associate Degree
  - value: Bachelors Degree
    label: Bachelors Degree
  - value: Some Graduate Courses
    label: Some Graduate Courses
  - value: Graduate College Degree
    label: Graduate College Degree
- name: college_or_school_attended1
  label: Name of last school attended
  description: ''
  type: text
  value: ''
  placeholder: The last school you attended
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: current_occupation1
  label: Current occupation/job title
  description: ''
  type: text
  value: ''
  placeholder: Your current job title
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: current_company1
  label: Current Company
  description: ''
  type: text
  value: ''
  placeholder: Please enter your current company
  required: true
  small_width: "12"
  medium_width: "6"
  options: []
- name: what_makes_you_the_best_candidate_for_the_aca_diversity_scholarship_answer_in_200_400_words_
  label: What makes you the best candidate for the Diversity Scholarship? (1-3 paragraphs)
  description: ''
  type: 'textarea'
  value: ''
  placeholder: What makes you the best candidate
  required: true
  small_width: 12
  medium_width: 12
  rows: "10"
  options: []
- name: how_do_you_intend_to_use_your_coding_skills_after_you_graduate_answer_in_less_than_400_words_
  label: How would learning coding change your life? (1-3 paragraphs)
  description: ''
  type: 'textarea'
  value: ''
  placeholder: How would coding change your life?
  required: true
  small_width: 12
  medium_width: 12
  rows: "10"
  options: []
timeline:
- title: "Submit Your Application (Deadline: March 31)"
  text: The Diversity Scholarship application consists of a
    couple of short answer questions and a short “open-book” coding assignment.
    After you finish the application, you will be asked to schedule a phone
    interview with one of our admissions representatives.
- title: "15-Minute Phone Interview (Deadline: March 31)"
  text: During your scheduled phone interview an Circle Coding Academy admissions
    representative will review your application, answer any questions you may
    have about the program or scholarship process, give you information about
    our program, and get to know your goals with learning to code.
- title: "In-Person Interview with Finalists (April 2nd)"
  text: 3 Finalists for the Diversity Scholarship will be announced on Friday,
    December 13th. Finalists will be required to be available to attend an
    in-person interview on the evening on Thursday, April 2nd. An independent
    panel will select the finalist who will receive the Diversity Scholarship, to be
    applied to Circle Coding Academy’s Full Stack Web Development Program.
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="container mt-4 pt-1 pb-5">
  <div class="my-5 my-sm-10 px-4 p-lg-0 border mx-auto d-flex flex-column align-items-center">
    <h2 class="font-family-alt my-5 my-sm-5 display-5 display-55 text-center col-12 col-sm-10">
      Diversity Scholarship Application
    </h2>
    <div class="px-6 py-4 col-12 col-sm-10 d-flex flex-column align-items-start">
      <p class="text-center mx-auto mb-0 mb-sm-6">
        Start your Diversity Scholarship Application by filling out our 2-page application form. To be considered
        for the Circle Coding Academy Diversity Scholarship, please be aware of the following timeline:
      </p>
      {% assign timeline = page.timeline%}
      {% for item in timeline %}
      <div class="py-6 py-sm-0 d-flex flex-column justify-content-center">
        <h4 class="border-bottom">{{ item.title }}</h4>
        <p>{{ item.text }}</p>
      </div>
      {% endfor %}
    </div>
    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/d09b33a2-92b1-42cd-8c91-0e1e48ecadf7"
      method="POST"
      target="_top"
    >
      <div class="col-12 col-sm-10 mx-auto">
        <div class="row d-flex justify-content-between p-sm-2 p-md-5">
          {% assign all_fields = page.form_fields %}
          {% assign redirect_url = page.redirect_url %}
          {% include fields.html fields=all_fields redirect_url=redirect_url %}
          {% include challenge.html %}
          <div class="input-group">
            <textarea
              id="code-challenge"
              class="form-control"
              rows="10"
              name="coding_assignment_answer"
              placeholder="1-2 paragraphs"
              aria-label="Coding Challenge Question"
              required
              data-msg="Please enter a response."
              data-error-class="u-has-error"
              data-success-class="u-has-success"
            ></textarea>
          </div>
          <div class="my-4 d-flex flex-column align-items-center">
              <button class="btn {% if school.inverted != true %}btn-round{% endif %}text-white hover-white bg-primary-dark m-2" type="Submit">
                Submit
              </button>
            <!-- <div class="d-flex flex-column align-items-center"> -->
              {% include data-agreement.html %}
            <!-- </div>
          </div> -->
        </div>
      </div>
    </form>
  </div>
</div>