---
layout: default
permalink: "/diversity-scholarship/apply/2"
redirect_from:
head_title: "Diversity Scholarship Application Page 2"
description: "Apply now to learn to code with {{ school.name }} | Fill out your short application to get on the path to a career in web development."
process:
- heading: Apply
  text: Get started by filling out our application and setting up a call with our admissions team.
  img_src: '/assets/images/wp-apply.png'
  time: (~ 5 Minutes)
  img_width: 70
  img_height: 70
- heading: Assignment
  text: After speaking with our admissions team, you’ll be asked to complete a brief assignment.
  img_src: '/assets/images/wp-assignment.png'
  time: (~ 1-2 Hours)
  img_width: 70
  img_height: 70
- heading: Acceptance Decision
  text: Once you’ve successfully completed your assignment, you’ll be able to begin class.
  img_src: '/assets/images/wp-enroll.png'
  time:
  img_width: 70
  img_height: 70

form_fields:
- name: email
  label: Email
  description: ''
  type: email
  value: ''
  placeholder: name@example.com
  required: true
  small_width: 12
  medium_width: 10
  options: []
# select field
- name: curriculum_track
  label: To which program are you applying?
  description: ''
  type: select
  value: ''
  options:
  - value: Full Stack JavaScript Track
    label: Full-Stack Web Development Track
  - value: WordPress Fundamentals
    label: WordPress Fundamentals
  placeholder: Select your answer
  required: true
  small_width: 12
  medium_width: 10
# text fields
- name:
  label: What makes you the best candidate for the ACA Diversity Scholarship and how have you shown your commitment to underrepresented groups in tech? (Answer in 200-400 words)*
  description: ''
  type: textarea
  value: ''
  placeholder: City
  required: true
  small_width: 12
  medium_width: 10
  options: []
- name:
  label: What is an obstacle that you've encountered in life and how have you overcome it? (Answer in 200-400 words)*
  description: ''
  type: textarea
  value: ''
  placeholder:
  required: true
  small_width: 12
  medium_width: 10
  options: []
- name:
  label: How do you intend to use your coding skills after you graduate? (Answer in less than 200 words)
  description: ''
  type: textarea
  value: ''
  placeholder:
  required: true
  small_width: 12
  medium_width: 10
  options: []
# coding assignment
- name:
  label: Coding Assignment Answer
  description: ''
  type: textarea
  value: ''
  placeholder:
  required: true
  small_width: 12
  medium_width: 10
  options: []

challenge_descript1: "Take a look at the picture below showing HTML, CSS, and JavaScript.  In the space provided,
  please describe in 1-2 paragraphs what the code displayed in the picture is creating."
challenge_descript2: "This is not a test of your coding knowledge. You are encouraged to use online resources to find answers that you don't know —
  as a developer that will be an important part of your job! Here are some resources we recommend using:"
img_src: /assets/images/coding-assignment.png
resources:
- name: What is the web?
  url: https://www.youtube.com/playlist?list=PLo3w8EB99pqLEopnunz-dOOBJ8t-Wgt2g
- name: Codepen
  url: https://codepen.io/austincoding/pen/ELabMz
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="container mt-90 pt-1 pb-5">
  <div class="my-5 my-sm-10 px-4 p-lg-0 border mx-auto d-flex flex-column align-items-center">
    <h2 class="font-family-alt my-5 my-sm-5 display-5 display-55 text-center col-12 col-sm-10">
      APPLICATION PAGE 2
    </h2>
    <div class="d-flex flex-column align-items-center">
      <p class="display-6 text-center col-12">
        Diversity Scholarship Appliction<br>
        <span class="text-grey small">(Continued)</span>
      </p>
    </div>
    <!-- FORM START -->
    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ settings.diversity_form_guid }}"
      method="POST"
      target="_top"
      class="d-flex flex-column align-items-center"
    >
      <!-- Input -->
      <div class="col-12 col-sm-10 mb-6">
        <div class="js-form-message form-group">
          <label for="email" class="form-label">
            Email <span class="text-red-a">*</span>
          </label>
          <input
            type="email"
            id="email"
            class="form-control"
            name="email"
            placeholder="name@example.com"
            aria-label="name@example.com"
            required
            data-msg="Please enter a valid email address."
            data-error-class="u-has-error"
            data-success-class="u-has-success"
          />
        </div>
      </div>
      <!-- End Input -->
      <!-- Input -->
      <div class="col-12 col-sm-10 mb-6">
        <div class="js-form-message form-group">
          <label for="email" class="form-label">
            Check the boxes that apply to your ethnicity (check all that apply) (optional)
          </label>
          <!-- CHECKBOXES -->
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="American Indian/Alaska Native"
          > &nbsp;American Indian/Alaska Native<br>
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="Asian"
          > &nbsp;Asian<br>
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="Black or African American"
          > &nbsp;Black or African American<br>
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="Hispanic or Latinx"
          > &nbsp;Hispanic or Latinx<br>
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="Native Hawaiian or other Pacific Islander"
          > &nbsp;Native Hawaiian or other Pacific Islander<br>
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="White"
          > &nbsp;White<br>
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="Other"
          > &nbsp;Other<br>
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="Two or More"
          > &nbsp;Two or More<br>
          <input
            type="checkbox"
            name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_"
            value="Prefer not to say"
          > &nbsp;Prefer not to say<br>
          <!-- END CHECKBOXES -->
        </div>
      </div>
      <!-- End Input -->
      <!-- Input -->
      <div class="col-12 col-sm-10 mb-6">
        <div class="js-form-message form-group">
          <label for="email" class="form-label">
            Are you a veteran of the US Military?
          </label>
          <select name="are_you_a_veteran_of_the_us_military_" class="form-control">
            <option value="" disabled selected>
              Please Select
            </option>
            <option value="Yes">
              Yes
            </option>
            <option value="No">
              No.
            </option>
            <option value="Prefer not to say">
              Prefer not to say
            </option>
          </select>
        </div>
      </div>
      <!-- End Input -->
      <!-- Input -->
      <div class="col-12 col-sm-10 mb-6">
        <div class="js-form-message form-group">
          <label for="email" class="form-label">
            What is your current yearly income? <span class="text-red-a">*</span>
          </label>
          <select name="check_the_boxes_that_apply_to_your_ethnicity_check_all_that_apply_" class="form-control">
            <option value="" disabled selected>
              Please Select
            </option>
            <option value="Unemployed">
              Unemployed
            </option>
            <option value="$0 – $15,000">
              $0 – $15,000
            </option>
            <option value="$15,000 – $25,000">
              $15,000 – $25,000
            </option>
            <option value="$25,000 – $35,000">
              $25,000 – $35,000
            </option>
            <option value="$35,000 – $45,000">
              $35,000 – $45,000
            </option>
            <option value="$45,000 – $60,000">
              $45,000 – $60,000
            </option>
            <option value="$60,000 – $90,000">
              $60,000 – $90,000
            </option>
            <option value="> $90,000">
              > $90,000
            </option>
          </select>
        </div>
      </div>
      <!-- End Input -->
      <!-- Input -->
      <div class="col-12 col-sm-10 mb-6">
        <div class="js-form-message form-group">
          <label for="email" class="form-label">
            How would you describe your current credit score?<span class="text-red-a">*</span>
          </label>
          <select name="what_experience_if_any_do_you_have_in_coding_currently_" class="form-control">
            <option value="" disabled selected>
              Please Select
            </option>
            <option value="Yes">
              Yes
            </option>
            <option value="No">
              No.
            </option>
          </select>
        </div>
      </div>
      <!-- End Input -->
      <!-- Input -->
      <div class="col-12 col-sm-10 mb-6">
        <div class="js-form-message form-group">
          <label for="email" class="form-label">
            If you do not receive the Austin Coding Academy Diversity Scholarship, would you be interested in/able to take classes? (We do offer payment plan options)<span class="text-red-a">*</span>
          </label>
          <select id="coding-experience" name="a_full_track_at_aca_costs_12_000_if_you_do_not_receive_the_aca_diversity_scholarship_would_you_stil" class="form-control">
            <option disabled selected>
              Please Select
            </option>
            <option value="Yes">
              Yes
            </option>
            <option value="No">
              No.
            </option>
          </select>
        </div>
      </div>
      <!-- End Input -->
      {% assign text_fields = page.form_fields %}
      <div class="row d-flex justify-content-center p-5">
        {% include fields.html fields=text_fields %}
        <div class="col-10 text-center">
          {% include data-agreement.html %}
        </div>
      </div>
    </form>

    <!-- FORM END -->
    <div class="col-10 mx-auto">
      {% include challenge.html %}
    </div>
  </div>
</div>