---
layout: default
permalink: "/faq/"
title: FAQ
amp_components:
- amp-recaptcha-input
head_title: Frequently Asked Questions | {{ school.name }} FAQ
description: 'Answers to frequently asked questions: Have a question about {{ school.name
  }}? Find help and useful links in our FAQ section.'
redirect_from: []
schools:
- key: circlecoding
  categories:
  - title: Frequently Asked Questions
    faqs:
    - question: I’m an employer looking to hire some developers, how do I get in touch
        with you?
      answer: We're only just getting started in Dallas! Once our first cohort graduates
        at the end of the year, you can find them on our <a href='/hire/'>Hire a Graduate</a>
        page with profile links to our job-ready graduates, where you can contact
        potential applicants directly. You can also directly contact our <a href='mailto:dan@circlecoding.com'>Director
        of Partnerships</a> for more information. We've had lots of graduates in Austin
        since 2014, some willing to relocate for the right opportunity.
    - question: Are your classes in-person only?
      answer: Right now, our classes are in-person only. If you have special circumstances,
        we may be able to admit you into our classes remotely.
    - question: Who should apply?
      answer: All of our graduates share these core qualities&#58; <br/>&#8208;&nbsp;A
        desire to improve their life <br/>&#8208;&nbsp;Exhibit “growth mindset” <br/>&#8208;&nbsp;Willing
        to take a risk <br/>&#8208;&nbsp;15 hrs to commit to the class and coursework
        each week <br/>&#8208;&nbsp;Availability to attend classes <br/>If this sounds
        like you, don’t hesitate to <a href='/apply/'>apply now!</a>
    - question: What is the application process like?
      answer: First, you'll fill out a short application and schedule an Admissions
        Interview for us to get to know you and answer your questions. Then, you'll
        complete a quick admissions assignment for review. Your acceptance will follow
        that, then you'll enroll and get started on your selected start date!
    - question: Can I change my start date if I’ve already applied?
      answer: Yes, just let us know.
    - question: Where can I view your course starting dates?
      answer: You may see our upcoming start dates on our course pages.
    - question: Where are classes held?
      answer: Classes will be held at CENTRL Office Downtown Dallas, a modern co-working
        space with great amenities and an active community.
    - question: Is there parking downtown?
      answer: Yes, the parking deck in the CENTRL Office building will be free for
        students after 5pm if you mention to the gate attendant that you will be attending
        classes at CENTRL.
    - question: Who teaches the classes?
      answer: All of our classes are taught by professional developers currently employed
        in the field. They code by day and teach by night. This ensures our curriculum
        and instruction is up-to-date and aligned with current industry norms.
  - title: Tuition Questions
    faqs:
    - question: How much is tuition?
      answer: Each 8-week class is $2,990, and each track consists of 4 classes. Additionally,
        there is a free 4-week Grad Placement course to teach you the job-seeking
        skills needed to land that first role.
    - question: Do you offer scholarships?
      answer: Yes! Make sure you’re signed up for our blog and are subscribed to our
        newsletter to learn about these opportunities as they arise. We will announce
        and take applications as the scholarships become available.
    - question: Do you offer financial aid? (as in FAFSA)
      answer: We do not offer financial aid.
    - question: What payment methods do you accept?
      answer: We accept credit/debit cards and checks.
    - question: Can I just take a single course?
      answer: Yes, absolutely. If you’re a novice, you’d have to take Web 101 first.
        If you’re already a developer, it’s possible you could test out of Web 101
        and start in a more advanced class. You’ll go through the same application
        process either way and we’ll get all the details we need to get you in the
        right class during our interview call, so don’t hesitate &#8208; <a href='/apply/'>apply
        now!</a>
    - question: Do I have to take each course consecutively?
      answer: If you apply and register for the Full Track, you’ll take each course
        consecutively. If you’re already a developer interested in individual courses,
        it’s possible you could test into specific classes. Either way, you’ll need
        to go through the application process, and we’ll get all the details we need
        to get you into the right class during our interview call, so we encourage
        you to go ahead and <a href='/apply/'>apply now!</a>
    - question: What do I need for class?
      answer: Students must have a laptop and a desire to change their life!
    - question: What kind of computer do I need?
      answer: A laptop computer purchased in the last 5 or 6 years will work. We do
        not recommend using a Chromebook.
  - title: Job-Related Questions
    faqs:
    - question: How long does it take students to find a job afterwards?
      answer: It usually takes our graduates between 2 and 6 months after graduation
        to secure a full-time job.
    - question: Will I be ready for a job after this?
      answer: Yes, we teach technologies currently used by tech companies. Our instructors
        are full-time developers and help you become job-ready. Our Grad Placement
        class will teach you how to land interviews and succeed in getting job offers.
    - question: What kind of help do you provide ACA students during their job search?
      answer: Our Director of Student Services will be there every step of the way.
        The Grad Placement course teaches the soft-skills you need, such as resume
        writing, LinkedIn finessing, and networking. Local employers are invited to
        the Graduation and Demo day where you'll have a chance to show off your capstone
        project. When they have open positions, we introduce students to hiring partners
        directly.
    - question: Do you help me get a job?
      answer: Yes, we have your back and will help you find a job! Our program supports
        you after graduation with a Grad Placement Course that will teach you the
        soft skills needed to get through all the steps of finding and landing a job.
    - question: What’s the rate of students getting jobs?
      answer: 85% of our graduates in 2018 found jobs prior to December 1st, 2018
        (In our JavaScript program per Annual Reporting). 91% found jobs in 2019.
    - question: Can I take the course and then afterwards get a job outside of Dallas?
      answer: Yes, the technologies we teach are valued in software companies all
        over the world.
    - question: Will there be networking opportunities during the programs?
      answer: Together, we will attend networking opportunities with potential employers.
  - title: Course Questions
    faqs:
    - question: What is the average class size?
      answer: Our classes are between 10 and 20 students. You will have access to
        a professional developer who is your instructor. All of our classes come with
        unlimited tutoring.
    - question: What is JavaScript?
      answer: JavaScript is the most-used web development language in the world. JavaScript
        adds interactive functionality to web pages. Learning JavaScript will prepare
        you for a career as a web developer.
    - question: What does Full-stack mean?
      answer: Full-stack development means both front-end and back-end. The front
        end is what people see, and the back end stores and uses the data.
    - question: What kind of projects will I have in my portfolio?
      answer: You will build full-stack applications hosted online for potential employers
        to see. Your projects are integral to securing employment.
    - question: Will I have the opportunity to work on my own projects at ACA?
      answer: Yes, please bring in your creative ideas. Your personal projects will
        help you land your first coding job. Your capstone project is a chance to
        show the world your unique idea from start to finish.
    - question: How do I get the most out of ACA?
      answer: We highly encourage you to attend every class, work alongside your classmates
        whenever possible (you’ll have access to our class location) and take advantage
        of unlimited tutoring when you are stuck, which is included in your tuition!
    - question: What is the policy on missing class days for special events, weddings,
        trips, etc?
      answer: Students may miss no more than 2 classes per 8-week class. Classes are
        recorded, and students are expected to watch class recordings and make up
        missing work.
- key: austincodingacademy
  categories:
  - title: Frequently Asked Questions
    faqs:
    - question: 'Where are classes held? '
      answer: We are now offering online classes optimized for working remotely through
        Zoom.  There has never been a better time to learn online and get into coding!
    - question: Who teaches the classes?
      answer: All of our classes are taught by professional developers currently employed
        in the field. They code by day and teach by night. This ensures our curriculum
        and instruction is up-to-date and aligned with current industry norms. Find
        out more at our <a href='/instructors/'>Instructors</a> page.
    - question: What does the application process look like?
      answer: First, you'll fill out a short application and be prompted to schedule
        an interview with one of our Admissions Advisors to talk about your goals
        and any questions you have. You will also have an opportunity to conditionally
        save your spot with a refundable deposit. Your acceptance will follow that,
        then you'll enroll and get started in your selected start date!
    - question: Who should apply?
      answer: All of our graduates share these core qualities&#58; <br/>&#8208;&nbsp;A
        desire to improve their life <br/>&#8208;&nbsp;Exhibit “growth mindset” <br/>&#8208;&nbsp;Willing
        to take a risk <br/>&#8208;&nbsp;15 hrs to commit to the class and coursework
        each week <br/>&#8208;&nbsp;Availability to attend classes <br/>If this sounds
        like you, don’t hesitate to <a href='/apply/'>apply now!</a>
    - question: Where can I view your course starting dates?
      answer: You may see our upcoming start dates on our home page.
    - question: Can I change my start date if I’ve already applied?
      answer: Yes, just let us know.
    - question: I’m an employer looking to hire some developers, how do I get in touch
        with you?
      answer: Check out our <a href='/hire/'>Hire a Graduate</a> page with profile
        links to our job-ready graduates, where you can contact potential applicants
        directly. You can also directly contact our <a href='mailto:dan@austincodingacademy.com'>Director
        of Placement &amp; Partnerships</a> for more information.
  - title: Tuition Questions
    faqs:
    - question: How much is tuition?
      answer: "Save $1,000 on the cost of the Full Stack Web Development Track when
        you choose to pay for the entire cost of the program up front at a total of
        $10,960. We offer two other payment plan options to help you get started!
        \n\nOur WordPress Course starts at $1,990 with payment plan options. "
    - question: Do you offer scholarships?
      answer: 'Yes! Make sure you’re signed up for our blog and are subscribed to
        our newsletter to learn about these opportunities as they arise. '
    - question: Do you offer financial aid? (as in FAFSA)
      answer: 'We do not offer financial aid though we do offer payment plan options
        that we can customize to fit your needs to help you get started. Speak with
        one of our admissions advisors to learn more. '
    - question: What payment methods do you accept?
      answer: We accept credit, debit, and checks. Please ask for address when mailing
        a check in :)
    - question: Can I just take a single course?
      answer: Yes, absolutely. If you’re a novice, you’d have to take Web 101 first.
        If you’re already a developer, it’s possible you could test out of Web 101
        and start in a more advanced class. You’ll go through the same application
        process either way and we’ll get all the details we need to get you in the
        right class during our interview call, so don’t hesitate &#8208; <a href='/apply/'>apply
        now!</a>
    - question: Do I have to take each course consecutively?
      answer: If you apply and register for the Full Track, you’ll take each course
        consecutively. If you’re already a developer interested in individual courses,
        it’s possible you could test into specific classes. Either way, you’ll need
        to go through the application process, and we’ll get all the details we need
        to get you into the right class during our interview call, so we encourage
        you to go ahead and <a href='/apply/'>apply now!</a>
    - question: What do I need for class?
      answer: Students must have a laptop and a desire to change their life! A laptop
        computer purchased in the last 5 or 6 years will work.
  - title: Job-Related Questions
    faqs:
    - question: How long does it take students to find a job afterwards?
      answer: It usually takes our graduates between 3 and 6 months after graduation
        to secure a full-time job.
    - question: Will I be ready for a job after this?
      answer: Yes, we teach technologies currently used by tech companies. Our instructors
        are full-time developers and make you job-ready. Our Job Placement class will
        teach you how to land interviews and succeed in getting job offers.
    - question: What kind of help do you provide ACA students during their job search?
      answer: Our Director of Job Placement will be there every step of the way.
    - question: Do you help me get a job?
      answer: Yes, we have your back and will help you find a job! Our program supports
        you after graduation with a Job Placement Class that will teach you the soft
        skills needed to get through all the steps of finding and landing a job.
    - question: What’s the rate of students getting jobs?
      answer: 85% of our graduates in 2018 found jobs prior to December 1st, 2018.
        (In our JavaScript program per Annual Reporting)
    - question: Can I take the course and then afterwards get a job outside of Austin?
      answer: Yes, the technologies we teach are valued in software companies all
        over the world.
    - question: Will there be networking opportunities during the programs?
      answer: Together, we will attend networking opportunities with potential employers.
  - title: Course Questions
    faqs:
    - question: What is the average class size?
      answer: Our classes are between 10 and 20 students. You will have access to
        a professional developer. All of our classes come with unlimited tutoring.
    - question: What is JavaScript?
      answer: JavaScript is the most-used web development language in the world. JavaScript
        adds interactive functionality to web pages. Learning JavaScript will prepare
        you for a career as a web developer.
    - question: What does Full-stack mean?
      answer: Full-stack development means both front-end and back-end. The front
        end is what people see, and the back end stores and uses the data.
    - question: What are C# and .NET?
      answer: C#, pronounced “C Sharp”, is a very popular programming language developed
        in 2000 by Microsoft. It is used to build web applications, computer programs,
        and video games. The .NET Framework, pronounced “Dot Net”, is a framework
        developed and maintained by Microsoft. It used to build web applications,
        mobile applications, desktop applications, and even alternative operating
        systems.
    - question: What kind of projects will I have in my portfolio?
      answer: You will build full-stack applications hosted online for potential employers
        to see. Your projects are integral to securing employment.
    - question: Will I have the opportunity to work on my own projects at ACA?
      answer: Yes, please bring in your creative ideas. Your personal projects will
        help you land your first coding job.
    - question: How do I get the most out of ACA?
      answer: We highly encourage you to attend every class, work alongside your classmates
        whenever possible (you’ll have access to both of our locations) and take advantage
        of unlimited tutoring when you are stuck, which is included in your tuition!
    - question: What is the policy on missing class days for special events, weddings,
        trips, etc?
      answer: Students may miss no more than 2 classes per 8-week class. Classes are
        recorded, and students are expected to watch class recordings and makeup missing
        work.
- key: lubbockcodingacademy
  categories:
  - title: Frequently Asked Questions
    faqs:
    - question: Will I be ready for a job after this?
      answer: 'Absolutely! A lot of students want to get their feet wet first before
        deciding whether this path is for them. Check out one of our intro courses
        and then figure out what''s next. Here are some of the jobs that our students
        get when they graduate: QA Engineer, Full Stack Developer, Entry Level Web
        Developer, JavaScript Developer, Project Manager, Technical Project Manager.
        Additionally offer a 4-week job placement class for all of our graduates to
        teach them how to interview, write resumes, and find great jobs.'
    - question: How much is tuition?
      answer: To view full tuition details, check out our <a href='https://lubbockcodingacademy.com/tuition/'>Tuition
        Page</a>, or get in touch with our admissions team. Your tuition covers the
        cost of class, your e-textbook, and unlimited tutoring. Having a functioning
        laptop is a requirement for our program, and is not covered by tuition.
    - question: Do you offer financing?
      answer: Yes, we are able to offer financial assistance, set up a meeting with
        our Campus Director, jake@lubbockcodingacademy.com, to learn more.
    - question: What are your class dates?
      answer: For all upcoming class dates, check out our Courses page.
    - question: Can I just take the Web 101 course?
      answer: Absolutely! A lot of students want to get their feet wet first before
        deciding whether this path is for them. Check out one of our intro courses
        and then figure out what's next.
    - question: Do I have to take the Intro course to get into the Intermediate etc?
      answer: Students with a pre-qualified level of proficiency can test into the
        intermediate and advanced courses.
    - question: Do I have to take each course immediately after?
      answer: Students can take classes at their own pace, however we do encourage
        taking classes consecutively one after the other, as the continuity in education
        and practice is paramount; as with learning a spoken language, if you don't
        use it you lose it.
    - question: What kind of computer do I need?
      answer: Just about any Windows laptop built within the last five or six years
        will do. Our curriculum centers around C# .Net, which works best on a Windows
        machine. We do discourage Chromebooks and Tablets.
- key: texastechcodingacademy
  categories:
  - title: Frequently Asked Questions
    faqs:
    - question: I’m an employer looking to hire some developers, how do I get in touch
        with you?
      answer: Check out our <a href='/hire/'>Hire a Graduate</a> page with profile
        links to our job-ready graduates, where you can contact potential applicants
        directly. You can also directly contact our <a href='mailto:dan@austincodingacademy.com'>Director
        of Placement &amp; Partnerships</a> for more information.
    - question: Are your classes in-person only?
      answer: Right now, our classes are in-person only. If you have special circumstances,
        we may be able to admit you into our classes remotely.
    - question: Who should apply?
      answer: All of our graduates share these core qualities&#58; <br/>&#8208;&nbsp;A
        desire to improve their life <br/>&#8208;&nbsp;Exhibit “growth mindset” <br/>&#8208;&nbsp;Willing
        to take a risk <br/>&#8208;&nbsp;15 hrs to commit to the class and coursework
        each week <br/>&#8208;&nbsp;Availability to attend classes <br/>If this sounds
        like you, don’t hesitate to <a href='/apply/'>apply now!</a>
    - question: What is the application process like?
      answer: First, you'll fill out a short application and schedule an Admissions
        Interview for us to get to know you and answer your questions. Then, you'll
        complete a quick admissions assignment for review. Your acceptance will follow
        that, then you'll enroll and get started on your selected start date!
    - question: Can I change my start date if I’ve already applied?
      answer: Yes, just let us know.
    - question: Where can I view your course starting dates?
      answer: You may see our upcoming start dates on our course pages.
    - question: Where are classes held?
      answer: We’ve got two locations - one in downtown Austin at Capital Factory
        and one in Central Austin at Highland.
    - question: Is there parking downtown?
      answer: Yes, we have an agreement with a local parking garage to allow parking
        for $5/night. Additionally, street parking is available.
    - question: Who teaches the classes?
      answer: All of our classes are taught by professional developers currently employed
        in the field. They code by day and teach by night. This ensures our curriculum
        and instruction is up-to-date and aligned with current industry norms. Find
        out more at our <a href='/instructors/'>Instructors</a> page.
  - title: Tuition Questions
    faqs:
    - question: How much is tuition?
      answer: Each 8-week class is $2,990, and each track consists of 4 classes.
    - question: Do you offer scholarships?
      answer: Yes! Make sure you’re signed up for our blog and are subscribed to our
        newsletter to learn about these opportunities as they arise. Also note that
        if you’re a driver for Lyft, we offer tuition discounts - <a href='https://sites.google.com/lyft.com/lyftaustinonboarding/driver-deals/education'>click
        here</a> to learn more.
    - question: Do you offer financial aid? (as in FAFSA)
      answer: We do not offer financial aid.
    - question: What payment methods do you accept?
      answer: We accept credit cards and checks.
    - question: Can I just take a single course?
      answer: Yes, absolutely. If you’re a novice, you’d have to take Web 101 first.
        If you’re already a developer, it’s possible you could test out of Web 101
        and start in a more advanced class. You’ll go through the same application
        process either way and we’ll get all the details we need to get you in the
        right class during our interview call, so don’t hesitate &#8208; <a href='/apply/'>apply
        now!</a>
    - question: Do I have to take each course consecutively?
      answer: If you apply and register for the Full Track, you’ll take each course
        consecutively. If you’re already a developer interested in individual courses,
        it’s possible you could test into specific classes. Either way, you’ll need
        to go through the application process, and we’ll get all the details we need
        to get you into the right class during our interview call, so we encourage
        you to go ahead and <a href='/apply/'>apply now!</a>
    - question: What do I need for class?
      answer: Students must have a laptop and a desire to change their life!
    - question: What kind of computer do I need?
      answer: A laptop computer purchased in the last 5 or 6 years will work.
  - title: Job-Related Questions
    faqs:
    - question: How long does it take students to find a job afterwards?
      answer: It usually takes our graduates between 3 and 6 months after graduation
        to secure a full-time job.
    - question: Will I be ready for a job after this?
      answer: Yes, we teach technologies currently used by tech companies. Our instructors
        are full-time developers and make you job-ready. Our Job Placement class will
        teach you how to land interviews and succeed in getting job offers.
    - question: What kind of help do you provide ACA students during their job search?
      answer: Our Director of Job Placement will be there every step of the way.
    - question: Do you help me get a job?
      answer: Yes, we have your back and will help you find a job! Our program supports
        you after graduation with a Job Placement Class that will teach you the soft
        skills needed to get through all the steps of finding and landing a job.
    - question: What’s the rate of students getting jobs?
      answer: 85% of our graduates in 2018 found jobs prior to December 1st, 2018.
        (In our JavaScript program per Annual Reporting)
    - question: Can I take the course and then afterwards get a job outside of Austin?
      answer: Yes, the technologies we teach are valued in software companies all
        over the world.
    - question: Will there be networking opportunities during the programs?
      answer: Together, we will attend networking opportunities with potential employers.
  - title: Course Questions
    faqs:
    - question: What is the average class size?
      answer: Our classes are between 10 and 20 students. You will have access to
        a professional developer. All of our classes come with unlimited tutoring.
    - question: What is JavaScript?
      answer: JavaScript is the most-used web development language in the world. JavaScript
        adds interactive functionality to web pages. Learning JavaScript will prepare
        you for a career as a web developer.
    - question: What does Full-stack mean?
      answer: Full-stack development means both front-end and back-end. The front
        end is what people see, and the back end stores and uses the data.
    - question: What are C# and .NET?
      answer: C#, pronounced “C Sharp”, is a very popular programming language developed
        in 2000 by Microsoft. It is used to build web applications, computer programs,
        and video games. The .NET Framework, pronounced “Dot Net”, is a framework
        developed and maintained by Microsoft. It used to build web applications,
        mobile applications, desktop applications, and even alternative operating
        systems.
    - question: What kind of projects will I have in my portfolio?
      answer: You will build full-stack applications hosted online for potential employers
        to see. Your projects are integral to securing employment.
    - question: Will I have the opportunity to work on my own projects at ACA?
      answer: Yes, please bring in your creative ideas. Your personal projects will
        help you land your first coding job.
    - question: How do I get the most out of ACA?
      answer: We highly encourage you to attend every class, work alongside your classmates
        whenever possible (you’ll have access to both of our locations) and take advantage
        of unlimited tutoring when you are stuck, which is included in your tuition!
    - question: What is the policy on missing class days for special events, weddings,
        trips, etc?
      answer: Students may miss no more than 2 classes per 8-week class. Classes are
        recorded, and students are expected to watch class recordings and makeup missing
        work.

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="container mt-90 pt-1 pb-5">
  {% for category in school.categories %}
    <div class="my-10">
      <h2 class="font-family-alt mb-6 text-center display-5">
        {{ category.title | liquify }}
      </h2>
      <amp-accordion disable-session-states>
        {% for faq in category.faqs %}
          <section class="mb-3">
            <h4 class="display-7 bg-light mb-0 px-2 p-1 rounded-top">
              {{ faq.question | liquify }}
            </h4>
            <p class="text-default px-2 py-1 border border-top-0 rounded-bottom">
              {{ faq.answer | liquify }}
            </p>
          </section>
        {% endfor %}
      </amp-accordion>
    </div>
  {% endfor %}
  <section class="my-10">
    <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
      Still Have Questions?
    </h2>
    <div class="d-flex flex-column justify-content-center">
      {% include contact-form.html %}
    </div>
  </section>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {% for category in school.categories %}
          {% for faq in category.faqs %}
          {
            "@type": "Question",
            "name": "{{ faq.question | liquify }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ faq.answer | liquify }}"
            }
          }{% unless forloop.last %},{% endunless %}
          {% endfor %}{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    }
  </script>
</div>