---
layout: default
permalink: "/"
head_title: "{{ key_settings.school }} | Learn to Code, Change Your Life"
hero: index
description: At {{ key_settings.school }}, we fit learning to code into your life with a flexible &amp; affordable array of options, all taught by current industry professionals. Don’t wait - embark on a new career today!
redirect_from: []
amp_components:
- amp-carousel
- amp-lightbox
- amp-video
- amp-youtube
cover_video:
  src: "/assets/videos/aca-intro.webm"
  src_mp4: "/assets/videos/aca-intro.mp4"
  title: ACA Cover Video
  poster: "/assets/images/aca-intro-poster.png"
heading: Change Your Life With a New Career
subheading: Part-time coding classes taught by local full-time developers
lightbox_youtube:
  src_id: UGW-v_uam4k
  title: The Moment I Realized My Life Was Changed
features:
- heading: Flexible Schedule
  title: Keep Your Day Job While You Make a Career Change
  description: In-person, part-time classes meet twice a week in the evenings, so
    learning to code fits your schedule. Benefit from a “flipped classroom” approach,
    with hands-on classes led by instructors who work as professional developers
    during the day.
  img: calendar_yellow.png
  square: true
  alt: Calendar graphic
- heading: Affordable Tuition
  title: We Work with Our Students to Make Tuition Manageable
  description: Cover your tuition by paying course-by-course or for the entire program
    up front, (and saving). Contact our admissions
    team to discuss how {{ key_settings.school }} can work for you.
  img: wallet_red.png
  square: true
  alt: Wallet graphic
- heading: Unlimited Tutoring
  title: ''
  description: Stay on track with your coursework by taking advantage of free unlimited
    tutoring. You can book 1-on-1 help on your schedule or take advantage of weekend
    group tutoring at both of our campuses.
  img: tutoring_blue_2.png
  alt: Pencil graphic
- heading: Job Placement
  title: You’ll Learn Skills That Will Get You a Job
  description: Develop skills that employers are looking for with our practical
    curriculum, taught by professional developers. Receive 1-on-1 attention from
    our Director of Job Placement. Build your resume, practice interviews, and more
    in our Job Placement Course.
  img: suitcase_green.png
  square: true
  alt: Suitcase graphic

austincodingacademy:
  nextStartDate: April 2nd
  schedule_href: https://app.acuityscheduling.com/schedule.php?owner=11951420&appointmentType=1406673

lubbockcodingacademy:
  nextStartDate: July 22nd
  schedule_href: https://acaappointment.as.me/schedule.php?appointmentType=8404564

texastechuniversitycodingacademy:
  nextStartDate: April 2nd
  schedule_href: https://app.acuityscheduling.com/schedule.php?owner=11951420&appointmentType=1406673
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% assign key_settings = settings[site.key] %}
  {% endif %}
{% endfor %}
{% assign school = page[site.key] %}
<div class="position-relative d-flex justify-content-center flex-column overflow-hidden">
  <div class="pl-3 pl-sm-6 ml-sm-4 py-7 pb-md-11 position-absolute z-20 d-flex justify-content-center">
    <div class="col-8 col-md-10 col-lg-10 pl-0">
      <div class="my-11"></div>
      <h1 class="text-white font-family-alt font-weight-bold display-responsive w-75">
        {{ page.heading }}
      </h1>
      <p class="text-white mt-4 mb-3 line-typewriter anim-typewriter">
        {{ page.subheading | liquify }}
      </p>
      <div class="d-flex justify-content-start">
        <button
          class="btn btn-outline-light btn-round mr-2 px-2 d-md-none"
          on="tap:call-us"
          role="button"
          tabindex="0"
        >
          Get More Info
        </button>
        <amp-lightbox
          id="call-us"
          class="lightbox"
          layout="nodisplay"
          scrollable
          on="tap:call-us.close"
          tabindex="0"
          role="dialog"
        >
          <div class="mt-11 pt-5 d-flex mx-auto flex-column align-items-center">
            <a class="my-5 btn btn-light btn-round mr-2 d-md-none"
              href="{{ school.schedule_href }}"
              target="_blank"
              rel="noopener"
            >
              Schedule a Q&amp;A
            </a>
            <h4 class="text-white display-7 border-top border-bottom">
              OR
            </h4>
            <a class="my-5 btn btn-light btn-round mr-2 d-md-none"
              href="tel:{{ key_settings.phone }}"
            >
              Call Us Now!
            </a>
          </div>
        </amp-lightbox>
        <a
          class="btn btn-outline-light btn-round mr-2 d-none d-md-block"
          href="/web-development"
          rel="noopener"
        >
          Learn More
        </a>
        <a
          class="btn cta-gradient text-white hover-white btn-round mr-2 d-none d-md-block"
          on="tap:testimonial-lightbox"
          tabindex="0"
          rel="noopener"
          >
          <span class="hover-white text-white">
            Hear From a Student
          </span>
        </a>
        <!-- Lightbox Testimonial Video -->
        {% assign testimonial = page.lightbox_youtube %}
        <amp-lightbox
          id="testimonial-lightbox"
          class="lightbox"
          layout="nodisplay"
          on="tap:testimonial-lightbox.close"
          tabindex="0"
          role="dialog"
        >
          <div
            class="w-75 w-sm-50 mx-auto mt-100"
            on="tap:testimonial-lightbox.open"
            tabindex="0"
          >
            <amp-youtube
              data-videoid="{{ testimonial.src_id }}"
              width="480"
              height="270"
              tabindex="0"
              role="presentation"
              layout="responsive"
              title="{{ testimonial.title }}"
              autoplay
            >
            </amp-youtube>
            <!-- CTA Form -->
            <form
              action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ key_settings.cta_form_guid }}"
              target="_top"
              method="POST"
              tabindex="-1"
              role="form"
              class="mt-2 w-100"
            >
              <input name="school" type="hidden" value="{{ key_settings.school }}">
              <input name="page_name" type="hidden" value="{{page.head_title}}">
              <input name="page_uri" type="hidden" value="{{key_settings.url}}{{site.baseurl}}{{page.permalink}}">
              <input name="hutk" type="hidden" value="">
              <div class="form-container d-flex flex-column align-items-center">
                <div class="d-flex justify-content-between w-100">
                  <div class="w-50 mr-2">
                    <label class="text-white" for="first-name">First Name:</label>
                    <input
                      id="first-name"
                      class="form-control"
                      name="firstname"
                      type="text"
                      placeholder="First Name"
                      required data-msg="Please enter your first name."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success"
                    >
                  </div>
                  <div class="w-50 ml-2">
                    <label class="text-white" for="email">Last Name:</label>
                    <input
                      id="last-name"
                      class="form-control"
                      name="lastname"
                      type="text"
                      placeholder="Last Name"
                      required data-msg="Please enter your last name."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success"
                    >
                  </div>
                </div>
                <div class="mt-2 d-flex justify-content-between w-100">
                  <div class="w-50 mr-2">
                    <label class="text-white" for="email">Email Address:</label>
                    <input
                      id="email"
                      class="form-control"
                      name="email"
                      type="email"
                      placeholder="Email"
                      required data-msg="Please enter a valid email address."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success"
                    >
                  </div>
                  <div class="w-50 ml-2">
                    <label class="text-white" for="phone">Phone Number:</label>
                    <input
                      id="phone"
                      class="form-control"
                      name="phone"
                      type="phone"
                      placeholder="Phone Number"
                      required data-msg="Please enter a valid phone number."
                      data-error-class="u-has-error"
                      data-success-class="u-has-success"
                    >
                  </div>
                </div>
                <button
                  type="submit"
                  class="btn btn-round btn-sm-block text-white bg-purple hover-white mt-4"
                >
                  Get in Touch
                </button>
              </div>
            </form>
          </div>
        </amp-lightbox>
      </div>
    </div>
  </div>
  <!-- htmllint preset="none" -->
  <div id="hero-{{ page.hero }}" class="hero z-10 h-100"></div>
  <!-- htmllint preset="$previous" -->
  <!-- Cover Video -->
  {% assign video = page.cover_video %}
  <amp-video
    width="640"
    height="360"
    layout="responsive"
    poster="{{ video.poster }}"
    autoplay
    class="d-none d-md-block"
    loop
    title="{{ video.title }}"
  >
    <source
      src="{{ video.src }}"
      type="video/webm"
    />
    <source
      src="{{ video.src_mp4 }}"
      type="video/mp4"
    />
    <div fallback>
      <p>This browser does not support the video element.</p>
    </div>
  </amp-video>
</div>

<main>
  <section class="mb-6 mt-4 py-5 container-fluid px-lg-3">
    <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
      We Are Committed To Your Success
    </h2>
    <p class="mw-600 mx-auto text-center">
      From learning to code, to landing your job, our team has your back. At {{ key_settings.school }}
      you can learn coding in a classroom setting that works with your busy schedule, and be a part of
      our community, supporting and inspiring each other to be more than just coders.
    </p>
    <p class="mw-600 mx-auto text-center mb-4">
      <b>Ready when you are.</b>
    </p>
    <!-- Apply Button -->
    <div class="d-flex justify-content-center">
      {% include btn-apply.html %}
    </div>
  </section>

  <section class="mb-6 mt-4 py-5 container-fluid px-lg-3 bg-textured-1 text-white">
    <div class="mx-auto mw-850">
      <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
        Why Choose Us?
      </h2>
      <p class="px-1 mw-600 mx-auto text-center text-white">
        As fun as it is to learn how to code, we know you didn't just come to us
        for the kicks. You need to launch a new career and we're here to help you
        do it.
        <br>
        <br>
        Here's how:
      </p>
      <div>
        {% for feature in page.features %}
          <div class="col-12">
            <div class="row d-flex justify-content-center align-items-center">
              <!-- Image -->
              {% if feature.square %}
                <div
                  style="max-width: 112px; max-height: 112px;"
                  class="col-3 mr-sm-4 mb-sm-3 d-flex align-items-center justify-content-center"
                >
                  <amp-img
                    width="80px"
                    height="80px"
                    layout="responsive"
                    class="w-100"
                    src="/assets/images/{{ feature.img }}"
                    alt="{{ feature.alt }}"
                  ></amp-img>
                </div>
              {% else %}
                <div
                  style="max-width: 112px; max-height: 84px;"
                  class="col-3 mr-sm-4 mb-sm-3 d-flex align-items-center justify-content-center"
                >
                  <amp-img
                    width="80px"
                    height="60px"
                    layout="responsive"
                    class="w-100"
                    src="/assets/images/{{ feature.img }}"
                    alt="{{ feature.alt }}"
                  ></amp-img>
                </div>
              {% endif %}
              <!-- Text -->
              <div class="col-9">
                <h3 class="font-weight-bold text-left">
                  <b>{{ feature.heading }}</b>
                </h3>
                <div class="mb-3">
                  {{ feature.description }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Course Guide Form -->
  <section class="mb-6 mt-4 py-5 container-fluid px-lg-3">
    {% include course-guide-form.html %}
  </section>

  {% if site.key == 'austincodingacademy' %}
    <section class="py-8 bg-textured-3">
      <h2 class="font-family-alt font-weight-bold text-center text-white display-5 mb-5">
        Student Success Stories
      </h2>
      <!-- begin student-stories -->
      <div class="container">
        <div class="row">
          {% for story in school.stories %}
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="mt-4">
                <amp-iframe
                  src="{{ story.src }}"
                  width="266.656px"
                  height="150px"
                  layout="responsive"
                  sandbox="allow-scripts allow-same-origin"
                  allowfullscreen
                  title="{{ story.title }}"
                >
                </amp-iframe>
              </div>
              <div class="mt-3 d-flex justify-content-center">
                <blockquote class="blockquote w-75">
                  <p class="mb-0 text-white">
                    {{ story.quote }}
                  </p>
                  <footer class="text-grey blockquote-footer display-9 text-right mt-1">{{ story.name }}, <cite title="Title">{{ story.position }}</cite></footer>
                </blockquote>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- end student-stories -->
    <!-- begin company carousel -->
    {% include company-carousel.html %}
    <!-- end company carousel -->
  {% endif %}
  <section class="py-8 bg-textured-2 text-white">
    <div class="container d-flex justify-content-center flex-column">
      <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
        Come Meet Us at Our Next Event
      </h2>
      {% include events.html limit=3 %}
      <div class="mx-auto mt-4">
        <a class="hover-white" href="/events">Visit our events page to see more upcoming events!</a>
      </div>
    </div>
  </section>
  <section class="col-xs-11 col-sm-11 my-6 mx-auto py-5">
    <div class="container mw-600">
      <h3 class="font-family-alt font-weight-bold text-center display-5">
        Have More Questions?
      </h3>
      <h5 class="text-center mb-5">
        Let us know, and get help from a real person.
      </h5>
      {% include contact-form.html %}
    </div>
  </section>
</main>