---
layout: default
permalink: "/"
amp_components: ['amp-animation', 'amp-position-observer', 'amp-carousel', 'amp-lightbox', 'amp-video', 'amp-youtube']
cover_video:
  src: "/assets/videos/aca-intro.webm"
  src_mp4: "/assets/videos/aca-intro.mp4"
  title: 'ACA Cover Video'
  poster: "/assets/images/aca-intro-poster.png"
lightbox_youtube:
  src_id: "n4x3bdW-kq8"
  title: 'Karen Davis ACA Testimonial'
  src_mp4: "/assets/videos/KarenDavis_ACA_Testimonial.mp4"
logos:
- width: 721px
  height: 225px
  src: "/assets/images/logo-indeed.png"
  alt: Indeed
- width: 1853px
  height: 799px
  src: "/assets/images/logo-big-commerce.png"
  alt: Big Commerce
- width: 1600px
  height: 1600px
  src: "/assets/images/logo-dell.png"
  alt: Dell
- width: 1590px
  height: 561px
  src: "/assets/images/logo-microsoft.png"
  alt: Microsoft
- width: 1720px
  height: 360px
  src: "/assets/images/logo-facebook.png"
  alt: Facebook
- width: 1280px
  height: 320px
  src: "/assets/images/logo-walmart.png"
  alt: Walmart
- width: 4460px
  height: 1940px
  src: "/assets/images/logo-ibm.png"
  alt: IBM
- width: 645px
  height: 340px
  src: "/assets/images/logo-dosh.png"
  alt: Dosh
- width: 400px
  height: 400px
  src: "/assets/images/logo-oracle.png"
  alt: Oracle
- width: 256px
  height: 256px
  src: "/assets/images/logo-adobe.png"
  alt: Adobe
- width: 960px
  height: 142px
  src: "/assets/images/logo-mooveit.png"
  alt: Moove-It
- width: 750px
  height: 450px
  src: "/assets/images/logo-pluralsight.png"
  alt: Pluralsight
- width: 1270px
  height: 145px
  src: "/assets/images/logo-flosports.png"
  alt: Flosports
- width: 400px
  height: 282px
  src: "/assets/images/logo-cloud-imperium.png"
  alt: Cloud Imperium
- width: 768px
  height: 139px
  src: "/assets/images/logo-silvercar.png"
  alt: Silvercar
- width: 300px
  height: 127px
  src: "/assets/images/logo-versasuite.png"
  alt: VersaSuite
- width: 960px
  height: 560px
  src: "/assets/images/logo-onespot.png"
  alt: OneSpot
- width: 914px
  height: 408px
  src: "/assets/images/logo-onit.png"
  alt: Onit
austin:
  title: Austin Coding Academy | Learn to Code, Change Your Life
  img: "/assets/images/hero-index.jpg"
  hero: index
  description: At Austin Coding Academy, we fit learning to code into your life with
    a flexible &amp; affordable array of options, all taught by current industry professionals.
    Don’t wait - embark on a new career today!
  redirect_from: []
  nextStartDate: April 2nd
  heading: Change Your Life With a New Career
  subheading: Part-time coding classes taught by full-time developers here in Austin, TX
  schedule_href: "https://app.acuityscheduling.com/schedule.php?owner=11951420&appointmentType=1406673"
  phone: 5128278498
  features:
  - heading: Flexible Schedule
    title: Keep Your Day Job While You Make a Career Change
    description: In-person, part-time classes meet twice a week in the evenings, so learning to code
      fits your schedule. Benefit from a “flipped classroom” approach, with hands-on classes led by
      instructors who work as professional developers during the day.
    img: calendar_yellow.png
    square: true
    alt: Calendar graphic
  - heading: Affordable Tuition
    title: We Work with Our Students to Make Tuition Manageable
    description: Cover your tuition by paying course-by-course or for the entire program up front, (and saving).
      Finance your tuition through <a class="link-underlined" rel="noopener" target="_blank" href="https://austincodingacademy.skills.fund/">
      Skills Fund</a>, our primary financing partner, or privately. Contact our admissions team to discuss how Austin
      Coding Academy can work for you.
    img: wallet_red.png
    square: true
    alt: Wallet graphic
  - heading: Unlimited Tutoring
    title: ''
    description: Stay on track with your coursework by taking advantage of free unlimited tutoring. You can book 1-on-1
      help on your schedule or take advantage of weekend group tutoring at both of our campuses.
    img: tutoring_blue_2.png
    alt: Pencil graphic
  - heading: Job Placement
    title: You’ll Learn Skills That Will Get You a Job
    description: Develop skills that employers are looking for with our practical curriculum, taught by professional
      developers. Receive 1-on-1 attention from our Director of Job Placement. Build your resume, practice interviews,
      and more in our Job Placement Course.
    img: suitcase_green.png
    square: true
    alt: Suitcase graphic
  stories:
  - src: https://player.vimeo.com/video/290925619
    title: Lilian Situ video review of Austin Coding Academy
    quote: "I've always been interested in programming and being able to create
      something so being able to take what I learned at ACA and get a job with
      it ... was one of the best decisions I've made."
    name: Lillian Situ
    position: Software Engineer, data.world
  - src: https://player.vimeo.com/video/290913789
    title: Greg Swan video review of Austin Coding Academy
    quote: "ACA ... gave me a solid foundation of knowledge,
      taught me what not to do, and consistently reminded me that there was a
      job out there for me if I was willing to put in the work."
    name: Greg Swan
    position: Web Developer, Kinetic Theory
  form_guid: c34e4ad8-2fe9-49d1-aaba-c8d77f294986
lubbock:
  title: Lubbock Coding Academy | Learn to Code, Change Your Life
  img: "/assets/images/hero-index.jpg"
  hero: index
  description: At Lubbock Coding Academy, we fit learning to code into your life with
    a flexible &amp; affordable array of options, all taught by current industry professionals.
    Don’t wait - embark on a new career today!
  redirect_from: []
  nextStartDate: July 22nd
  heading: Change Your Life With a New Career
  subheading: Part-time coding classes taught by full-time developers in Lubbock, TX
  schedule_href: https://acaappointment.as.me/schedule.php?appointmentType=8404564
  phone: 8069055021
  features:
  - heading: Flexible Schedule
    title: Keep Your Day Job While You Make a Career Change
    description: In-person, part-time classes meet twice a week in the evenings, so learning to code
      fits your schedule. Our flipped classroom approach makes sure you get the most out of class.
      Unlimited tutoring give syou the option to book 1-on-1 help on your schedule.
    img: calendar_yellow.png
    square: true
    alt: Calendar graphic
  - heading: Affordable Tuition
    title: We Work with Our Students to Make Tuition Manageable
    description: Pay for your tuition course-by-course or pay for the entire program up front and
      save. Finance your tuition through <a class="text-white link-underlined" href="https://austincodingacademy.skills.fund/">
      Skills Fund</a>, our primary financing partner. Talk with our admissions team about additional tuition options.
    img: wallet_red.png
    square: true
    alt: Wallet graphic
  - heading: Unlimited Tutoring
    title: ''
    description: Don't worry, you won't fall behind. We won't let you! Our tutors are available
      to give you the help and training you need whenever you need it, without jacking up the price.
    img: tutoring_blue_2.png
    alt: Pencil graphic
  - heading: Job Placement
    title: You’ll Learn Skills That Will Get You a Job
    description: Develop skills that employers are looking for with our practical curriculum, taught
      by professional developers. Receive 1-on-1 attention from our Director of Job Placement. Build
      your resume, practice interviews, and more in our Job Placement Course.
    img: suitcase_green.png
    square: true
    alt: Suitcase graphic
  stories:
  - src: https://player.vimeo.com/video/290925619
    title: Lilian Situ video review of Austin Coding Academy
    quote: "I've always been interested in programming and being able to create
      something so being able to take what I learned at ACA and get a job with
      it ... was one of the best decisions I've made."
    name: Lillian Situ
    position: Software Engineer, data.world
  - src: https://player.vimeo.com/video/290913789
    title: Greg Swan video review of Austin Coding Academy
    quote: "ACA ... gave me a solid foundation of knowledge,
      taught me what not to do, and consistently reminded me that there was a
      job out there for me if I was willing to put in the work."
    name: Greg Swan
    position: Web Developer, Kinetic Theory
  form_guid: c34e4ad8-2fe9-49d1-aaba-c8d77f294986
---

{% assign school = page[site.key] %}
<div id="video-container" class="position-relative d-flex d-sm-block justify-content-center flex-column">
  <div class="pl-3 pl-sm-6 ml-sm-4 py-7 py-md-11 container position-absolute z-20">
    <div class="col-8 col-md-7 col-lg-6 pl-0">
      <div class="my-11"></div>
      <h1 class="text-white font-family-alt font-weight-bold display-responsive">
        {{ school.heading }}
      </h1>
      <p class="text-white mt-4 mb-3 line-typewriter anim-typewriter">
        {{ school.subheading }}
      </p>
      <div class="d-flex justify-content-start">
        <button
          class="btn btn-outline-light btn-round mr-2 px-2 d-md-none"
          on="tap:call-us"
          role="button"
          tabindex="0"
        >
          Get More Info
        </button>
        <amp-lightbox
          id="call-us"
          class="lightbox"
          layout="nodisplay"
          scrollable
          on="tap:call-us.close"
          tabindex="0"
          role="dialog"
        >
          <div class="mt-11 pt-5 d-flex mx-auto flex-column align-items-center">
            <a class="my-5 btn btn-light btn-round mr-2 d-md-none"
              href="https://app.acuityscheduling.com/schedule.php?owner=11951420&appointmentType={{ school.appt_type }}"
              target="_blank"
              rel="noopener"
            >
              Schedule a Q&A
            </a>
            <h4 class="text-white display-7 border-top border-bottom">
              OR
            </h4>
            <a class="my-5 btn btn-light btn-round mr-2 d-md-none"
              href="tel:{{ school.phone }}"
            >
              Call Us Now!
            </a>
          </div>
        </amp-lightbox>
        <a
          class="btn btn-outline-light btn-round mr-2 d-none d-md-block"
          href="/web-development"
          rel="noopener"
          >
          Learn More
        </a>
        <a
          class="btn cta-gradient text-white hover-white btn-round mr-2 d-none d-md-block"
          on="tap:testimonial-lightbox"
          tabindex="0"
          rel="noopener"
          >
          Hear From a Student
        </a>
        <!-- Lightbox Testimonial Video -->
        {% assign testimonial = page.lightbox_youtube %}
        <amp-lightbox
          id="testimonial-lightbox"
          class="lightbox"
          layout="nodisplay"
          on="tap:testimonial-lightbox.close"
          tabindex="0"
          role="dialog"
        >
          <div class="w-75 mx-auto" style="margin-top: 100px">
            <amp-youtube
              data-videoid="{{ testimonial.src_id }}"
              width="480"
              height="270"
              tabindex="0"
              role="presentation"
              on="tap:testimonial-lightbox.open"
              layout="responsive"
              title="{{ testimonial.title }}"
            >
            </amp-youtube>
          </div>
        </amp-lightbox>
      </div>
    </div>
  </div>
  <!-- htmllint preset="none" -->
  <div id="hero-{{ school.hero }}" class="hero z-10"></div>
  <!-- htmllint preset="$previous" -->
  <!-- Cover Video -->
  {% assign video = page.cover_video %}
  <amp-video
    width="640"
    height="360"
    layout="responsive"
    poster="{{ video.poster }}"
    autoplay
    loop
    title="{{ video.title }}"
  >
    <source
      src="{{ video.src }}"
      type="video/webm"
    />
    <source
      src="{{ video.src_mp4 }}"
      type="video/mp4"
    />
    <div fallback>
      <p>This browser does not support the video element.</p>
    </div>
  </amp-video>
</div>

<main>
  {% include observer-and-header-animation.html %}

  <section class="mb-6 mt-4 py-5 container-fluid px-lg-3">
    <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
      We Are Committed To Your Success
    </h2>
    <p class="mw-600 mx-auto text-center">
      From learning to code, to landing your job, our team has your back. At {{ site.key | capitalize }} Coding Academy
      you can learn coding in a classroom setting that works with your busy schedule, and be a part of
      our community, supporting and inspiring each other to be more than just coders.
    </p>
    <p class="mw-600 mx-auto text-center mb-4">
      <b>Ready when you are.</b>
    </p>
    <!-- Apply Button -->
    <div class="d-flex justify-content-center">
      {% include btn-apply.html %}
    </div>
  </section>

  <section class="mb-6 mt-4 py-5 container-fluid px-lg-3 bg-textured-1 text-white">
    <div class="mx-auto mw-850">
      <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
        Why Choose Us?
      </h2>
      <p class="px-1 mw-600 mx-auto text-center text-white">
        As fun as it is to learn how to code, we know you didn't just come to us
        for the kicks. You need to launch a new career and we're here to help you
        do it.
        <br>
        <br>
        Here's how:
      </p>
      <div>
        {% for feature in school.features %}
          <div class="col-12">
            <div class="row d-flex justify-content-center align-items-center">
              <!-- Image -->
              {% if feature.square %}
                <div
                  style="max-width: 112px; max-height: 112px;"
                  class="col-3 mr-sm-4 mb-sm-3 d-flex align-items-center justify-content-center"
                >
                  <amp-img
                    width="80px"
                    height="80px"
                    layout="responsive"
                    class="w-100"
                    src="/assets/images/{{ feature.img }}"
                    alt="{{ feature.alt }}"
                  ></amp-img>
                </div>
              {% else %}
                <div
                  style="max-width: 112px; max-height: 84px;"
                  class="col-3 mr-sm-4 mb-sm-3 d-flex align-items-center justify-content-center"
                >
                  <amp-img
                    width="80px"
                    height="60px"
                    layout="responsive"
                    class="w-100"
                    src="/assets/images/{{ feature.img }}"
                    alt="{{ feature.alt }}"
                  ></amp-img>
                </div>
              {% endif %}
              <!-- Text -->
              <div class="col-9">
                <h3 class="font-weight-bold text-left">
                  <b>{{ feature.heading }}</b>
                </h3>
                <div class="mb-3">
                  {{ feature.description }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- Course Guide Form -->
  <section class="mb-6 mt-4 py-5 container-fluid px-lg-3">
    {% include course-guide-form.html %}
  </section>

  {% if site.key == 'austin' %}
    <section class="py-8 bg-textured-3">
      <h2 class="font-family-alt font-weight-bold text-center text-white display-5 mb-5">
        Student Success Stories
      </h2>
      <!-- begin student-stories -->
      <div class="container">
        <div class="row">
          {% for story in school.stories %}
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="mt-4">
                <amp-iframe
                  src="{{ story.src }}"
                  width="266.656px"
                  height="150px"
                  layout="responsive"
                  sandbox="allow-scripts allow-same-origin"
                  allowfullscreen
                  title="{{ story.title }}"
                >
                </amp-iframe>
              </div>
              <div class="mt-3 d-flex justify-content-center">
                <blockquote class="blockquote w-75">
                  <p class="mb-0 text-white">
                    {{ story.quote }}
                  </p>
                  <footer class="text-grey blockquote-footer display-9 text-right mt-1">{{ story.name }}, <cite title="Title">{{ story.position }}</cite></footer>
                </blockquote>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- end student-stories -->
    <!-- begin company carousel -->
    {% include company-carousel.html %}
    <!-- end company carousel -->
  {% endif %}
  <section class="py-8 bg-textured-2 text-white">
    <div class="container d-flex justify-content-center flex-column">
      <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
        Come Meet Us at Our Next Event
      </h2>
      {% include events.html limit=3 %}
      <div class="mx-auto mt-4">
        <a class="hover-white" href="/events">Visit our events page to see more upcoming events!</a>
      </div>
    </div>
  </section>
  <section class="col-xs-11 col-sm-11 my-6 mx-auto py-5">
    <div class="container mw-600">
      <h3 class="font-family-alt font-weight-bold text-center display-5">
        Have More Questions?
      </h3>
      <h5 class="text-center mb-5">
        Let us know, and get help from a real person.
      </h5>
      {% include contact-form.html %}
    </div>
  </section>
</main>
