---
layout: default
permalink: "/"
head_title: "{{ school.name }} | Learn to Code, Change Your Life"
hero: index
circle_hero: circle
title: Homepage
description: At {{ school.name }}, we fit learning to code into your life with a flexible
  &amp; affordable array of options, all taught by current industry professionals.
  Don’t wait - embark on a new career today!
redirect_from: []
amp_components:
- amp-carousel
- amp-lightbox
- amp-video
- amp-youtube
- amp-fx
- amp-recaptcha-input
cover_video:
  src: "/assets/uploads/aca-intro.webm"
  src_mp4: "/assets/uploads/aca-intro.mp4"
  title: ACA Cover Video
  poster: "/assets/uploads/aca-intro-poster.jpg"
stories:
- src_id: AVMkl06b5IE
  title: Lilian Situ video review of Austin Coding Academy
  quote: I've always been interested in programming and being able to create something
    so being able to take what I learned at ACA and get a job with it ... was one
    of the best decisions I've made.
  name: Lillian Situ
  position: Software Engineer, data.world
  src: ''
- src_id: pjSBt1LW9pc
  title: Greg Swan video review of Austin Coding Academy
  quote: ACA ... gave me a solid foundation of knowledge, taught me what not to do,
    and consistently reminded me that there was a job out there for me if I was willing
    to put in the work.
  name: Greg Swan
  position: Web Developer, Kinetic Theory
  src: ''
heading: Change Your Life With a New Career
subheading: Part-time coding classes taught by local full-time developers
features:
- heading: Flexible Schedule
  title: Keep Your Day Job While You Make a Career Change
  description: In-person, part-time classes meet twice a week in the evenings, so
    learning to code fits your schedule. Benefit from a “flipped classroom” approach,
    with hands-on classes led by instructors who work as professional developers during
    the day.
  img: /assets/uploads/calendar_yellow.png
  square: true
  alt: Calendar graphic
- heading: Affordable Tuition
  title: We Work with Our Students to Make Tuition Manageable
  description: Cover your tuition by paying course-by-course or for the entire program
    up front, (and saving). Contact our admissions team to discuss how {{ school.name
    }} can work for you.
  img: /assets/uploads/wallet_red.png
  square: true
  alt: Wallet graphic
- heading: Unlimited Tutoring
  title: ''
  description: Stay on track with your coursework by taking advantage of free unlimited
    tutoring. You can book 1-on-1 help on your schedule or take advantage of weekend
    group tutoring at both of our campuses.
  img: /assets/uploads/tutoring_blue.png
  alt: Pencil graphic
  square: false
- heading: Job Placement
  title: You’ll Learn Skills That Will Get You a Job
  description: Develop skills that employers are looking for with our practical curriculum,
    taught by professional developers. Receive 1-on-1 attention from our Director
    of Job Placement. Build your resume, practice interviews, and more in our Job
    Placement Course.
  img: /assets/uploads/suitcase_green.png
  square: true
  alt: Suitcase graphic
schools:
- key: austincodingacademy
  schedule_href: https://app.acuityscheduling.com/schedule.php?owner=11951420&appointmentType=1406673
  lightbox_youtube:
    src_id: UGW-v_uam4k
    title: The Moment I Realized My Life Was Changed
- key: lubbockcodingacademy
  schedule_href: https://acaappointment.as.me/schedule.php?appointmentType=8404564
  lightbox_youtube:
    src_id: ''
    title: ''
- key: texastechcodingacademy
  schedule_href: https://app.acuityscheduling.com/schedule.php?owner=11951420&appointmentType=1406673
  features:
  - heading: Flexible Schedule
    title: Keep Your Day Job While You Make a Career Change
    description: In-person, part-time classes meet twice a week in the evenings, so
      learning to code fits your schedule. Benefit from a “flipped classroom” approach,
      with hands-on classes led by instructors who work as professional developers
      during the day.
    img: /assets/uploads/calendar_white.png
    square: true
    alt: Calendar graphic
  - heading: Affordable Tuition
    title: We Work with Our Students to Make Tuition Manageable
    description: Cover your tuition by paying course-by-course or for the entire program
      up front, (and saving). Contact our admissions team to discuss how {{ school.name
      }} can work for you.
    img: /assets/uploads/wallet_white.png
    square: true
    alt: Wallet graphic
  - heading: Unlimited Tutoring
    title: ''
    description: Stay on track with your coursework by taking advantage of free unlimited
      tutoring. You can book 1-on-1 help on your schedule or take advantage of weekend
      group tutoring at both of our campuses.
    img: /assets/uploads/tutoring_white.png
    alt: Pencil graphic
    square: false
  - heading: Job Placement
    title: You’ll Learn Skills That Will Get You a Job
    description: Develop skills that employers are looking for with our practical
      curriculum, taught by professional developers. Receive 1-on-1 attention from
      our Director of Job Placement. Build your resume, practice interviews, and more
      in our Job Placement Course.
    img: /assets/uploads/suitcase_white.png
    square: true
    alt: Suitcase graphic
  lightbox_youtube:
    src_id: ''
    title: ''

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="position-relative d-flex justify-content-center flex-column overflow-hidden p-0 {% if school.inverted %}container-lg{% endif %}">
  <div class="pl-3 pl-sm-2 m-md-6 m-sm-1 py-7 pb-md-11 position-absolute z-20 d-sm-block d-md-flex justify-content-center {% if school.inverted %}bg-white mw-600 rounded shadow-lg {% endif %}">
    <div class="col-sm-11 col-md-10 col-lg-10 pl-0">
      <div class="my-md-11"></div>
      <h1 class="{% if school.inverted != true %}text-white{% endif %} font-family-alt font-weight-bold display-responsive col-sm-12 col-md-9 pl-0">
        {{ page.heading | liquify }}
      </h1>
      <p class="{% if school.inverted != true %}text-white{% endif %} mt-4 mb-3 line-typewriter anim-typewriter">
        {{ page.subheading | liquify }}
      </p>
      <div class="d-flex justify-content-start">
        <a
        class="btn {% if school.inverted != true %}btn-outline-light btn-round{% else %}col-5 btn-outline-dark{% endif %} mr-2 d-block"
        href="/course-guide/"
        rel="noopener"
        href="#"
      >
        Course Guide
      </a>
     
        <div class="{% if school.inverted == true %}col-5 p-0{% endif %}">
          {% include btn-apply.html %}
         </div>
      </div>
    </div>
  </div>
  <!-- htmllint preset="none" -->
  <div id="hero-{% if school.inverted != true %}{{ page.hero | liquify }}{% else %}{{ page.circle_hero | liquify }}{% endif %}" class="bg-textured hero {% if school.inverted != true %}z-10{% else %}z-90 w-50{% endif %} h-100"></div>
  <!-- htmllint preset="$previous" -->
  <!-- Cover Video -->
  {% assign video = page.cover_video %}
  <div class="col-12 d-flex justify-content-between p-0 bg-white">
    {% if school.inverted %}
    <div class="col-3 bg-white m-0"></div>
    {% endif %}
    <div class="{% if school.inverted != true %}col-12 p-0{% else %}col-9 p-0{% endif %} m-0">
    {% if school.inverted != true %}
      <amp-video
      id="my-video"
      width="640"
      height="360"
      layout="responsive"
      poster="{{ video.poster | liquify }}"
      {% if school.inverted != true %}
        autoplay
      {% endif %}
      class="d-none d-md-block"
      loop
      title="{{ video.title | liquify }}"
    >
      <source
        src="{{ video.src | liquify }}"
        type="video/webm"
      />
      <source
        src="{{ video.src_mp4 | liquify }}"
        type="video/mp4"
      />
      <div fallback>
        <p>This browser does not support the video element.</p>
      </div>
    </amp-video>
    {% endif %}
    {% if school.inverted %}
      <div id="my-overlay" class="click-to-play-overlay d-none d-md-block">

        <div class="play-icon" role="button" tabindex="0" on="tap:call-us" style="position: absolute;
        height: 100px;
        width: 100px;
        z-index: 2;
        background-image: url(https://amp.dev/static/samples/img/play-icon.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* Align to the middle */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        opacity: 0.8;"></div>
        <img class="poster-image img-fluid rounded shadow" layout="responsive"
          src="/assets/uploads/coding-tutoring-session.jpg">
        </img>
      </div>
      <amp-lightbox
          id="call-us"
          class="lightbox"
          layout="nodisplay"
          scrollable
          on="tap:call-us.close"
          tabindex="0"
          role="dialog"
        >
          <div class="mt-11 pt-5 d-flex mx-auto flex-column align-items-center" style="height:100%;">
            <amp-youtube
            class="h-100"
            data-videoid="pcCcjiMOeyg"
            width="266.656px"
            height="150px"
            style="height:500px; width: 888.853333333px;"
            tabindex="0"
            role="presentation"
            layout="responsive"
            title="Lilian Situ video review of Austin Coding Academy"
            >
            </amp-youtube>
          </div>
        </amp-lightbox>      
    {% endif %}
  </div>
  </div>
</div>

<main>
  <section class="mb-6 mt-4 py-5 container-fluid px-lg-3">
    <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
      We Are Committed To Your Success
    </h2>
    <p class="mw-600 mx-auto text-center">
      From learning to code, to landing your job, our team has your back. At {{ school.name }}
      you can learn coding in a classroom setting that works with your busy schedule, and be a part of
      our community, supporting and inspiring each other to be more than just coders.
    </p>
    <p class="mw-600 mx-auto text-center pb-4">
      <b>Ready when you are.</b>
    </p>
    <!-- start date boxes -->
    {% assign start_dates = school.start_dates %}
    {% if start_dates[0].date %}
      <div class="display-6 mt-8 text-center">
        Our Upcoming Start Dates
      </div>
      <div class="mt-6 mt-sm-8 d-flex flex-wrap flex-sm-nowrap justify-content-center container">
      {% for start_date in start_dates %}
        <!-- htmllint preset="none" -->
        <div class="mx-0 mx-sm-5 mw-350 w-100 {% cycle '', 'mt-4 mt-sm-0' %}">
        <!-- htmllint preset="$previous" -->
          <div class="display-7 mb-4 text-center">
            {{ start_date.location }}
          </div>
          <div class="card shadow-black mx-auto p-2">
            <div class="card-body">
              <div class="display-6 pb-4 text-center">
                {{ start_date.date }}
              </div>
              <div class="shadow border text-center py-5">
                <div class="display-7 text-center mb-5 px-2">
                  {{ start_date.course }}
                </div>
                <div>
                  {{ start_date.days }}
                </div>
                <div class="mb-3">
                  {{ start_date.time }}
                </div>
                <div class="font-weight-bold">
                  Length:
                </div>
                <div class="mb-3">
                  {{ start_date.length }}
                </div>
                <div class="mt-6 {%if school.inverted %}px-6{% endif %}">
                 {% include btn-apply.html %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <div class="d-flex justify-content-center">
        {% include btn-apply.html %}
      </div>
    {% endif %}
    <!-- start date boxes end -->
  </section>

  <section class="mt-4 py-5 container-fluid px-lg-3 bg-textured text-white">
    <div class="mx-auto mw-850">
      <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
        Why Choose Us?
      </h2>
      <p class="px-1 mw-600 mx-auto text-center text-white">
        As fun as it is to learn how to code, we know you didn't just come to us
        for the kicks. You need to launch a new career and we're here to help you
        do it.
        <br>
        <br>
        Here's how:
      </p>
      <div>
        {% assign features = school.features | default: page.features %}
        {% for feature in features %}
          <div class="col-12">
            <div class="row d-flex justify-content-center align-items-center">
              <!-- Image -->
              {% if feature.square %}
                <div
                  style="max-width: 112px; max-height: 112px;"
                  class="col-3 mr-sm-4 mb-sm-3 d-none d-md-flex align-items-center justify-content-center "
                >
                  <amp-img
                    width="80px"
                    height="80px"
                    layout="responsive"
                    class="w-100"
                    src="{{ feature.img | liquify }}"
                    alt="{{ feature.alt | liquify }}"
                  ></amp-img>
                </div>
              {% else %}
                <div
                  style="max-width: 112px; max-height: 84px;"
                  class="col-3 mr-sm-4 mb-sm-3 d-none d-md-flex align-items-center justify-content-center "
                >
                  <amp-img
                    width="80px"
                    height="60px"
                    layout="responsive"
                    class="w-100"
                    src="{{ feature.img | liquify }}"
                    alt="{{ feature.alt | liquify }}"
                  ></amp-img>
                </div>
              {% endif %}
              <!-- Text -->
              <div class="col-sm-11 col-md-9">
                <h3 class="font-weight-bold text-left">
                  <b>{{ feature.heading | liquify }}</b>
                </h3>
                <div class="mb-3">
                  {{ feature.description | liquify }}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% if school.course_guide != '' %}
  <!-- Course Guide Form -->
  <section class="mb-6 mt-4 py-5 container-fluid px-lg-3">
    {% include course-guide-form.html %}
  </section>
  {% endif %}

  {% if site.key == 'austincodingacademy' %}
    <section class="py-8 bg-textured">
      <h2 class="font-family-alt font-weight-bold text-center text-white display-5 mb-5">
        Student Success Stories
      </h2>
      <!-- begin student-stories -->
      <div class="container">
        <div class="row">
          {% for story in page.stories %}
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="mt-4">
                <amp-youtube
                  data-videoid="{{ story.src_id }}"
                  width="266.656px"
                  height="150px"
                  tabindex="0"
                  role="presentation"
                  layout="responsive"
                  title="{{ story.title | liquify }}"
                >
                </amp-youtube>
              </div>
              <div class="mt-3 d-flex justify-content-center">
                <blockquote class="blockquote w-75">
                  <p class="mb-0 text-white">
                    {{ story.quote | liquify }}
                  </p>
                  <footer class="text-grey blockquote-footer display-9 text-right mt-1">{{ story.name | liquify }}, <cite title="Title">{{ story.position | liquify }}</cite></footer>
                </blockquote>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- end student-stories -->
    <!-- begin company carousel -->
    {% include company-carousel.html %}
    <!-- end company carousel -->
  {% endif %}
  <!-- Events -->
  {% if site.data.events[site.key].size > 0 %}
    <section class="py-8 bg-textured text-white">
      <div class="container d-flex justify-content-center flex-column">
        <h2 class="font-family-alt font-weight-bold text-center display-5 mb-5">
          Come Meet Us at Our Next Event
        </h2>
        {% include events.html limit=3 %}
        <div class="mx-auto mt-4 text-center">
          <a class="hover-white" href="/events/">Visit our events page to see more upcoming events!</a>
        </div>
      </div>
    </section>
  {% endif %}
  <section class="col-xs-11 col-sm-11 my-6 mx-auto py-5">
    <div class="container mw-600">
      <h3 class="font-family-alt font-weight-bold text-center display-5">
        Have More Questions?
      </h3>
      <h5 class="text-center mb-5">
        Let us know, and get help from a real person.
      </h5>
      {% include contact-form.html %}
    </div>
  </section>
</main>