---
layout: default
permalink: "/instructor-apply/"
head_title: "Become an Instructor | Instructor Application - {{ school.name }}"
description: "Become a web development instructor with {{ school.name }} | Teach
  coding to the next generation of web developers."
redirect_from: []
form_fields:
- name: firstname
  label: First Name
  description: ''
  type: text
  value: ''
  options: []
  placeholder: Your first name
  required: true
  small_width: 12
  medium_width: 6
- name: lastname
  label: Last Name
  description: ''
  type: text
  value: ''
  placeholder: Your last name
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: phone
  label: Phone
  description: ''
  type: tel
  value: ''
  placeholder: Your phone number
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: email
  label: Email
  description: ''
  type: email
  value: ''
  placeholder: Your email address
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: city
  label: Your current city
  description: ''
  type: text
  value: ''
  placeholder: Your Current City
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: currento_ccupation1
  label: Your Current Occupation
  description: ''
  type: text
  value: ''
  placeholder: Your current occupation
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: current-company1
  label: Your current company
  description: ''
  type: text
  value: ''
  placeholder: Your current company
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: college_or_school_attended1
  label: Last school attended
  description: ''
  type: text
  value: ''
  placeholder: The last school you attended
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: "which_course_are_you_applying_to_teach"
  label: "Which course are you applying to teach for?"
  description: ''
  type: select
  value: ''
  options:
  - value: 101 Intro to Web
    label: 101 Intro to Web
  - value: JS 211 - JavaScript Basics
    label: JS 211 - JavaScript Basics
  - value: JS 311 - Front-End JavaScript
    label: JS 311 - Front-End JavaScript
  - value: JS 411 - Back-End Javascript
    label: JS 411 - Back-End Javascript
  - value: "C# .NET 221 - C# Basics"
    label: "C# .NET 221 - C# Basics"
  - value: "C# .NET 321 - .NET Framework"
    label: "C# .NET 321 - .NET Framework"
  - value: "C# .NET 421 - Advanced .NET + React.js"
    label: "C# .NET 421 - Advanced .NET + React.js"
  placeholder: Please select
  required: true
  small_width: 12
  medium_width: 6
- name: github_profile
  label: GitHub Profile
  description: ''
  type: text
  value: ''
  placeholder: Please enter your github profile link.
  required: true
  small_width: 12
  medium_width: 6
  options: []
- name: what_s_your_current_experience_in_coding_
  label: What experience do you have in coding already?
  description: ''
  type: text
  value: ''
  placeholder: Your coding experience
  required: true
  small_width: 12
  medium_width: 12
  options: []
- name: what_should_we_know_about_your_teaching_style_1
  label: What should we know about your teaching style?
  description: ''
  type: text
  value: ''
  placeholder: Please describe your teaching style.
  required: true
  small_width: 12
  medium_width: 12
  options: []
- name: why_do_you_want_to_teach_1
  label: Why do you want to teach?
  description: ''
  type: text
  value: ''
  placeholder: Your reason to teach
  required: true
  small_width: 12
  medium_width: 12
  options: []
- name: "which_factor_is_most_important"
  label: "When deciding on a coding school to teach at, which is the biggest factor for you?"
  description: ''
  type: select
  value: ''
  options:
  - value: Curriculum
    label: Curriculum
  - value: Schedule
    label: Schedule
  - value: Teaching Methodology
    label: Teaching Methodology
  - value: JS 411 - Back-End Javascript
    label: JS 411 - Back-End Javascript
  - value: Culture Fit
    label: Culture Fit
  placeholder: Please select
  required: true
  small_width: 12
  medium_width: 6
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="mt-90 pt-1 b-5 container">
  <div class="my-10 px-4 p-lg-0 border mx-auto">
    <h2 class="font-family-alt my-10 display-5 text-center">
      Instructor Application
    </h2>
    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ settings.wordpress_form_guid }}"
      method="POST"
      class="d-flex justify-content-center"
      >
      <div class="row mw-850">
        {% assign all_fields = page.form_fields %}
        {% include fields.html fields=all_fields redirect_url="" %}
        <div class="col-sm-6 mb-4">
          {% include referral-question.html %}
        </div>
        <div class="col-12 mb-4 d-flex justify-content-center">
          <button class="btn btn-round text-white hover-white bg-primary-dark" type="Submit">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>