---
layout: default
permalink: "/learn-to-code/"
amp_components:
- amp-iframe 
- amp-vimeo 
- amp-accordian 
- amp-sidebar 
head_title: "Learn To Code"
description: "Our self guided lessons to familiarize yourself with coding."
redirect_from: []
title: Learn to Code
learn_to_code:
- id: 1
  section: Intro to Coding
  sub_header: "In this lesson, you will learn what is coding is, and the difference
    between the two."
  codepen: "https://codepen.io/keithakritselis/pen/xxxmVgx"
  description: "While both the terms are synonymous with each other and are often used interchangeably, they are quite different from each other. Coding simply means writing codes from one language to another such as from English to Java. It’s less intimidating and less intensive. Programming, on the other hand,means to program a machine with a set of instructions to run."
  video_id: 272841691
  topics:
    - First Program
    - Then Code
    - Getting Started 
- id: 2
  section: Coding Languages
  sub_header: "In this lesson, .... coding languages."
  codepen: "https://codepen.io/keithakritselis/pen/rNNoyBz?editors=1100"
  description: "Lorem Ipsum blah blah Coding Languages"
  video_id: 290925619
  topics: 
    - HTML
    - CSS
    - Javascript
    - Other Languages
- id: 3
  section: Parts of a Web Page
  sub_header: "In this lesson, .... parts of a webpage"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah parts of a webpage"
  video_id: 290913789
  topics:
    - Static vs Dynamic
    - Elements
    - The DOM
- id: 4
  section: Welcome to JavaScript
  sub_header: "In this lesson, .... welcome to JavaScript"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah welcome to javascript"
  video_id: 290913789
  topics:
    - Manipulate Data
    - History of JavaScript
    - JavaScript and the webpage
- id: 5
  section: Defining "Full Stack"
  sub_header: "In this lesson, .... defining full stack"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah defining fullstack"
  video_id: 290913789
  topics:
    - Client vs Server
    - Manipulating Data
- id: 6
  section: Front-End vs Back-End
  sub_header: "In this lesson, .... front-end vs back-end"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah front-end vs back-end"
  video_id: 290913789
  topics:
    - What is the front-end
    - What is the back-end
    - Moving data
- id: 7
  section: Intro to Web Design
  sub_header: "In this lesson, .... intro to web design"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah intro to web design"
  video_id: 290913789
  topics:
    - What is UI? 
    - What is UX?
    - Human-Centered Design
- id: 8
  section: A Developer's Toolbox
  sub_header: "In this lesson, .... a developer's toolbox"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah a developer's toolbox"
  video_id: 290913789
  topics:
    - Why Chrome?
    - Text Editors
    - Git/gitBash + GitHub
- id: 9
  section: Building Your App
  sub_header: "In this lesson, .... building your app"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah building your app"
  video_id: 290913789
  topics:
    - Why?
    - What?
    - How?
- id: 10
  section: Coding vs. Wix/WordPress
  sub_header: "In this lesson, .... coding vs wix/wordpress"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah coding vs wix/wordpress"
  video_id: 290913789
  topics:
    - Why Wix? 
    - Limitations
    - Coding Skills
- id: 11
  section: Growth Mindset
  sub_header: "In this lesson, .... growth mindest"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah growth mindset"
  video_id: 290913789
  topics:
    - Why do we care?
    - What is items
    - How to do it
- id: 12
  section: Being a Developer
  sub_header: "In this lesson, .... being a developer"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah being a developer"
  video_id: 290913789
  topics:
    - Where did you come from?
    - What will you build?
    - What are you doing now? 
    - Katie, Mikaela, Lisa, Greg S, Jon G, Matt H
    - Selena Cynthia Dane, Mike Donnell @Fathom5
- id: 13
  section: What's Next
  sub_header: "In this lesson, .... what's next"
  codepen: "https://codepen.io/keithakritselis/pen/mddaWrN"
  description: "Lorem Ipsum blah blah what's next"
  video_id: 290913789
  topics:
    - The Admissions Process
    - Take the test!
    - Apply
---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<div style="font-family: Montserrat, Open Sans">
    <h2 class="font-family-alt text-indigo text-center display-5 my-5"><small>What is Coding</small></h2>
    <p class="text-center text-gray-dark mb-0">In this lesson, you will learn what coding is, what programming is, and the difference between the two.</p>
    <i class="fas fa-bars fa-2x ml-5 mb-5" on="tap:lessons.open"></i>
    <amp-sidebar 
      id="lessons" 
      class="bg-white w-25"
      layout="nodisplay" 
      side="left"
    >
      <i class="fas fa-times fa-2x p-1" on="tap:lessons.close"></i>
      <nav class="pl-5">
        <amp-accordion disable-session-states>
        <!--- Loop section names to build section/topic nav -->
        {% for lesson in page.learn_to_code %}
            <section>
                <h6>{{ lesson.section }}
                  <span class="float-right pr-4">
                  <i class="fas fa-angle-right fa-1x text-indigo">
                  </span>
                </h6>
                <div>
                  {% for topic in lesson.topics %}
                    <p>{{ topic }}</p>
                  {% endfor %}
                </div>
            </section>
        {% endfor %}
        </amp-accordion>
      </nav>
    </amp-sidebar>
    <div class="container-fluid m-0 p-0">
      <div class="row no-gutters align-items-center">
        <div class="float-left px-2">
          <i class="fas fa-angle-left fa-3x"></i>
        </div>
        <div class="col mr-1">
            <amp-vimeo
                data-videoid="272841691"
                layout="responsive"
                height="292"
                width="520"
            >
            </amp-vimeo>
            <p class="text-left font-weight-bolder">Previous: <span class="text-indigo">Intro to Coding</span></p>
        </div>
        <div class="col ml-1">
            <amp-iframe 
                layout="responsive"
                height="292"
                width="520"
                sandbox="allow-scripts allow-same-origin"
                src="https://codepen.io/keithakritselis/embed/xxxmVgx?theme-id=dark&default-tab=html,result"
            >
            <div placeholder></div>
            </amp-iframe>
            <p class="text-right font-weight-bolder">Next: <span class="text-indigo">Coding Languages</span></p>
        </div>
        <div class="float-right px-2">
          <i class="fas fa-angle-right fa-3x"></i>
        </div>
      </div>
    </div>
    <p class="text-wrap text-wrap text-center mx-auto w-75 my-5 font-weight-lighter">While both the terms are synonymous with each other and are often used interchangeably, they are quite different from each other. Coding simply means writing codes from one language to another such as from English to Java. It’s less intimidating and less intensive. Programming, on the other hand, means to program a machine with a set of instructions to run.</p>
</div>