---
layout: default
permalink: "/tuition/"
head_title: Affordable Tuition | Software Engineering Classes at {{ school.name }}
title: Tuition
tuition: true
schools:
- key: circlecoding
  sections:
  - title: Full Stack Web Development Track
    description: There are three ways our students are able to fund our core program.
      This track includes four 8-week web development courses and
      a job placement course that is free for all graduates.
    options:
    - title: Circle Coding Academy Payment Plan (Budget Option)
      description: With our new payment plan, you can get started with class by making
        a $1,000 deposit. After you begin class you’ll make bi-weekly payments of
        $250 for 22 months. No interest and no penalty for prepayment!
      price_header: Details
      price: "$1,000"
      price2: "$250"
      payment_plan_paycove_template: "47 Bi-week Payment Plan"
      deposit_hubspot_product_id: 87062522
      payment_plan_hubspot_product_id: 87065220
    - title: Pay Up Front (Savings Option)
      description: Save $1,000 on the cost of the Full Stack Web Development Track
        when you choose to pay for the entire cost of the program up front. Instead
        of paying for the payment plan price of $12,750, you’ll pay the reduced price of $10,960.
      price_header: Total Price
      price: "$10,960"
      price2: ''
      payment_plan_paycove_template: ""
      deposit_hubspot_product_id: 87065216
      payment_plan_hubspot_product_id:
  - title: Apply to Join the Full Stack Web Development Track
    description: Submit your short 5-minute application to Circle Coding Academy’s
      Full Stack Web Development Track and discuss tuition with a follow-up call with
      your admissions advisor.
    button: Apply
    url: "/apply"
    style: text-white btn btn-round bg-primary-dark hover-white center mt-4
    options: []
- key: austincodingacademy
  sections:
  - title: Full Stack Web Development Track
    description: There are three ways our students are able to fund our core program.
      This track includes four 8-week web development courses, ($2,990/course), and
      a job placement course that is free for all graduates.
    options:
    - title: Austin Coding Academy Payment Plan (Budget Option)
      description: With our new payment plan, you can get started with class by making
        a $1,000 deposit. After you begin class you’ll make bi-weekly payments of
        $250 for 22 months, for a total program cost of $12,750. No interest and no
        penalty for prepayment!
      price_header: Details
      price: "$1,000"
      price2: "$250"
      payment_plan_paycove_template: "47 Bi-week Payment Plan"
      deposit_hubspot_product_id: 87062522
      payment_plan_hubspot_product_id: 87065220
    - title: Pay Up Front (Savings Option)
      description: Save $1,000 on the cost of the Full Stack Web Development Track
        when you choose to pay for the entire cost of the program up front. Instead
        of paying for the payment plan price of $12,750, you’ll pay the reduced
        price of $10,960.
      price_header: Total Price
      price: "$10,960"
      price2: ''
      payment_plan_paycove_template: ""
      deposit_hubspot_product_id: 87065216
      payment_plan_hubspot_product_id:
  - title: Apply to Join the Full Stack Web Development Track
    description: Submit your short 5-minute application to Austin Coding Academy’s
      Full Stack Web Development Track and discuss tuition with a follow-up call with
      your admissions advisor.
    button: Apply
    url: "/apply"
    style: text-white btn btn-round bg-primary-dark hover-white center mt-4
    options: []
  - title: WordPress Fundamentals
    description: We offer two options to cover the cost of tuition for our 8-week
      WordPress Fundamentals course, in partnership with WP Engine.
    options:
    - title: Pay Up Front
      description: The total cost of the WordPress Fundamentals Course is $1,990
      price_header: Total Price
      price: "$1,990"
      price2: ''
      payment_plan_paycove_template: ""
      deposit_hubspot_product_id: 87065226
      payment_plan_hubspot_product_id:
    - title: Payment Plan
      description: Take advantage of our payment plan option to make tuition more
        manageable. Make your $490 deposit before the start of class and make weekly
        payments of $156 for 10 weeks to cover the cost of tuition. There is a $60
        payment plan fee included in the cost of tuition. No interest or penalty for
        prepayment.
      price_header: Total Price
      price: "$490"
      price2: '$156'
      payment_plan_paycove_template: "10 Week Payment Plan"
      deposit_hubspot_product_id: 87065227
      payment_plan_hubspot_product_id: 87065230
- key: lubbockcodingacademy
  sections:
  - title: Full Stack Web Development Track
    description: There are four courses in our Full Stack Web Development
      Track, as well as a job placement class (free to all graduates). Find out how
      we make tuition affordable with our different payment options below.
    options:
    - title: Lubbock Coding Academy Payment Plan (Budget Option)
      description: With our new payment plan, you can get started with Lubbock Coding
        Academy for just $460 up-front. After you begin classes you’ll make bi-weekly
        payments of $225 for 18-months, for a total program cost of $8,560. No interest
        and no penalty for prepayment!
      price_header: Details
      price: "$460"
      price2: "$225"
      payment_plan_paycove_template: "36 Bi-week Payment Plan"
      deposit_hubspot_product_id: 87065231
      payment_plan_hubspot_product_id: 87065232
    - title: Pay Up Front
      description: Alternatively, if you are committed to going through the entire
        program, you can cover the entire cost of tuition for the program upfront
        if you are able to do so.
      price_header: Total Price
      price: "$7,960"
      price2: ''
      payment_plan_paycove_template: ""
      deposit_hubspot_product_id: 87065233
      payment_plan_hubspot_product_id:
    - title: Financing (via Texas Tech Credit Union)
      description: Finance your tuition through Texas Tech Credit Union’s “Lubbock
        Coding Academy Loan”. Apply with Texas Tech Credit Union, and once accepted
        simply make your $490 deposit and begin monthly payments towards tuition over
        the course of the loan. Learn more on Texas Tech Credit Union’s website.
      cta: <a href="https://www.texastechfcu.org/borrow/lubbock-coding-academy-loan"
        rel="noopener" class="btn btn-round bg-primary-dark text-white hover-white
        mt-2" target="_blank"><span class="text-white hover-white">Financing Options</span>
        <span class="text-white hover-white fas fa-arrow-right small"></span></a>
      price_header: ''
      price: ''
      price2: ''
  - title: Apply to Join the Full Stack Web Development Track
    description: Submit your short 5-minute application to Lubbock Coding Academy’s
      Full Stack Web Development Track and discuss tuition with a follow-up call with
      your admissions advisor.
    button: Apply
    url: "/apply"
    style: text-white btn btn-round bg-primary-dark hover-white center mt-4
    options: []
- key: texastechcodingacademy
  sections:
  - title: Full Stack Web Development Track
    description: There are four courses ($2,490/course) in our Full Stack Web Development
      Track, as well as a job placement class (free to all graduates). Find out how
      we make tuition affordable with our different payment options below.
    options:
    - title: Pay Up Front
      description: Alternatively, if you are committed to going through the entire
        program, you can cover the entire cost of tuition for the program upfront
        if you are able to do so.
      price_header: Total Price
      price: "$9,960"
      price2: ''
      payment_plan_paycove_template: ""
      deposit_hubspot_product_id: 87065234
      payment_plan_hubspot_product_id:
    - title: "{{ school.name }} Payment Plan (Budget Option)"
      description: With our new payment plan, you can get started with {{ school.name
        }} for just $460 up-front. After you begin classes you’ll make bi-weekly payments
        of $225 for 22-months, for a total program cost of $10,360. No interest and
        no penalty for prepayment!
      price_header: Details
      price: "$460"
      price2: "$225"
      payment_plan_paycove_template: "44 Bi-week Payment Plan"
      deposit_hubspot_product_id: 87065231
      payment_plan_hubspot_product_id: 87065236
  - title: Apply to Join the Full Stack Web Development Track
    description: Submit your short 5-minute application to Texas Tech University Coding
      Academy’s Full Stack Web Development Track and discuss tuition with a follow-up
      call with your admissions advisor.
    button: Apply
    url: "/apply"
    style: text-white btn btn-round bg-primary-dark hover-white center mt-4
    options: []

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<main class="mt-90 pt-1 pb-5">
  <div class="my-10 container">
    <h1 class="text-center font-family-alt font-weight-bold display-5">
      Tuition
    </h1>
    <p class="text-center display-6">
      We keep it simple.
    </p>
  </div>
  {% for section in school.sections %}
    <section class="mt-5 mb-10">
      {% if section.button %}
        <div class="container-fluid text-center py-3 my-5">
          <h2 class="display-6 font-family-alt font-weight-bold mx-auto">
            {{ section.title | liquify }}
          </h2>
          <p class="m-0 mx-auto mw-600">
            {{ section.description | liquify }}
          </p>
          <!-- Apply button -->
          <!-- htmllint preset="none" -->
          <a class="{{ section.style | liquify }} hover-white" href="{{ section.url }}">
          <!-- htmllint preset="$previous" -->
            <span class="text-white hover-white">
              {{ section.button | liquify }}
            </span>
          </a>
        </div>
      {% else %}
        <div class="container-fluid bg-light text-center py-3 my-5">
          <h2 class="display-6 font-family-alt font-weight-bold mx-auto">
            {{ section.title | liquify }}
          </h2>
          <p class="m-0 mx-auto mw-600">
            {{ section.description | liquify }}
          </p>
        </div>
        <div class="container">
          {% for option in section.options %}
            <div class="row my-5">
              <div class="col-md-8">
                <h3 class="display-7 border-bottom">
                  {{ option.title | liquify }}
                </h3>
                <p>
                  {{ option.description | liquify }}
                </p>
              </div>
              <div class="col-md-4 px-5">
                {% if option.price_header == 'Details' %}
                  <div class="text-center">
                    <h5>
                      {{ option.price_header | liquify }}
                    </h5>
                    <div class="card-body mx-8 mx-md-auto mx-lg-5 rounded border shadow">
                      <div class="display-6">
                        {{ option.price | liquify }} <span style="font-size: 1rem;">to start</span>
                      </div>
                      <div class="display-8">
                        +<br>
                        {{ option.price2}}<span style="font-size: 12px;"> / 2 weeks</span>
                      </div>
                    </div>
                  </div>
                {% elsif option.price.size > 0 %}
                  <div class="text-center">
                    <h5>
                      {{ option.price_header | liquify }}
                    </h5>
                    <p
                      class="card-body mx-11 mx-md-auto mx-lg-5 rounded border shadow display-6"
                      style="min-width: 155px;"
                    >
                      {{ option.price | liquify }}
                    </p>
                  </div>
                {% elsif option.cta %}
                  <div class="text-center">
                    <h5>
                      Learn More
                    </h5>
                    {{ option.cta | liquify }}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </section>
  {% endfor %}
</main>