---
layout: default
permalink: /tuition/
austin:
  title: Affordable Tuition | Software Engineering Classes at Austin Coding Academy
  sections:
    - title: Full Stack Web Development Track
      description: There are three ways our students are able to fund the Full Stack Web Development Track – the core program at Austin Coding Academy. This track includes four 8-week web development courses, ($2,990/course), and a complimentary job placement course.
      options:
        - title: Pay Up Front (Savings Option)
          description: "Save $1,000 on the cost of the Full Stack Web Development Track when you choose to pay for the entire cost of the program up front. Instead of paying for the individual price of 4 web development courses, ($11,960), you’ll pay the reduced price of $10,960."
          price-header: Total Price
          price: $10,960
        - title: Pay-As-You-Go (Flexible Option)
          description: "To provide a more flexible tuition option, we also offer a “pay-as-you-go” plan. Rather than paying for the entire cost of the program up front, you’re able to pay for each course when you take it, ($2,990/course)."
          price-header: Total Price
          price: $11,960
        - title: Financing
          description: "Whether you choose to pay for the entire program up front, or pay-as-you-go, all students are welcome to finance their program independently, or through Skills Fund, our primary financing partner. You can learn more about financing options on our financing page."
          cta: <a href="/financing" class="btn btn-round bg-purple text-white hover-white mt-2">Financing Options <span class="fas fa-arrow-right small"></span></a>
    - title: Apply to Join the Full Stack Web Development Track
      description: Submit your short 5-minute application to Austin Coding Academy’s Full Stack Web Development Track and discuss tuition with a follow-up call with your admissions advisor.
      button: Apply
      url: "/apply"
      style: text-white btn btn-round bg-purple hover-white center mt-4

    - title: Individual Classes &amp; Electives
      description: "Have previous experience as a developer or just trying to learn a bit of coding? You’re welcome to take any of the individual courses from the Full Stack Web Development Track or one of our Elective seminars (coming soon). While individual courses won’t prepare you to land a job as a developer, you can still learn useful skills."
      options:
        - title: Individual Courses
          description: "The cost of an Individual 8-week course with Austin Coding Academy is $2,990. While our Full Stack Web Development Track is designed to prepare students to become developers and help them find a job, individual courses may be appropriate for students who already have a coding background or aren’t looking for a career as a web developer."
          price-header: Course Price
          price: $2,990
        - title: Electives
          description: "Electives with Austin Coding Academy are coming soon. Stay tuned for updates on seminar courses on web design, C# .Net, and data science. Coming soon."
lubbock:
  title: Affordable Tuition | Software Engineering Classes at Lubbock Coding Academy
  sections:
    - title: Tuition
      description: "There are four courses in our Full Stack program at Lubbock Coding Academy. This track includes four 8-week web development courses, ($1,490/course), and a complimentary job placement course."
      options:
        - title: Full Stack Web Development Program
          description: "You can pay one class at a time for $1,490. The tuition price covers one 8 week session. The cost of the entire program is $5,960."
          price-header: Total Price
          price: $5,960
    - title: Apply to Join the Full Stack Web Development Track
      description: Submit your short 5-minute application to Lubbock Coding Academy’s Full Stack Web Development Track and discuss tuition with a follow-up call with your admissions advisor.
      button: Apply
      url: "/apply"
      style: text-white btn btn-round bg-purple hover-white center mt-4
---
{% assign city = page[site.key] %}

<main class="mt-90 pt-1 pb-5">
  <div class="my-10 container">
    <h1 class="text-center font-family-alt font-weight-bold display-5">
      Tuition
    </h1>
    <p class="text-center display-6">
      We keep it simple.
    </p>
  </div>
  {% for section in city.sections %}
    <section class="mt-5 mb-10">
      {% if section.button %}
      <!-- remove bg-light -->
        <div class="container-fluid text-center py-3 my-5">
          <h2 class="display-6 font-family-alt font-weight-bold mx-auto">
            {{section.title}}
          </h2>
          <p class="m-0 mx-auto mw-600">
            {{section.description}}
          </p>
          <!-- Apply button -->
          <!-- htmllint preset="none" -->
          <a class="{{section.style}} hover-white" href="{{ section.url }}">
          <!-- htmllint preset="$previous" -->
            <span class="text-white hover-white">
              {{ section.button }}
            </span>
          </a>
        </div>
      {% else %}
      <div class="container-fluid bg-light text-center py-3 my-5">
          <h2 class="display-6 font-family-alt font-weight-bold mx-auto">
            {{section.title}}
          </h2>
          <p class="m-0 mx-auto mw-600">
            {{section.description}}
          </p>
        </div>
      <div class="container">
        {% for option in section.options %}
          <div class="row my-5">
            <div class="col-md-8">
              <h3 class="display-7 border-bottom">
                {{option.title}}
              </h3>
              <p>
                {{option.description}}
              </p>
            </div>
            <div class="col-md-4 px-5">
              {% if option.price %}
                <div class="text-center">
                  <h5>
                    {{option.price-header}}
                  </h5>
                  <p class="card-body mx-11 mx-md-auto mx-lg-5 rounded border shadow display-6">
                    {{option.price}}
                  </p>
                </div>
              {% elsif option.cta %}
                <div class="text-center">
                  <h5>
                    Learn More
                  </h5>
                  {{option.cta}}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    </section>
  {% endfor %}
</main>