---
layout: default
permalink: "/tuition/"
head_title: Affordable Tuition | Software Engineering Classes at {{ school.name }}
title: Tuition
amp_components:
- amp-youtube
schools:
- key: circlecoding
  sections:
  - title: Full Stack Web Development Track
    description: There are three ways our students are able to fund our core program.
      This track includes four 8-week web development courses, ($2,990/course), and
      a job placement course that is free for all graduates.
    options:
    - title: Full Tuition
      description: When you pay in full, you will pay the reduced total price of $10,960
      price_header: Total Price
      price-full: "$1,000"
      payment_deposit: "$490"
      picture: '/assets/uploads/ccawebsite_tuitionpage_paymentplan.png'
    - title: Payment Plan
      description: After your initial deposit of $1000, you will make bi-weekly payments of $250 for 22 months. Total price of $12,750
      price_header: Details
      price-full: "$10,960"
      payment_deposit: '$250'
      picture: '/assets/uploads/ccawebsite_tuitionpage_fulltuition.png'
  - title: Apply to Join the Full Stack Web Development Track
    description: Submit your short 5-minute application to Circle Coding Academy’s
      Full Stack Web Development Track and discuss tuition with a follow-up call with
      your admissions advisor.
    button: Apply
    url: "/apply"
    style: text-white btn {% if school.inverted != true %}btn-round{% endif %} bg-primary-dark hover-white center mt-4
    options: []
- key: austincodingacademy
  sections:
  - title: Full Stack Web Development Track
    description: There are three ways our students are able to fund our core program.
      This track includes four 8-week web development courses, ($2,990/course), and
      a job placement course that is free for all graduates.
    options:
    - title: Austin Coding Academy Payment Plan (Budget Option)
      description: With our new payment plan, you can get started with class by making a $1,000 deposit. After you begin class you’ll make bi-weekly payments of $250 for 22 months, for a total program cost of $12,750. No interest and no penalty for prepayment!
      price_header: Details
      price-full: "$1,000"
      payment_deposit: "$250"
      picture: ''
    - title: Pay Up Front (Savings Option)
      description: Save $1,000 on the cost of the Full Stack Web Development Track when you choose to pay for the entire cost of the program up front. Instead of paying for the individual price of 4 web development courses, ($11,960),
        you’ll pay the reduced price of $10,960.
      price_header: Total Price
      price-full: "$10,960"
      payment_deposit: '$490'
      picture: ''
  - title: Apply to Join the Full Stack Web Development Track
    description: Submit your short 5-minute application to Austin Coding Academy’s
      Full Stack Web Development Track and discuss tuition with a follow-up call with
      your admissions advisor.
    button: Apply
    url: "/apply"
    style: text-white btn {% if school.inverted != true %}btn-round{% endif %} bg-primary-dark hover-white center mt-4
    options: []
  - title: WordPress Fundamentals
    description: We offer two options to cover the cost of tuition for our 8-week
      WordPress Fundamentals course, in partnership with WP Engine.
    options:
    - title: Pay Up Front
      description: The total cost of the WordPress Fundamentals Course is $1,990.
        Reserve your spot in class by making a $490 deposit once accepted, and pay
        your remaining tuition by February 10th to start class.
      price_header: Total Price
      price-full: "$1,990"
      payment_deposit: ''
      picture: ''
    - title: Payment Plan
      description: Take advantage of our payment plan option to make tuition more
        manageable. Make your $490 deposit before the start of class and make weekly
        payments of $156 for 10 weeks to cover the cost of tuition. There is a $60
        payment plan fee included in the cost of tuition. No interest or penalty for
        prepayment.
      price_header: Total Price
      price-full: "$2,050"
      payment_deposit: ''
      picture: ''
  - title: Individual Classes &amp; Electives
    description: Have previous experience as a developer or just trying to learn a
      bit of coding? You’re welcome to take any of the individual courses from the
      Full Stack Web Development Track or one of our Elective seminars (coming soon).
      While individual courses won’t prepare you to land a job as a developer, you
      can still learn useful skills.
    options:
    - title: Individual Courses
      description: The cost of an Individual 8-week course with Austin Coding Academy
        is $2,990. While our Full Stack Web Development Track is designed to prepare
        students to become developers and help them find a job, individual courses
        may be appropriate for students who already have a coding background or aren’t
        looking for a career as a web developer.
      price_header: Course Price
      price-full: "$2,990"
      payment_deposit: ''
      picture: ''
- key: lubbockcodingacademy
  sections:
  - title: Full Stack Web Development Track
    description: There are four courses ($1,990/course) in our Full Stack Web Development
      Track, as well as a job placement class (free to all graduates). Find out how
      we make tuition affordable with our different payment options below.
    options:
    - title: Lubbock Coding Academy Payment Plan (Budget Option)
      description: With our new payment plan, you can get started with Lubbock Coding
        Academy for just $460 up-front. After you begin classes you’ll make bi-weekly
        payments of $225 for 18-months, for a total program cost of $8,560. No interest
        and no penalty for prepayment!
      price_header: Details
      price-full: "$460"
      payment_deposit: "$225"
      picture: ''
    - title: Pay Up Front
      description: Alternatively, if you are committed to going through the entire
        program, you can cover the entire cost of tuition for the program upfront
        if you are able to do so.
      price_header: Total Price
      price-full: "$7,960"
      payment_deposit: ''
      picture: ''
    - title: Financing (via Texas Tech Credit Union)
      description: Finance your tuition through Texas Tech Credit Union’s “Lubbock
        Coding Academy Loan”. Apply with Texas Tech Credit Union, and once accepted
        simply make your $490 deposit and begin monthly payments towards tuition over
        the course of the loan. Learn more on Texas Tech Credit Union’s website.
      cta: <a href="https://www.texastechfcu.org/borrow/lubbock-coding-academy-loan"
        rel="noopener" class="btn {% if school.inverted != true %}btn-round{% endif %} bg-primary-dark text-white hover-white
        mt-2" target="_blank"><span class="text-white hover-white">Financing Options</span>
        <span class="text-white hover-white fas fa-arrow-right small"></span></a>
      price_header: ''
      price-full: ''
      payment_deposit: ''
      picture: ''
  - title: Apply to Join the Full Stack Web Development Track
    description: Submit your short 5-minute application to Lubbock Coding Academy’s
      Full Stack Web Development Track and discuss tuition with a follow-up call with
      your admissions advisor.
    button: Apply
    url: "/apply"
    style: text-white btn {% if school.inverted != true %}btn-round{% endif %} bg-primary-dark hover-white center mt-4
    options: []
- key: texastechcodingacademy
  sections:
  - title: Full Stack Web Development Track
    description: There are four courses ($1,990/course) in our Full Stack Web Development
      Track, as well as a job placement class (free to all graduates). Find out how
      we make tuition affordable with our different payment options below.
    options:
    - title: Pay Up Front
      description: Alternatively, if you are committed to going through the entire
        program, you can cover the entire cost of tuition for the program upfront
        if you are able to do so.
      price_header: Total Price
      price-full: "$9,960"
      payment_deposit: ''
      picture: ''
    - title: "{{ school.name }} Payment Plan (Budget Option)"
      description: "With our new payment plan, you can get started with {{ school.name }} for just $460 up-front. After you begin classes you’ll make bi-weekly
        payments of $225 for 18-months, for a total program cost of $10,360. No interest
        and no penalty for prepayment!"
      price_header: Details
      price-full: "$460"
      payment_deposit: "$225" 
      picture: ''
  - title: Apply to Join the Full Stack Web Development Track
    description: Submit your short 5-minute application to Texas Tech University Coding
      Academy’s Full Stack Web Development Track and discuss tuition with a follow-up
      call with your admissions advisor.
    button: Apply
    url: "/apply"
    style: text-white btn {% if school.inverted != true %}btn-round{% endif %} bg-primary-dark hover-white center mt-4
    options: []
  
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}

<main>
  <div class="container-fluid bg-light text-center py-5">
    <h2>Tuition Options</h2>
  </div>
  {% for section in school.sections %}
    <div class="row p-5 justify-content-center">
      {% for option in section.options %}
        <div class="col-sm-6 col-md-3 border p-2 mx-4 my-4">
          <div class="shadow py-3 bg-light">
            {% if option.picture != '' %}
              <img src="{{ option.picture }}" layout="responsive" alt="Tuition Picture">
            {% else %}
              <div class="bg-textured" style="height: 100px"></div>
            {% endif %}
            <div class="bg-primary-light p-2 my-2 d-flex justify-content-center">
              {{ option.title }}
            </div>
            <div class="d-flex justify-content-center">
              {% if option.price_header == "Total Price" %}
                <h4 class="font-weight-bold">{{ option.payment_deposit }} deposit</h4>
              {% elsif option.price_header == "Details" %}
                <h4 class="font-weight-bold">{{ option.payment_deposit }} bi-weekly payments</h4>
              {% endif %}
            </div>
            <div class="d-flex justify-content-center">
              <p>{{ option.description }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
  <div class="bg-light py-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 p-4">
        <amp-youtube
          data-videoid="AVMkl06b5IE"
          width="266.656px"
          height="150px"
          tabindex="0"
          role="presentation"
          layout="responsive"
          title="Lilian Situ video review of Austin Coding Academy"
        >
        </amp-youtube>
      </div>
      <div class="mt-3 d-flex justify-content-center align-items-center col-12 col-md-4">
        <blockquote class="blockquote w-75">
          <p>I've always been interested in programming and being able to create something so being able to take what I learned at ACA and get a job with it ... was one of the best decisions I've made.
          </p>
          <footer class="blockquote-footer text-dark display-9 text-right mt-1">Lillian Situ, <cite title="Title">Software Engineer, data.world</cite></footer>
        </blockquote>
      </div>
      <!-- <div class="d-flex column col-4">
        <div>
          <h2 class="display-5">Lillian Situ</h2>
        </div>
        <div>
          <p>I've always been interested in programming and being able to create something so being able to take what I learned at ACA and get a job with it ... was one of the best decisions I've made.</p>
        </div>
      </div> -->
    </div>
  </div>
</main>