---
layout: default
permalink: "/tutors/"
head_title: Schedule Free Tutoring | {{ school.name }}"
description: ''
redirect_from: []
amp_components:
- amp-date-picker
tutors: true
schools:
- key: austincodingacademy
  tutors:
  - name: Sky Mendes
    id: "3192771"
    skills:
    - Web 101
    gravatar_email: skymendesross@gmail.com
    location:
    - austinDowntown
    - austinNorth
    calendar: https://acaappointment.as.me/?calendarID=3192771
    virtual: https://meet.google.com/iom-amef-qjc
    rocketchat: https://chat.austincodingacademy.com/direct/skymendes-1123
    email: ''
  - name: Michael Snowden
    id: "3196342"
    skills:
    - JS411
    - JS211
    - Web101
    gravatar_email: mtsnowden@gmail.com
    location:
    - austinNorth
    calendar: https://acaappointment.as.me/?calendarID=3196342
    virtual: https://meet.google.com/ejr-idos-btc
    rocketchat: https://chat.austincodingacademy.com/direct/michaelsnowden-1106
    email: ''
  - name: Emilio Sanchez
    id: "3188939"
    skills:
    - JS411
    - JS311
    - JS211
    - Web 101
    gravatar_email: sanchez.emilio483@gmail.com
    location:
    - austinNorth
    calendar: https://acaappointment.as.me/?calendarID=3188939
    virtual: https://meet.google.com/yxu-czvr-bsv
    rocketchat: https://chat.austincodingacademy.com/direct/emiliosanchez-1176
    email: ''
  - name: Wes Garbee
    id: "10004148"
    skills:
    - Web 101
    - C# 221
    - ".Net 321"
    gravatar_email: wgarbee@gmail.com
    location:
    - austinNorth
    calendar: https://acaappointment.as.me/?calendarID=2946352
    virtual: https://meet.google.com/nrm-efsq-vra
    rocketchat: https://chat.austincodingacademy.com/direct/wes.g.garbee
    email: ''
  - name: Eddie Crochet
    id: "8858762"
    skills:
    - Web 101
    - C# 221
    - ".Net 321"
    limitation: 
    gravatar_email: eddiecrochet1994@gmail.com
    location:
    - any
    - austinNorth
    - austinDowntown
    calendar: https://acaappointment.as.me/schedule.php?calendarID=2705640
    virtual: https://meet.google.com/ixh-phuz-tre
    rocketchat: https://chat.austincodingacademy.com/direct/eddiecrochet-939
    email: ''
  - name: Gabe Flores
    id: "9935070"
    skills:
    - Web 101
    - JS 211
    - JS 311
    gravatar_email: jflores353@gmail.com
    location:
    - any
    - austinNorth
    calendar: https://acaappointment.as.me/?calendarID=2932736
    virtual: https://meet.google.com/cyb-qjve-zsv
    rocketchat: https://chat.austincodingacademy.com/direct/gabeflores-958
    email: ''
  - name: Sean Philippi
    id: "8858776"
    skills:
    - Web 101
    - JS 211
    - JS 311
    limitation: 
    gravatar_email: sean.philippi@gmail.com
    location:
    - any
    - austinNorth
    calendar: https://acaappointment.as.me/schedule.php?calendarID=2705627
    virtual: https://meet.google.com/gee-rmgn-ocm
    rocketchat: https://chat.austincodingacademy.com/direct/sean.philippigmail.com
    email: ''
  - name: Darwin Risser
    id: "9916197"
    skills:
    - Web 101
    - JS 211
    - JS 311
    gravatar_email: risser.darwin@gmail.com
    location:
    - any
    - austinNorth
    calendar: https://acaappointment.as.me/?calendarID=2928936
    virtual: https://meet.google.com/znv-fowt-rcm
    rocketchat: https://chat.austincodingacademy.com/direct/risser.darwin
    email: ''
  - name: Olamide Kolawole
    id: "9299635"
    skills:
    - C# Students &amp; Grads
    - JS Grads Only
    limitation: 
    gravatar_email: olamshin@gmail.com
    location:
    - any
    - austinNorth
    - austinDowntown
    calendar: https://acaappointment.as.me/?calendarID=2803756
    virtual: https://meet.google.com/ogc-dsza-fkr
    rocketchat: https://chat.austincodingacademy.com/direct/olamidekolawole-1293
    email: ''
  - name: Lillian Situ
    id: "8182184"
    skills:
    - Full-stack mentor
    limitation: Graduates Only
    gravatar_email: mslilliansitu@gmail.com
    location:
    - any
    - austinNorth
    - austinDowntown
    calendar: https://acaappointment.as.me/?calendarID=2550374
    virtual: https://meet.google.com/jbo-ebzv-uws
    rocketchat: https://chat.austincodingacademy.com/direct/lillian_situ
    email: ''
  - name: Greg Swan
    id: "9299558"
    skills:
    - JS full-stack
    limitation: Graduates Only
    gravatar_email: greg.c.swan@gmail.com
    location:
    - any
    - austinNorth
    - austinDowntown
    calendar: https://acaappointment.as.me/?calendarID=2803741
    virtual: https://meet.google.com/cyf-cqkg-fzj
    rocketchat: https://chat.austincodingacademy.com/direct/greg.swan
    email: ''
  - name: Eric Barrs
    id: "8069545"
    skills:
    - Web 101
    - JS 211
    - JS 311
    limitation: 
    gravatar_email: eric@austincodingacademy.com
    location:
    - any
    - austinNorth
    - austinDowntown
    calendar: https://acaappointment.as.me/?calendarID=2522414
    virtual: https://meet.google.com/dvg-kciy-jty
    rocketchat: https://chat.austincodingacademy.com/direct/ericbarrs-913
    email: ''
- key: lubbockcodingacademy
  tutors:
  - name: Lindsay Wilson
    id: "3237866"
    skills:
    - Web 101
    - C# 221
    gravatar_email: lindsay.89@outlook.com
    location:
    - South Plains Community College
    calendar: https://acaappointment.as.me/?calendarID=3237866
    virtual: https://meet.google.com/ium-axum-djx
    rocketchat: https://chat.austincodingacademy.com/direct/lindsaywilson-1324
    email: lindsay.89@outlook.com
  - name: Johnny Reina
    id: "10233633"
    skills:
    - ".Net321"
    - C#221
    - Web 101
    limitation: advanced students only
    gravatar_email: johnny.r.reina@gmail.com
    location:
    - South Plains Community College
    calendar: https://acaappointment.as.me/?calendarID=2992556
    virtual: https://meet.google.com/swm-maog-rak
    rocketchat: https://chat.austincodingacademy.com/direct/johnny.reina
    email: johnny@lubbockcodingacademy.com
  - name: Sara Ashley
    id: "10233340"
    skills:
    - Web 101
    gravatar_email: sara.ashleyhs@gmail.com
    location:
    - South Plains Community College
    calendar: https://acaappointment.as.me/?calendarID=2992484
    virtual: https://meet.google.com/nbo-xtrv-nna
    rocketchat: https://chat.austincodingacademy.com/direct/saraashley-1212
    limitation: ''
    email: ''
  - name: Tristan Holaday
    id: "3328689"
    skills:
    - Web 101
    - C# 221
    - ".Net 321"
    gravatar_email: tholaday777@gmail.com
    location:
    - South Plains Community College
    calendar: https://acaappointment.as.me/?calendarID=3328689
    virtual: https://meet.google.com/nvx-yxih-frx
    rocketchat: tristanholaday-1247
    limitation: ''
    email: ''
- key: dell
  tutors:
  - name: Dana
    id: ''
    skills:
    - Web 101
    gravatar_email: ''
    location:
    - austinNorth
    calendar: https://acaappointment.as.me/?appointmentType=10179656
    virtual: ''
    rocketchat: ''
    email: ''
  - name: Isaiah
    id: ''
    skills:
    - Web 101
    gravatar_email: ''
    location:
    - austinNorth
    calendar: https://acaappointment.as.me/?appointmentType=10179645
    virtual: ''
    rocketchat: ''
    email: ''

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
{% assign tutors=school.tutors %}
{% include tutors-list.html tutors=tutors %}