---
layout: default
permalink: "/tutors/"
head_title: Schedule Free Tutoring | {{ school.name }}"
description: ''
redirect_from: []
amp_components:
- amp-recaptcha-input
- amp-date-picker
title: Tutors
schools:
- key: austincodingacademy.com
  tutoring_instructions: |
    <h4 class="font-weight-bold">
      Group Coding &amp; Tutoring Sessions
    </h4>
    <ul class="fa-ul">
      <li class="mb-2">
        <span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
        Every weekend
        <a
          href="https://www.google.com/maps/place/314+E+Highland+Mall+Blvd,+Austin,+TX+78752/@30.3290949,-97.7136072,17z/data=!3m1!4b1!4m5!3m4!1s0x8644ca3c817930a1:0xdcef6c070dfbaef7!8m2!3d30.3290949!4d-97.7114185">
          @<span class="link-underlined">Highland Campus</span>
        </a>
      </li>
      <li class="mb-2">
        <span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
        Saturdays: 10am - 6pm
      </li>
      <li class="mb-2">
        <span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
        Sundays: 10am - 4pm
      </li>
      <li>
        <span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
        Check your email for a weekly invitation and list of tutors who will be there to help
      </li>
    </ul>

---
{% for _page in site.pages %}
{% if _page.settings %}
{% assign settings = _page %}
{% for _school in settings.schools %}
{% if _school.key == site.key %}
{% assign school = _school %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% if page.schools %}
{% for _school in page.schools %}
{% if _school.key == site.key %}
{% assign school = school | hash_concat: _school %}
{% endif %}
{% endfor %}
{% endif %}

<div class="container mt-90 pt-1 pb-5">
  <h2 class="font-family-alt font-weight-bold text-center display-5 mb-4">
    Tutoring
  </h2>
  <h5 class="text-center mb-5 mx-auto">
    {{ school.name }} offers unlimited tutoring to students and graduates!
  </h5>
  <div class="row mb-10 mt-6">
    <div class="col-md">
      <h4 class="font-weight-bold">
        One-on-One Tutoring
      </h4>
      <ul class="fa-ul">
        <li class="mb-2">
          <span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
          Schedule an appointment with a tutor who is available for your class
        </li>
        <li class="mb-2">
          <span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
          Send a message on RocketChat to say hi, let the tutor know which class you're in,
          and confirm where you'll meet
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
          If you are unable to meet in person, Virtual Classroom is available for video chat
          and screen-sharing
        </li>
      </ul>
    </div>
    <div class="col-md">
      {{ school.tutoring_instructions }}
    </div>
  </div>

  <!-- Video -->
  <div class="col-sm-12 mt-6">
    <amp-iframe src="https://player.vimeo.com/video/333657043" width="525" height="242" layout="responsive"
      sandbox="allow-scripts allow-same-origin" frameborder="0" class="mb-6" allowfullscreen>
    </amp-iframe>
  </div>

  <!-- Filters -->
  <h4 class="pt-5">
    Filters
  </h4>
  <div class="d-flex flex-row justify-content-around pb-5">
    <!-- Location -->
    <div class="w-50">
      <label class="form-label">
        By Location:
      </label>
      <!-- htmllint preset="none" -->
      <select on="change:AMP.setState({ location: event.value })" tabindex="0" class="form-control">
        <!-- htmllint preset="$previous" -->
        {% if school.name == 'Austin Coding Academy' %}
        <option value="any" selected>
          Select Location
        </option>
        <option value="austinNorth">
          North Campus
        </option>
        <option value="austinDowntown">
          Downtown Campus
        </option>
        {% else %}
        <option value="any" selected>
          Select Location
        </option>
        <option value="southPlains">
          South Plains Community College
        </option>
        {% endif %}
      </select>
    </div>

    <!-- Date Picker -->
    <div class="ml-1 w-50">
      <label class="form-label">
        By Date:
      </label>
      <!-- htmllint preset="none" -->
      <amp-date-picker mode="overlay" tabindex="0" on="select:AMP.setState({selectedDate: event.date})"
        input-selector="[name=tutoringDate]">
        <!-- htmllint preset="$previous" -->
        <input type="text" name="tutoringDate" tabindex="0" class="form-control" />
      </amp-date-picker>
    </div>
  </div>

{% include tutors-list.html tutors=school.tutors %}
</div>