---
layout: default
permalink: "/web-development/"
trackColor: blue
title: Learn Full Stack Web Development | JavaScript Classes with Austin Coding Academy
img: "/assets/images/header-javascript.jpg"
redirect_from: ["/javascript/", "/javascript"]
hero: js
amp_components: ['amp-animation', 'amp-position-observer', 'amp-carousel']
skills: React.js or Node.js
scroll_offset_header: 0.09
description: Learn one of the most versatile &amp; common programming languages with
  Austin Code Academy’s JavaScript track. You’ll go from beginner to advanced within
  a year - all without quitting your day job. Enroll today!
hero_text: Learn the most popular language for making websites, web apps, games, animations,
  and mobile applications. In this track you'll learn front-end and back-end JavaScript,
  some of today's most versatile and sought-after skills.
next_start_date: Tuesday, August 27th
features_heading: Utilize the Benefits of Upskilling
features_description: Develop talent, empower your team, save time on hiring, and more through Upskilling. Austin Coding Academy will work with you to
  understand your training needs, develop curriculums, and train your employees in the technologies your business needs.
features:
- heading: Develop Your Team’s Talent
  text: Reward talented employees by allowing them to further their skill sets and continue to grow, develop, and create more value for your organization.
  img_src: Develop.png
- heading: Empower Your Employees
  text: Improve upward mobility, reward hard work, and improve company culture by allowing employees excelling in non-technical roles to train up.
  img_src: Empower.png
- heading: Save Time on Hiring
  text: Promote and upskill talent from within, instead of dealing with time-consuming and expensive candidate searches, onboarding, and turnover.
  img_src: Time.png
- heading: Train for the Proficiencies You Need
  text: Request custom training that focuses on the technologies that you need, or pick from popular technologies.
  img_src: Train.png
walkthrough:
- title: Flipped classroom
  text: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum?
  img_src:
- title: Pre-work
  text: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur iusto provident ad ratione enim quasi.
  img_src:
- title: In-person help
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit.
  img_src:
courses:
- code: Web 101
  title: Intro to Web Development
  description: Intro to Web Development
  sections:
  - start: May 29, 2019
    end: July 24, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: June 25, 2019
    end: August 22, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
  list:
  - HTML5 + all new HTML5 APIs
  - CSS3 + Animations and Transitions
  - Version Control Software - Git
  - Responsive Web Design
  - JavaScript Basics &amp; DOM Manipulation
  - Input Control and Form Submissions
- code: JS 211
  title: JavaScript Language Basics
  description: JavaScript Language Basics
  sections:
  - start: July 29, 2019
    end: September 25, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: August 27, 2019
    end: 'October 17, 2019 '
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
  list:
  - Immersion in Object Oriented Programming (OOP)
  - Build Unit Testing + Test Driven Development (TDD)
  - Master Callbacks and Functional Programming
  - Interact with remote APIs and manipulate data
- code: JS 311
  title: Back-End JavaScript
  description: Back-End JavaScript
  sections:
  - start: September 30, 2019
    end: November 20, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: 'Downtown Capital Factory Campus '
  - start: October 22, 2019
    end: December 19, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
  list:
  - Shape your own SQL Database
  - Serve Express.js routes
  - Harness the power of Node.js
  - MVC - Model, View, Controller
  - Deploy your own Node Modules
  - Learn to host, deploy and manage your web applications
- code: JS 411
  title: Javascript Front-End
  description: Javascript Front-End
  sections:
  - start: December 2, 2019
    end: February 5, 2020
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: January 6, 2020
    end: February 27, 2020
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
  list:
  - Build mobile apps with React &amp; React Native
  - Maintain app state with Redux
  - Build Production grade Apps with Webpack
  - Handle Client-Side Routing
  - Expand your knowledge of Git
  - Deep-Dive into HTTPS protocol
- code: Job 501
  title: Job Placement Course
  description: Job Placement Course
  sections:
  - start: February 10, 2020
    end: March 4, 2020
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: March 9, 2020
    end: April 2, 2020
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    campus: North Austin Highland Campus
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
  list:
  - Technical interview prep
  - White-boarding practice and feedback
  - Portfolio support
  - Resume building
  - Networking opportunities and strategies
  - Job-finding strategies
stories:
- student_name: Student Brian
  img_src:
  text: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cumque dolore voluptatum beatae? Et fugiat maxime porro, delectus laborum vel!
- student_name: Student Jessica
  img_src:
  text: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ratione quas veritatis aspernatur?
- student_name: Student Bobby
  img_src:
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum ipsa harum nam vitae amet repellat officia id illum, corrupti consequatur. Facere, ex.
logos:
- width: 1600px
  height: 1600px
  src: "/assets/images/logo-dell.png"
  alt: Dell
- width: 1590px
  height: 561px
  src: "/assets/images/logo-microsoft.png"
  alt: Microsoft
- width: 1720px
  height: 360px
  src: "/assets/images/logo-facebook.png"
  alt: Facebook
- width: 1280px
  height: 320px
  src: "/assets/images/logo-walmart.png"
  alt: Walmart
- width: 4460px
  height: 1940px
  src: "/assets/images/logo-ibm.png"
  alt: IBM
- width: 645px
  height: 340px
  src: "/assets/images/logo-dosh.png"
  alt: Dosh
- width: 400px
  height: 400px
  src: "/assets/images/logo-oracle.png"
  alt: Oracle
- width: 256px
  height: 256px
  src: "/assets/images/logo-adobe.png"
  alt: Adobe
- width: 960px
  height: 142px
  src: "/assets/images/logo-mooveit.png"
  alt: Moove-It
- width: 750px
  height: 450px
  src: "/assets/images/logo-pluralsight.png"
  alt: Pluralsight
- width: 1270px
  height: 145px
  src: "/assets/images/logo-flosports.png"
  alt: Flosports
- width: 400px
  height: 282px
  src: "/assets/images/logo-cloud-imperium.png"
  alt: Cloud Imperium
- width: 768px
  height: 139px
  src: "/assets/images/logo-silvercar.png"
  alt: Silvercar
- width: 300px
  height: 127px
  src: "/assets/images/logo-versasuite.png"
  alt: VersaSuite
- width: 960px
  height: 560px
  src: "/assets/images/logo-onespot.png"
  alt: OneSpot
- width: 914px
  height: 408px
  src: "/assets/images/logo-onit.png"
  alt: Onit
tuition_options:
- title: Pay Up Front (Savings Option)
  description: "Save $1,000 on the cost of the Full Stack Web Development Track when you choose to pay for the entire cost of the program up front. Instead of paying for the individual price of 4 web development courses, ($11,960), you’ll pay the reduced price of $10,960."
  price-header: Total Price
  price: $10,960
- title: Pay-As-You-Go (Flexible Option)
  description: "To provide a more flexible tuition option, we also offer a “pay-as-you-go” plan. Rather than paying for the entire cost of the program up front, you’re able to pay for each course when you take it, ($2,990/course)."
  price-header: Total Price
  price: $11,960
- title: Financing
  description: "Whether you choose to pay for the entire program up front, or pay-as-you-go, all students are welcome to finance their program independently, or through Skills Fund, our primary financing partner. You can learn more about financing options on our financing page."
  cta: <a href="/financing" class="btn btn-round bg-purple text-white hover-white mt-2">Financing Options <span class="fas fa-arrow-right small"></span></a>
---
<!-- htmllint preset="none" -->
<div id="hero-{{ page.hero }}" class="hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  <h1 class="mt-10 mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-4 text-center">
    Full-stack Web Development
  </h1>
  <p class="text-white text-center mx-auto px-2 mw-600">
    {{ page.hero_text }}
  </p>
</div>

<main>

  {% include observer-and-header-animation.html %}

  <section id="curriculum" class="pt-4 container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 pl-5 d-flex flex-column align-items-center">
          <h2 class="font-family-alt display-5">
            What is Javascript?
          </h2>
          <h4 class="mb-7">
            (and why do we teach it?)
          </h4>
      </div>
    </div>
  </section>

  <section class="pb-4 pt-2 container">
    <div class="row">
      {% for item in page.features %}
        <div class="col-md-6 mb-5">
          <div class="row">
            <div class="col-3 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
              <amp-img
                width="80px"
                height="80px"
                layout="fixed"
                src="/assets/images/{{ item.img_src }}"
                alt=""
              ></amp-img>
            </div>
            <div class="col-9 col-md-7 col-lg-8 d-flex flex-column">
              <h5 class="font-weight-bold">
                {{item.heading}}
              </h5>
              <p>
                {{item.text}}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <!-- htmllint preset="none" -->
  <section class="pt-6 pb-6 container-fluid {{page.hero}}-gradient text-white">
  <!-- htmllint preset="$previous" -->
    <!-- walkthrough blocks -->
    <div class="row flex-column align-items-center">
      <div class="col-md-8 pl-5 d-flex">
        <h2 class="font-family-alt display-5 mx-auto mt-2 mb-4">
          How it Works
        </h2>
      </div>
      <div class="container">
        <!-- 1  -->
        <div class="d-flex justify-content-between mb-2 p-4">
          <div class="col-7 mr-4 text-white">
            <h4>
              {{ page.walkthrough[0].title }}
            </h4>
            <p class="text-white">
              {{ page.walkthrough[0].text }}
            </p>
          </div>
          <amp-img class="col-5" src="{{ page.walkthrough[0].img_src }}" style="border: 1px solid black; height: 200px; width: 450px;"></amp-img>
        </div>
        <!-- 2 -->
        <div class="d-flex justify-content-between mb-2 p-4">
          <amp-img class="col-5" src="{{ page.walkthrough[1].img_src }}" style="border: 1px solid black; height: 200px; width: 450px;"></amp-img>
          <div class="col-7 text-right ml-4">
            <h4>
              {{ page.walkthrough[1].title }}
            </h4>
            <p>
              {{ page.walkthrough[1].text }}
            </p>
          </div>
        </div>
        <!-- 3 -->
        <div class="d-flex justify-content-between mb-2 p-4">
          <div class="col-7 mr-4 text-white">
            <h4>
              {{ page.walkthrough[2].title }}
            </h4>
            <p>
              {{ page.walkthrough[2].text }}
            </p>
          </div>
          <amp-img class="col-5" src="{{ page.walkthrough[2].img_src }}" style="border: 1px solid black; height: 200px; width: 450px;"></amp-img>
        </div>
      </div>
    </div>
    <!-- end walkthrough blocks -->
  </section>

  <section class="py-8 container-fluid">
    <div class="row d-flex flex-column align-items-center">
      <div class="font-family-alt display-5 mb-7 text-center mt-4">Course Structure</div>
      <!-- courses start -->
        {% for course in page.courses %}
          <div class="w-75 border shadow mb-4 px-4 pt-2 mx-auto d-flex flex-wrap align-items-center justify-content-between rounded transition-3d-hover">
            <div>
              <div class="display-6 mb-4">
                {{ course.code }}: {{ course.title }}
              </div>
              <div>
                {% for item in course.list %}
                  <ul>
                    <li>
                      {{ item }}
                    </li>
                  </ul>
                {% endfor %}
              </div>
            </div>
            <div class="display-6 card-body rounded border col-md-3 mb-4 text-center">
              {% if course.title == page.courses[4].title %}
                4 Weeks
              {% else %}
                8 Weeks
              {% endif %}
            </div>
          </div>
        {% endfor %}
      <!-- courses end -->
    </div>
  </section>

  <!-- htmllint preset="none" -->
  <section id="course-guide" class="container-fluid {{page.hero}}-gradient text-white py-11">
  <!-- htmllint preset="$previous" -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        {% include course-guide-form.html %}
      </div>
    </div>
  </section>

  <section class="container-fluid d-flex py-8 flex-column justify-content-center text-center">
    <div class="font-family-alt display-5">
      Job Placement
    </div>
    <div class="row justify-content-center">
      <div class="my-4 col-md-4 col-lg-4 col-sm-10">
        <div class="display-4 font-weight-bold my-2 font-family-alt">89%</div>
        <p>of Austin Coding Academy graduates are employed as web deelopers within 6 months.</p>
      </div>
      <div class="my-4 col-md-4 col-lg-4 col-sm-10">
        <div class="display-4 font-weight-bold my-2 font-family-alt">$62,247</div>
        <p>The average salary for an entry level web developer in Austin, TX.</p>
      </div>
    </div>
  </section>

  <section class="container w-75 py-8">
    <div class="mb-4">
      <div class="display-6 mb-2">
        Curriculum
      </div>
      <p class="w-sm-75 w-md-50 w-lg-50">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam repudiandae
        cupiditate laboriosam officia eius eos officiis commodi, adipisci ipsam autem!
      </p>
    </div>
    <div class="mb-4">
      <div class="display-6 mb-2">
        Director of Placement
      </div>
      <p class="w-sm-75 w-md-50 w-lg-50">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam repudiandae
        cupiditate laboriosam officia eius eos officiis commodi, adipisci ipsam autem!
      </p>
    </div>
    <div class="mb-4">
      <div class="display-6 mb-2">
        4-Week Job Placement Course
      </div>
      <p class="w-sm-75 w-md-50 w-lg-50">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam repudiandae
        cupiditate laboriosam officia eius eos officiis commodi, adipisci ipsam autem!
      </p>
    </div>
    <div class="mb-4">
      <div class="display-6 mb-2">
        Hiring Partnerships
      </div>
      <p class="w-sm-75 w-md-50 w-lg-50">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam repudiandae
        cupiditate laboriosam officia eius eos officiis commodi, adipisci ipsam autem!
      </p>
    </div>
  </section>

  <section class="container-fluid py-8">
    <div class="display-6 text-center mb-4">
      Student Outcomes
    </div>
    <div class="mx-auto d-flex flex-wrap justify-content-center" style="width: 80%">
      {% for story in page.stories %}
        <div class="card my-2 mx-2" style="width: 18rem;">
          <amp-img
            class="rounded border mb-2"
            layout="responsive"
            width="250"
            height="320"
            src="{{ story.img_src }}"
            alt="Student Success"
          >
          </amp-img>
          <div class="card-title px-3">
            {{ story.student_name }}
          </div>
          <div class="card-body">
            {{ story.text }}
          </div>
        </div>

      {% endfor %}
    </div>
  </section>

  <!-- {% include company-carousel.html %} -->

  <section class="container">
    {% for option in page.tuition_options %}
      <div class="row my-5 d-flex justify-content-between">
        <div class="col-md-8">
          <h3 class="display-7 border-bottom">
            {{option.title}}
          </h3>
          <p>
            {{option.description}}
          </p>
        </div>
        <div class="w-sm-50 col-md-3 p-0">
          {% if option.price %}
            <div class="text-center">
              <h5>
                {{option.price-header}}
              </h5>
              <p class="card-body w-50 w-sm-100 w-m-100 w-lg-100 mx-auto mx-md-0 mx-lg-0 rounded border shadow display-6">
                {{option.price}}
              </p>
            </div>
          {% elsif option.cta %}
            <div class="text-center">
              <h5>
                Learn More
              </h5>
              {{option.cta}}
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </section>

  <section class="container">
    <div class="card shadow w-75 w-sm-50 w-md-50 w-lg-50 mx-auto">
      <div class="card-body">
        <div class="display-7 pt-4 text-center">
          Join us on our upcoming start date.
        </div>
        <div class="text-center display-6 py-4">
          {{ page.next_start_date }}
        </div>
        <div class="text-center py-4">
          {% include btn-apply.html %}
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="container-fluid py-11">
    <div class="row d-flex flex-column justify-content-center align-items-center mx-auto">
      <div class="d-none d-md-inline col-md-2 mw-10r"></div>
      <div class="col-md-8">
        <h2 class="font-family-alt font-weight-bold text-center display-6">
          Still Have Questions?
        </h2>
        <div class="mw-600 mx-auto p-2 p-md-0">
          <h5 class="mb-4 text-center">
            From choosing the right course to understanding course details, we're here
            to help.
          </h5>
          {% include contact-form.html %}
        </div>
      </div>
      <div class="d-none d-md-inline col-md-2"></div>
    </div>
  </section>


  <!-- meta-data for SEO -->
  {% for course in page.courses %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "{{ course.title }}",
      "courseCode": "{{ course.code }}",
      "description": "{{ course.description }}",
      "hasCourseInstance": [
        {% for section in course.sections %}
        {
          "@type": "CourseInstance",
          "name": "{{ course.title }}",
          "description": "{{ course.description }}",
          "startDate": "{{ section.start }}",
          "endDate": "{{ section.end }}",
          "location": {
            "@type": "Place",
            "name": "{{ section.campus }}",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{ section.address }}",
              "addressLocality": "{{ site.key | capitalize }}"
            }
          }
        }{% unless section == course.sections.last %},{% endunless %}
        {% endfor %}
      ],
      "provider": {
        "@type": "Organization",
        "name": "{{ site.key | capitalize }} Coding Academy",
        "logo": {
          "@type": "ImageObject",
          "url": "{{site.url}}/assets/images/logo-{{ site.acronym }}.png"
        }
      }
    }
    </script>
  {% endfor %}
</main>
