---
layout: default
permalink: "/courses/wordpress-fundamentals/deposit/"
---

{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
    {% for _track in settings.tracks %}
      {% if page.permalink contains _track.url %}
        {% assign track = _track %}
      {% endif %}
    {% endfor %}
    {% for __track in school.tracks %}
      {% if __track.name == track.name %}
        {% assign school_track = __track %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<div class="container d-flex align-items-center justify-content-center" style="min-height: 400px">
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  class="btn btn-lg bg-primary-dark text-white"
  id="checkout-button-{{ school_track.stripe_product_sku }}"
  role="link"
>
  Pay Deposit
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('{{ settings.stripe_key }}');

  var checkoutButton = document.getElementById('checkout-button-{{ school_track.stripe_product_sku }}');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: '{{ school_track.stripe_product_sku }}', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: '{{ school.url }}/thank-you/',
      cancelUrl: '{{ school.url }}',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>

</div>