---
layout: default
permalink: "/courses/wordpress-development/"
amp_components: ['amp-carousel']
redirect_from: []
hero: js
hero_heading: WordPress Development Course
hero_subheading: In Partnership with WP Engine
hero_text: WordPress powers over 1/3 of all websites on the internet. In this course you'll learn how to build, optimize, and troubleshoot websites using
  this powerful platform and prepare yourself for a career as a WordPress Developer. You'll also have the opportunity to be considered for a position with
  WP Engine – one of the industry leaders in WordPress hosting.
next_start_date: Tuesday, August 27th
program_descript: Austin Coding Academy's WordPress Development Course is part of a unique partnership with WP Engine, the global leader in WordPress Hosting.
  In this 8-week, in-depth program, students build, troubleshoot, and optimize WordPress websites, covering topics from HTML and CSS to SEO (Search Engine Optimization),
  and more, preparing them to launch careers as WordPress developers. In addition to learning technical WordPress skills, students have the option to learn about
  and interview for a support position with WP Engine.
features:
- heading: "The World's Most Popular Website Building Platform"
  text: "WordPress is the world’s most-used website building platform. With over 75,000,000 WordPress sites on the web, there are millions of reasons to learn WordPress."
  img_src: icon-javascript-white.png
  img_width: 65px
- heading: Jobs – From Tech to Freelance
  text: "As a WordPress Developer, there are a multitude of available jobs – from an internal developer at a tech company or startup to a
    freelance developer working on the projects you choose."
  img_src: icon-frontend-white.png
  img_width: 90px
- heading: Increase Your Earning Potential
  text: "WordPress Developers make more than $34/hour on average in Austin, TX, according to Indeed. That translates to > $70,000 annually."
  img_src: icon-databases-white.png
  img_width: 90px
- heading: Work for One of Austin's Premier Tech Companies
  text: "All graduates of our WordPress program are guaranteed an interview with one of Austin’s fastest-growing tech companies, WP Engine as a technical support specialist."
  img_src: icon-jobs-white.png
  img_width: 90px
program_overview: "Austin Coding Academy and WP Engine have partnered together to develop a WordPress curriculum that teaches the most important core technical proficiencies that
  WordPress Developers use today, as well as the customer service and support skills necessary to work as a Technical Support Specialist with WP Engine.<br><br>
  All students who complete the course with Austin Coding Academy are guaranteed an interview with WP Engine for the role of Support Specialist – a position for which WP Engine
  makes dozens of new hires annually to support their growing customer base.<br><br>
  Continue reading to learn more about the course curriculum, WP Engine, and the details of the Support Specialist role."
overview_img: "/assets/images/cap-factory-web-dev.jpg"
highlights:
- title: Part-Time Classes
  text: "Classes meet twice weekly during the evenings from 6:30 – 9:00 pm, meaning that you don't have to give up your income while you train for a new career.
    The entire WordPress program last 8 weeks, at the end of which you'll have all the tools necessary to either pursue a career as a WordPress Developer,
    or interview for a support role with WP Engine."
- title: Practical Curriculum
  text: "Our project-based WordPress curriculum, taught by a professional developer, focuses on teaching the most important WordPress proficiencies through
    building and troubleshooting your own real websites. In addition to developing your WordPress skills, the course will also cover customer/client interactions
    and WP Engine support practices to prepare you for the opportunity to work as a Technical Support Specialist."
- title: Unlimited Tutoring
  text: "All Austin Coding Academy students have access to unlimited tutoring. Choose whether you want to meet with a tutor in-person or via video chat, and book
    your session through our tutoring portal. Whether you need help on nights, weekends, or during the day – Austin Coding Academy tutors are here to help you work
    through your barriers."
modules:
- code: Module 1
  length: (Week 1 - Week 4)
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta deserunt adipisci doloremque perspiciatis omnis quia cumque quidem vitae quasi?
  sections:
  - start: May 29, 2019
    end: July 24, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    name: Downtown (Capital Factory)
  - start: June 25, 2019
    end: August 22, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    campus: Highland (Highland Business Center)
- code: Module 2
  length: (Week 5 - Week 8)
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta deserunt adipisci doloremque perspiciatis omnis quia cumque quidem vitae quasi?
  sections:
  - start: July 29, 2019
    end: September 25, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    name: Downtown (Capital Factory)
    campus: Downtown Capital Factory Campus
  - start: August 27, 2019
    end: 'October 17, 2019 '
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    name: Highland (Highland Business Center)
    list:
    - Immersion in Object Oriented Programming (OOP)
    - Build Unit Testing + Test Driven Development (TDD)
    - Master Callbacks and Functional Programming
    - Interact with remote APIs and manipulate data

about:
- title: "WP Engine: The Global Leader in WordPress Hosting"
  odd: true
  text: "The WordPress platform powers over ⅓ of live websites on the internet today. WP Engine is the global leader in WordPress hosting, with over
    300,000 live websites and over 800,000 domains using WP Engine as their hosting provider."
  img_src: "/assets/images/cap-factory-web-dev.jpg"
- title: "Global Reach – Local Roots"
  text: Founded in Austin in 2010, WP Engine is still headquartered in Downtown Austin, serving customers in 150+ countries
    with additional offices in San Antonio, Texas; Limerick, Ireland; London, England; San Francisco, California; and Brisbane, Australia.
  img_src: "/assets/images/cap-factory-web-dev-2.jpg"
- title: A Place People Love to Work
  odd: true
  text: "Competitive compensation, medical insurance, stock options, free lunches and drinks, a casual dress code, and more, are just a few of the
    things that make WP Engine a place that people love to work. As a Technical Support Specialist, you'll also have the opportunity to be promoted from within."
  img_src: "/assets/images/cap-factory-web-dev-3.jpg"

interview:
  heading: "WP Engine: Technical<br>
    Support Specialist"
  img_src: "/assets/images/cap-factory-web-dev-2.jpg"
  title: Graduate with a Guaranteed Job Interview
  text: In this program, you will learn all of the skills necessary to work as a Technical Support Specialist with WP Engine. Every student that completes
    the course is guaranteed an interview with WP Engine for the role of Technical Support Specialist.

role:
  heading: "About the Role"
  url: '/'
  p1: "During the WordPress Development Course, you will also be learning valuable customer service skills that as well as prepare
    As a Technical Support Specialist, you’ll be providing support to WP Engine customers primarily using live chat, but also
    over the phone and via support tickets."
  subheading: "What's Cool About This Job"
  p2: "You will serve as the first point of contact for WP Engine customers, supporting all of their WordPress questions and needs.
    You will develop a deep technical knowledge of the various open source technologies which deliver amazing digital
    experiences for WP Engine customers."
  p3: "WP Engine cares about its employees, meaning that they invest in both personal and professional development. Their mission
    is to develop you to your full potential and work with you through each stage of your career. WP Engine likes to promote
    people within their business, and many of those folks started out in technical support. Talent is recognized and rewarded
    at WP Engine. If you are a self-motivator seeking a challenge and can think outside the box, then this role is for you!"

role_sections:
- title: Your Impact
  bullets:
  - You will be the face of WP Engine and have an opportunity to deliver a world-class experience with every interaction with customers on live contact
    channels of chat and phone.
  - You’ll get to apply creative problem-solving techniques to identify and solve the source of problems while keeping customers happy and engaged.
  - Demonstrate commitment to continuous learning, to grow technical knowledge to better support customers as well as strengthening your own technical skillset.
  - Help maintain a great team and working environment by assisting fellow team members. WP Engine is a global inclusive team that works together!
  - Demonstrate a positive attitude when faced with change, working with your teammates and with customers.
- title: Skills & Requirements for the Role
  bullets:
  - "Positive Energy and enthusiasm. You believe in WP Engine's values."
  - "Ideally, 1-2 years experience working in technical support or a customer service position."
  - "Technical Aptitude: You demonstrate a keen knowledge of, and passion for, web technology or digital experiences. You are someone who learns quickly and takes ownership of your personal development."
  - "Effective Troubleshooting Skills: You demonstrate strong root cause analysis skills, through effective troubleshooting skills and you are able to quickly identify problems and solutions. You work well in a collaborative troubleshooting environment, while at the same time you can also work autonomously to arrive at the right solution for customers."
  - "Communication Skills: You have strong written and verbal communication skills, with a strong command of the English language. Ability to accurately type 40 - 60 words per minute. You have the ability to establish a professional, friendly, and empathetic dialogue with customers."
  - "Excellent Organizational Skills: You’re a great multitasker. You can handle multiple requests at once and have an understanding of prioritization."
  - "Team Focus: Effectively work in a team environment that uses cross-collaboration and teamwork to solve issues. You enjoy working with others, demonstrate a willingness and ability to share your knowledge with peers and others."
  - "Customer Inspired: Demonstrate customer focus in every interaction with WP Engine customers. You actively listen and leave customers feeling supported and understood."
  - "Adaptable: You are resilient and adapt to the changing business and landscape in the tech world."
- title: Perks & Benefits
  bullets:
  - Be yourself. Casual Dress code.
  - Giving back. Company volunteer/fundraising activities.
  - Free lunches, snacks & drinks,
  - Market Competitive Compensation.
  - Stock Options (Every employee is an owner in the company)
  - Awesome Benefits! 100% Paid Employee Medical Insurance and other health coverage, including dental and vision, dependent on regional availability (Dental, and Vision).
  - Transportation (paid parking or commuter reimbursement).

---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% assign key_settings = settings[site.key] %}
  {% endif %}
{% endfor %}
<!-- htmllint preset="none" -->
<div id="hero-{{ page.hero }}" class="hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  <h1 class="mt-10 mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-4 text-center">
    {{ page.hero_heading }}
    <p class="text-center display-7 text-white mt-2">
      {{ page.hero_subheading }}
    </p>
  </h1>
  <p class="text-white text-center mx-auto px-2 mw-600">
    {{ page.hero_text }}
  </p>
  <div class="d-flex mt-4 align-items-center justify-content-center">
    <div class="mr-2">
      {% include btn-apply.html %}
    </div>
    <div class="ml-2">
      <!-- htmllint preset="none" -->
      <a
        class="btn btn-round btn-outline-light {{ include.class }}"
        on="tap:event-lightbox"
        role="button"
        tabindex="-1"
      >
      <!-- htmllint preset="$previous" -->
        Learn More
      </a>
    </div>
  </div>
</div>

<main>
  <section class="py-6 container">
    <div class="pb-6">
      <div class="text-center font-family-alt display-5 pb-6">
        About This Program
      </div>
      <div class="d-flex justify-space-between flex-column flex-sm-row">
        <div class="mx-0 mx-sm-auto p-4 w-100 w-sm-50">
          {{ page.program_descript }}
        </div>
        <div class="w-100 w-sm-50 d-flex flex-column align-items-center justify-content-center">
          <!-- ACA -->
          <div class="w-100 d-flex justify-content-around align-items-center mt-4">
            <div class="ml-2 ml-sm-4" style="width: 100px;">
              <amp-img
                src="/assets/images/logo-aca.png"
                layout="responsive"
                width="100px"
                height="100px"
                alt="aca-logo"
              >
              </amp-img>
            </div>
            <!-- WP-ENGINE -->
            <div style="width: 320px;">
              <amp-img
                src="/assets/images/wp-engine-horizontal.png"
                layout="responsive"
                width="720px"
                height="185px"
                alt="wp-engine-logo"
              >
              </amp-img>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid bg-textured-2 text-white py-6">
    <div class="d-flex flex-column align-items-center justify-content-center text-center">
      <h2 class="text-center display-5 font-family-alt py-6">
        Why Learn WordPress?
      </h2>
    </div>
    <div class="row">
      {% for item in page.features %}
        <div class="col-md-6 mb-5">
          <div class="row">
            <div class="col-3 col-md-4 col-lg-3 p-0 d-flex justify-content-center align-items-center">
              <amp-img
                width="{{ item.img_width }}"
                height="80px"
                layout="fixed"
                src="/assets/images/{{ item.img_src }}"
                alt=""
              ></amp-img>
            </div>
            <div class="col-9 col-md-7 col-lg-8 d-flex flex-column">
              <h5 class="font-weight-bold">
                {{ item.heading }}
              </h5>
              <p class="text-white">
                {{ item.text }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>



  <section class="py-4 container">
    <h2 class="font-family-alt display-5 mx-auto mt-2 mb-4 text-center">
      Program Overview
    </h2>
    <section class="container d-flex flex-column flex-sm-row py-8 justify-content-center align-items-center">
      <div class="w-100 w-sm-50 p-0 pr-sm-4">
        <div class="ml-2 font-family-alt display-6 mb-6">
          Our Partnership with<br>
          WP Engine
        </div>
        <div class="mb-4 px-2 mb-sm-0">
          <amp-img
            layout="responsive"
            class="img-fluid shadow-black"
            width="3535"
            height="2146"
            src="{{ page.overview_img }}"
          >
          </amp-img>
        </div>
      </div>
      <div class="mx-0 mx-sm-auto px-2 pl-sm-4 w-100 w-sm-50">
        <div>
          {{ page.program_overview }}
        </div>
      </div>
    </section>
    <div class="d-flex flex-column">
      <div class="text-left display-6 my-4 pl-0 pl-sm-2 font-family-alt">
        Program Highlights
      </div>
      <!-- overview blocks -->
      <div class="d-flex justify-content-between text-center flex-column flex-sm-row flex-wrap flex-md-nowrap">
        {% for item in page.highlights %}
          <div class="card shadow col-sm mx-auto mx-sm-2 pt-2 my-2">
            <h4>
              {{ item.title }}
            </h4>
            <p>
              {{ item.text }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- end overview blocks -->
  </section>

  <section class="py-8 container">
    <div class="font-family-alt display-6 mb-4 pt-2">
      Course Structure
    </div>
    <div class="d-flex flex-column align-items-center mt-4">
      <!-- course cards start -->
      {% for module in page.modules %}
        <div
          class="bg-white mx-sm-auto border shadow mb-4 px-4 pt-4 pt-sm-0 d-flex flex-wrap align-items-center justify-content-between rounded"
          style="min-height: 350px;"
        >
          <div>
            <div class="mb-4 pl-2 pl-sm-0">
              <strong class="display-6">{{ module.code }}</strong> <br>
              <span class="display-7 text-grey">{{ module.length }}</span>
            </div>
            <div>
              {{ module.text }}
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- course cards end -->
    </div>

    <div class="d-flex justify-content-center mt-4">
      {% include btn-apply.html %}
    </div>
  </section>

  <!-- htmllint preset="none" -->
  <section id="course-guide" class="container-fluid py-8 {{ page.hero }}-gradient">
  <!-- htmllint preset="$previous" -->
    <div class="row justify-content-center">
      <div class="col-md-8 text-white">
        {% include course-guide-form.html p_class="text-white" %}
      </div>
    </div>
  </section>

  <!-- ABOUT -->
  <section class="container-fluid d-flex py-8 flex-column justify-content-center text-center">
    <div class="font-family-alt display-5 mb-4">
      About WP Engine
    </div>
    <!-- about -->
    <div class="text-center text-sm-left container">
      {% for item in page.about %}
        {% if item.odd %}
          <div class="flex-wrap flex-sm-nowrap d-flex justify-content-between align-items-center mb-2 p-4">
            <div class="w-100 w-sm-50 m-0 mr-sm-4">
              <h4>
                {{ item.title }}
              </h4>
              <p class="mx-auto">
                {{ item.text }}
              </p>
            </div>
            <div class="w-100 w-sm-50 p-0 pl-sm-4 my-auto">
              <amp-img
                layout="responsive"
                class="img-fluid shadow-black"
                width="3535"
                height="2146"
                src="{{ item.img_src }}"
              >
              </amp-img>
            </div>
          </div>
        {% else %}
          <div class="flex-wrap-reverse flex-sm-nowrap d-flex justify-content-between align-items-center my-2 p-4">
            <div class="w-100 w-sm-50 p-0 pr-sm-4 my-auto">
              <amp-img
                layout="responsive"
                class="img-fluid shadow-black"
                width="3535"
                height="2146"
                src="{{ item.img_src }}"
              >
              </amp-img>
            </div>
            <div class="w-100 w-sm-50 m-0 ml-sm-4">
              <h4>
                {{ item.title }}
              </h4>
              <p>
                {{ item.text }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- end about -->
  </section>

  {% assign interview = page.interview %}
  <section class="container-fluid d-flex py-8 flex-column justify-content-center align-items-center bg-textured-2">
    <div class="col-md-8 d-flex flex-column align-items-center justify-content-center">
      <h2 class="text-center display-5 font-family-alt py-6 text-white">
        {{ interview.heading }}
      </h2>
    </div>

    <div class="container flex-wrap-reverse flex-sm-nowrap d-flex justify-content-between align-items-center my-2 p-4">
      <div class="w-100 w-sm-50 p-0 pr-sm-4 my-auto">
        <amp-img
          layout="responsive"
          class="img-fluid shadow-black"
          width="3535"
          height="2146"
          src="{{ interview.img_src }}"
        >
        </amp-img>
      </div>
      <div class="w-100 w-sm-50 m-0 ml-sm-4">
        <h4 class="text-white">
          {{ interview.title }}
        </h4>
        <p class="text-white">
          {{ interview.text }}
        </p>
      </div>
    </div>

    <!-- ABOUT THIS ROLE -->
    {% assign role = page.role %}
    <div class="container py-8">
      <div class="mb-4">
        <div class="display-5 font-family-alt text-white mb-1">
          {{ role.heading }}
        </div>
        <a href="{{ role.url }}">Description from WP Engine</a>
      </div>
      <p class="text-white">
        {{ role.p1 }}
      </p>
      <div class="mb-2">
        <div class="display-7 mb-4 text-white">
          {{ role.subheading }}
        </div>
        <p class="text-white">
          {{ role.p2 }}
        </p>
        <p class="text-white">
          {{ role.p3 }}
        </p>
      </div>
      <div class="my-2">
        {% for role in page.role_sections %}
          <div class="my-4">
            <div class="display-7 mb-3 text-white">
              {{ role.title }}
            </div>
            <ul class="fa-ul mb-2 text-white">
              {% for bullet in role.bullets %}
                <li class="mb-1">
                  <span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{ bullet }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="container-fluid d-flex flex-row justify-content-center">
      <a class="btn cta-gradient hover-white btn-round mr-2 mr-sm-4 text-white d-flex justify-content-center" href="/">
        <span class="text-white hover-white">
          Join the Program
        </span>
      </a>
      <a class="btn btn-round btn-outline-light ml-2 ml-sm-4 d-flex justify-content-center" href="/">
        About WP Engine
      </a>
    </div>
  </section>

  <section id="contact" class="container-fluid py-11">
    <div class="row d-flex flex-column justify-content-center align-items-center mx-auto">
      <div class="d-none d-md-inline col-md-2 mw-10r"></div>
      <div class="col-md-8">
        <h2 class="font-family-alt font-weight-bold text-center display-6">
          Still Have Questions?
        </h2>
        <div class="mw-600 mx-auto p-2 p-md-0">
          <h5 class="mb-4 text-center">
            From choosing the right course to understanding course details, we're here
            to help.
          </h5>
          {% include contact-form.html %}
        </div>
      </div>
      <div class="d-none d-md-inline col-md-2"></div>
    </div>
  </section>

  {% for course in page.courses %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "{{ course.title }}",
      "courseCode": "{{ course.code }}",
      "description": "{{ course.description }}",
      "hasCourseInstance": [
        {% for section in course.sections %}
        {
          "@type": "CourseInstance",
          "name": "{{ course.title }}",
          "description": "{{ course.description }}",
          "startDate": "{{ section.start }}",
          "endDate": "{{ section.end }}",
          "location": {
            "@type": "Place",
            "name": "{{ key_settings.school }}",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{ key_settings.locations[section.campus].street }}",
              "addressLocality": "{{ key_settings.locations[section.campus].city }}",
              "addressRegion": "{{ key_settings.locations[section.campus].state }}",
              "postalCode": "key_settings.locations[section.campus].postal",
              "addressCountry": "US"
            }
          }
        }{% unless section == course.sections.last %},{% endunless %}
        {% endfor %}
      ],
      "provider": {
        "@type": "Organization",
        "name": "{{ key_settings.school }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{key_settings.url}}/assets/images/logo-{{ site.key }}.png"
        }
      }
    }
    </script>
  {% endfor %}
</main>
