---
layout: default
permalink: "/wordpress/"
amp_components: ['amp-animation', 'amp-position-observer', 'amp-carousel']
scroll_offset_header: 0.09
redirect_from: []
hero: js
hero_heading: Wordpress Development Track
hero_subheading: In Partnership with WP Engine
hero_text: Wordpress powers over 1/3 of all websites on the internet. In this course you'll learn how to build, optimize, and troubleshoot websites using
  this powerful platform and prepare yourself for a career as a Wordpress Developer. You'll also have the opportunity to be considered for a position with
  WP Engine – one of the industry leaders in Wordpress hosting.
next_start_date: Tuesday, August 27th
program_descript: Austin Coding Academy's Wordpress Development Track is part of a unique partnership with WP Engine, an industry leader in Wordpress Hosting. In this 10-week,
  in-depth program, students will learn to build, troubleshoot, and optimize Wordpress websites, covering topics from HTML and CSS to SEO Optimization to
  Regular Expressions, and more. This program prepares students for careers as Wordpress developers, as well as equipping them with the tools and the opportunity
  to become an L1 Support Specialist with WP Engine. In this role, students would work full-time as a Technical Support Specialist at WP Engine, a Top 10 Company
  to Work for in Tech, assisting Wordpress Developers in troubleshooting their websites. Continue reading below to learn more about tuition, curriculum, working
  as a Support Specialist with WP Engine, and more.
features:
- heading: "The World’s #1 Programming Language"
  text: "For the 7th year in a row, JavaScript is the world’s most-used programming language, with nearly 70% of the world’s
    developers using JS in their work according to Stack Overflow."
  img_src: icon-javascript.png
  img_width: 65px
- heading: Design Engaging, Responsive Front-Ends
  text: "Discover the power of JavaScript: a language used by nearly every website on the internet to display, animate, and make webpages come to life."
  img_src: icon-frontend.png
  img_width: 90px
- heading: Use Node and Express to Build Powerful Back-Ends
  text: "Learn how to collect and process data using JavaScript with Node.js and Express.js – and also how to manage databases with SQL."
  img_src: icon-databases.png
  img_width: 90px
- heading: Tap Into Austin’s Start-Up Scene
  text: "As the most in-demand language for small to mid-level companies, JavaScript powers Austin’s thriving start-up scene, with new jobs opportunities arising daily."
  img_src: icon-jobs.png
  img_width: 90px
overview:
- title: Part-Time Classes
  text: "Classes meet twice weekly during the evenings from 6:30 – 9:00 pm, meaning that students can continue to work and support themselves while training to be a
    Wordpress developer. The entire Wordpress program last 10 weeks, at the end of which you'll have all the tools necessary to either pursue a career as a
    Wordpress Developer, or"
- title: Practical Curriculum
  text: "Classes meet twice weekly during the evenings from 6:30 – 9:00 pm, meaning that students can continue to work and support themselves while training to be a
    Wordpress developer. The entire Wordpress program last 10 weeks, at the end of which you'll have all the tools necessary to either pursue a career as a
    Wordpress Developer, or"
- title: Unlimited Tutoring
  text: "Classes meet twice weekly during the evenings from 6:30 – 9:00 pm, meaning that students can continue to work and support themselves while training to be a
    Wordpress developer. The entire Wordpress program last 10 weeks, at the end of which you'll have all the tools necessary to either pursue a career as a
    Wordpress Developer, or"
modules:
- code: Module 1
  length: (Week 1 - Week 4)
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta deserunt adipisci doloremque perspiciatis omnis quia cumque quidem vitae quasi?
# start metadata
  sections:
  - start: May 29, 2019
    end: July 24, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: June 25, 2019
    end: August 22, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
# end metadata
- code: Module 2
  length: (Week 5 - Week 6)
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta deserunt adipisci doloremque perspiciatis omnis quia cumque quidem vitae quasi?
# start metadata
  sections:
  - start: July 29, 2019
    end: September 25, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: August 27, 2019
    end: 'October 17, 2019 '
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
# end metadata
    list:
  - Immersion in Object Oriented Programming (OOP)
  - Build Unit Testing + Test Driven Development (TDD)
  - Master Callbacks and Functional Programming
  - Interact with remote APIs and manipulate data
- code: Module 3
  length: Back-End JavaScript
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta deserunt adipisci doloremque perspiciatis omnis quia cumque quidem vitae quasi?
# start metadata
  sections:
  - start: September 30, 2019
    end: November 20, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: 'Downtown Capital Factory Campus '
  - start: October 22, 2019
    end: December 19, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
# end metadata
    list:
  - Shape your own SQL Database
  - Serve Express.js routes
  - Harness the power of Node.js
  - MVC - Model, View, Controller
  - Deploy your own Node Modules
  - Learn to host, deploy and manage your web applications

job_placement:
  stats:
  - stat: 89%
    descript: of Austin Coding Academy graduates are employed as web deelopers within 6 months.
  - stat: $62,247
    descript: The average salary for an entry level web developer in Austin, TX.
  value_props:
  - heading: Practical Curriculum
    text: "Our courses are designed to teach you relevant skills through practical application.
      Learn in-demand technologies by building real-life projects with feedback from professional developers."
    img_src: icon-curriculum.png
    img_width: 90px
  - heading: Director of Job Placement
    text: "Receive one-on-one attention from our Director of Job Placement, who provides resume feedback, sets up
      interviews and events with companies, helps with applying, and more."
    img_src: icon-director-of-placement.png
    img_width: 90px
  - heading: Job Placement Course
    text: "Hone your online presence, resume, and interview skills in our 4-week job placement course. This course is
      led by both a professional developer and a recruiter and is free to all ACA graduates."
    img_src: icon-grad-course.png
    img_width: 90px
  - heading: Hiring Partnerships
    text: "Austin Coding Academy maintains working relationships with a host of Austin companies that depend on our
      graduates to fill open web development positions."
    img_src: icon-jobs.png
    img_width: 90px
tuition_options:
- title: Pay Up Front (Savings Option)
  description: "Save $1,000 on the cost of the Full Stack Web Development Track when you choose to pay for the entire cost of the program up front. Instead of paying for the individual price of 4 web development courses, ($11,960), you’ll pay the reduced price of $10,960."
  price-header: Total Price
  price: $10,960
- title: Pay-As-You-Go (Flexible Option)
  description: "To provide a more flexible tuition option, we also offer a “pay-as-you-go” plan. Rather than paying for the entire cost of the program up front, you’re able to pay for each course when you take it, ($2,990/course)."
  price-header: Total Price
  price: $11,960
- title: Financing
  description: "Whether you choose to pay for the entire program up front, or pay-as-you-go, all students are welcome to finance their program independently, or through Skills Fund, our primary financing partner. You can learn more about financing options on our financing page."
  cta: <a href="/financing" class="btn btn-outline-light btn-round mr-2 d-sm-block">Financing Options <span class="fas fa-arrow-right small"></span></a>

---

{% assign school = page[site.key] %}
<!-- htmllint preset="none" -->
<div id="hero-{{ page.hero }}" class="hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  <h1 class="mt-10 mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-4 text-center">
    {{ page.hero_heading }}
    <p class="text-center display-7 text-white mt-2">
      {{ page.hero_subheading }}
    </p>
  </h1>
  <p class="text-white text-center mx-auto px-2 mw-600">
    {{ page.hero_text }}
  </p>
  <div class="d-flex mt-4 align-items-center justify-content-center">
    <div class="mr-2">
      <!-- htmllint preset="none" -->
      <a
      class="btn btn-round btn-outline-light {{ include.class }}"
      on="tap:event-lightbox"
      role="button"
      tabindex="-1"
      >
      <!-- htmllint preset="$previous" -->
        Course Guide
      </a>
    </div>
    <div class="ml-2">{% include btn-apply.html %}</div>
  </div>
</div>

<main>

  {% include observer-and-header-animation.html %}

    <section class="py-8">
      <div>
        <div class="text-center font-family-alt display-5 py-6">
          About This Program
        </div>
        <div class="d-flex justify-space-between">
          <div class="mx-auto py-4 w-50 bg-light card p-2 shadow border">
            {{ page.program_descript }}
          </div>
          <div class="w-50 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center font-weight-bold">
              <span class="display-7">WordPress Training</span>
              <span class="display-7">+</span>
              <span class="display-7">Job Opportunities</span>
            </div>
            <!-- ACA -->
            <div class="d-flex align-items-center mt-4">
              <div>
                <amp-img
                  src="/assets/images/logo-aca.png"
                  layout="fixed"
                  width="100px"
                  height="100px"
                  alt="aca-logo"
                >
                </amp-img>
              </div>
              <!-- WP-ENGINE -->
              <div style="width: 320px;">
                <amp-img
                  src="/assets/images/wp-engine-horizontal.png"
                  layout="responsive"
                  width="720px"
                  height="185px"
                  alt="wp-engine-logo"
                >
                </amp-img>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section id="curriculum" class="pt-8 container-fluid bg-textured-2 text-white">
    <div class="col-md-8 p-0 pl-sm-5 d-flex flex-column align-items-center text-center">
      <h2 class="text-center display-5 font-family-alt py-6">
        Why Learn Wordpress?
      </h2>
    </div>
    <div class="row">
      {% for item in page.features %}
        <div class="col-md-6 mb-5">
          <div class="row">
            <div class="col-3 col-md-4 col-lg-3 p-0 d-flex justify-content-center align-items-center">
              <amp-img
                width="{{ item.img_width }}"
                height="80px"
                layout="fixed"
                src="/assets/images/{{ item.img_src }}"
                alt=""
              ></amp-img>
            </div>
            <div class="col-9 col-md-7 col-lg-8 d-flex flex-column">
              <h5 class="font-weight-bold">
                {{ item.heading }}
              </h5>
              <p class="text-white">
                {{ item.text }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="py-6 container">
    <div class="row flex-column">
      <h2 class="font-family-alt display-5 mx-auto mt-2 mb-4 text-center">
        Program Overview
      </h2>
      <div class="display-6 my-4 pl-2">
        Program Highlights
      </div>
      <!-- overview blocks -->
      <div class="d-flex justify-content-between text-center">
        {% for item in page.overview %}
          <div class="card shadow col-4 mx-1 pt-2">
            <h4>
              {{ item.title }}
            </h4>
            <p>
              {{ item.text }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- end overview blocks -->
  </section>

  <section class="py-8 container-fluid">
    <div class="font-family-alt w-75 mx-auto display-5 mb-4 pt-2 text-center">
      Course Structure
    </div>
    <div class="row d-flex flex-column align-items-center">
      <!-- course cards start -->
      {% for module in page.modules %}
        <div
          class="w-75 border shadow mb-4 px-4 pt-4 pt-sm-0 mx-auto d-flex flex-wrap align-items-center justify-content-between rounded"
          style="min-height: 350px;"
        >
          <div>
            <div class="mb-4 pl-2 pl-sm-0">
              <strong class="display-6">{{ module.code }}</strong> <br>
              <span class="display-7 text-grey">{{ module.length }}</span>
            </div>
            <div>
              {{ module.text }}
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- course cards end -->
    </div>
  </section>

  <!-- htmllint preset="none" -->
  <section id="course-guide" class="container-fluid {{page.hero}}-gradient text-white py-8">
  <!-- htmllint preset="$previous" -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        {% include course-guide-form.html p_class="text-white" %}
      </div>
    </div>
  </section>

  <section class="container d-flex py-8 flex-column justify-content-center text-center">
    <div class="font-family-alt display-5 mb-4">
      Work for WP Engine
    </div>
    <div class="row justify-content-center">
      In this program, you will learn all of the skills necessary to work as a Technical Support Specialist with WP Engine. As a Support Specialist, you will work
      on improving customer experience by assisting companies with troubleshooting their WordPress websites and continuing to grow your technical skill set.
    </div>
  </section>

  <section class="bg-textured-2">
    <div class="container mx-auto text-white pt-6">
      <div class="font-family-alt text-center mx-auto display-5 mb-4">
        Tuition, Financing, <br>
        & Scholarships
      </div>
      <div class="pt-2">
        <div class="display-7 py-4">
          Flexible Tuition Options
        </div>
        <div>
          <p class="text-white">
            At Austin Coding Academy we believe that web development is a skill that can be learned by anyone who is dedicated to working hard and learning. We never w
            ant money to be the factor that prevents people from changing their careers, and lives.
          </p>
          <p class="text-white">
            That's why we allow 2 options for students to fund their tuition – pay-as-you-go or pay up front (and save). We also work with Skills Fund, our primary
            financing partner, to give students an option to cover the cost of tuition.
          </p>
          <p class="text-white">
            You can learn more about the cost of tuition and our financing options, here.
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-center pb-6 pt-4">
        {% include btn-apply.html %}
      </div>
    </div>
  </section>

  <section id="contact" class="container-fluid py-11">
    <div class="row d-flex flex-column justify-content-center align-items-center mx-auto">
      <div class="d-none d-md-inline col-md-2 mw-10r"></div>
      <div class="col-md-8">
        <h2 class="font-family-alt font-weight-bold text-center display-6">
          Still Have Questions?
        </h2>
        <div class="mw-600 mx-auto p-2 p-md-0">
          <h5 class="mb-4 text-center">
            From choosing the right course to understanding course details, we're here
            to help.
          </h5>
          {% include contact-form.html %}
        </div>
      </div>
      <div class="d-none d-md-inline col-md-2"></div>
    </div>
  </section>

  {% for course in page.courses %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "{{ course.title }}",
      "courseCode": "{{ course.code }}",
      "description": "{{ course.description }}",
      "hasCourseInstance": [
        {% for section in course.sections %}
        {
          "@type": "CourseInstance",
          "name": "{{ course.title }}",
          "description": "{{ course.description }}",
          "startDate": "{{ section.start }}",
          "endDate": "{{ section.end }}",
          "location": {
            "@type": "Place",
            "name": "{{ section.campus }}",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{ section.address }}",
              "addressLocality": "{{ site.key | capitalize }}"
            }
          }
        }{% unless section == course.sections.last %},{% endunless %}
        {% endfor %}
      ],
      "provider": {
        "@type": "Organization",
        "name": "{{ site.key | capitalize }} Coding Academy",
        "logo": {
          "@type": "ImageObject",
          "url": "{{site.url}}/assets/images/logo-{{ site.acronym }}.png"
        }
      }
    }
    </script>
  {% endfor %}
</main>
