---
layout: default
permalink: "/wordpress/"
amp_components: ['amp-animation', 'amp-position-observer', 'amp-carousel']
scroll_offset_header: 0.09
redirect_from: []
hero: js
hero_heading: WordPress Development Track
hero_subheading: In Partnership with WP Engine
hero_text: WordPress powers over 1/3 of all websites on the internet. In this course you'll learn how to build, optimize, and troubleshoot websites using
  this powerful platform and prepare yourself for a career as a WordPress Developer. You'll also have the opportunity to be considered for a position with
  WP Engine – one of the industry leaders in WordPress hosting.
next_start_date: Tuesday, August 27th
program_descript: Austin Coding Academy's WordPress Development Track is part of a unique partnership with WP Engine, an industry leader in WordPress Hosting. In this 10-week,
  in-depth program, students will learn to build, troubleshoot, and optimize WordPress websites, covering topics from HTML and CSS to SEO Optimization to
  Regular Expressions, and more. This program prepares students for careers as WordPress developers, as well as equipping them with the tools and the opportunity
  to become an L1 Support Specialist with WP Engine. In this role, students would work full-time as a Technical Support Specialist at WP Engine, a <a href="#" target="_blank" rel="noopener">
  Top 10 Company to Work for in Tech</a>, assisting WordPress Developers in troubleshooting their websites. Continue reading below to learn more about tuition, curriculum, working
  as a Support Specialist with WP Engine, and more.
features:
- heading: "The World’s #1 Programming Language"
  text: "For the 7th year in a row, JavaScript is the world’s most-used programming language, with nearly 70% of the world’s
    developers using JS in their work according to Stack Overflow."
  img_src: icon-javascript.png
  img_width: 65px
- heading: Design Engaging, Responsive Front-Ends
  text: "Discover the power of JavaScript: a language used by nearly every website on the internet to display, animate, and make webpages come to life."
  img_src: icon-frontend.png
  img_width: 90px
- heading: Use Node and Express to Build Powerful Back-Ends
  text: "Learn how to collect and process data using JavaScript with Node.js and Express.js – and also how to manage databases with SQL."
  img_src: icon-databases.png
  img_width: 90px
- heading: Tap Into Austin’s Start-Up Scene
  text: "As the most in-demand language for small to mid-level companies, JavaScript powers Austin’s thriving start-up scene, with new jobs opportunities arising daily."
  img_src: icon-jobs.png
  img_width: 90px
overview:
- title: Part-Time Classes
  text: "Classes meet twice weekly during the evenings from 6:30 – 9:00 pm, meaning that you don't have to give up your income while you train
    for a new career. The entire WordPress program last 10 weeks, at the end of which you'll have all the tools necessary to either pursue a
    career as a WordPress Developer, or interview for a support role with WP Engine."
- title: Practical Curriculum
  text: "Our project-based WordPress curriculum, taught by a professional developer, focuses on teaching the most important WordPress proficiencies
    through building and troubleshooting your own real websites. In addition to developing your WordPress skills, the course will also cover customer/client
    interactions and WP Engine support practices to prepare you for the opportunity to work as a Technical Support Specialist."
- title: Unlimited Tutoring
  text: "All Austin Coding Academy students have access to unlimited tutoring. Choose whether you want to meet with a tutor in-person or via video chat,
    and book your session through our tutoring portal. Whether you need help on nights, weekends, or during the day – Austin Coding Academy tutors are
    here to help you work through your barriers."
modules:
- code: Module 1
  length: (Week 1 - Week 4)
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta deserunt adipisci doloremque perspiciatis omnis quia cumque quidem vitae quasi?
# start metadata
  sections:
  - start: May 29, 2019
    end: July 24, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: June 25, 2019
    end: August 22, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
# end metadata
- code: Module 2
  length: (Week 5 - Week 6)
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta deserunt adipisci doloremque perspiciatis omnis quia cumque quidem vitae quasi?
# start metadata
  sections:
  - start: July 29, 2019
    end: September 25, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: Downtown Capital Factory Campus
  - start: August 27, 2019
    end: 'October 17, 2019 '
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
# end metadata
    list:
    - Immersion in Object Oriented Programming (OOP)
    - Build Unit Testing + Test Driven Development (TDD)
    - Master Callbacks and Functional Programming
    - Interact with remote APIs and manipulate data
- code: Module 3
  length: Back-End JavaScript
  text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta deserunt adipisci doloremque perspiciatis omnis quia cumque quidem vitae quasi?
# start metadata
  sections:
  - start: September 30, 2019
    end: November 20, 2019
    weekdays: Mondays &amp; Wednesdays
    time: 6:30pm - 9:00pm
    address: '701 Brazos St #16, Austin, TX 78701'
    campus: 'Downtown Capital Factory Campus '
  - start: October 22, 2019
    end: December 19, 2019
    weekdays: Tuesdays &amp; Thursdays
    time: 6:30pm - 9:00pm
    address: 314 E Highland Mall Blvd Ste 115, Austin, TX 78752
    campus: North Austin Highland Campus
# end metadata
    list:
    - Shape your own SQL Database
    - Serve Express.js routes
    - Harness the power of Node.js
    - MVC - Model, View, Controller
    - Deploy your own Node Modules
    - Learn to host, deploy and manage your web applications


about:
- title: "WP Engine: The Global Leader in WordPress Hosting"
  odd: true
  text: "The WordPress platform powers over ⅓ of live websites on the internet today. WP Engine is the global leader in WordPress hosting, with over
    300,000 live websites and over 800,000 domains using WP Engine as their hosting provider."
  img_src: "/assets/images/cap-factory-web-dev.jpg"
- title: "Global Reach – Local Roots"
  text: "Founded in Austin in 2010, WP Engine is still headquartered in Downtown Austin, serving customers in 150+ countries with additional offices in San
  Antonio, Texas; Limerick, Ireland; London, England; San Francisco, California; and Brisbane, Australia."
  img_src: "/assets/images/cap-factory-web-dev-2.jpg"
- title: A Place People Love to Work
  odd: true
  text: "Competitive compensation, medical insurance, stock options, free lunches and drinks, a casual dress code, and more, are just a few of the things
    that make WP Engine a place that people love to work. As a Technical Support Specialist, you'll also have the opportunity to be promoted from within."
  img_src: "/assets/images/cap-factory-web-dev-3.jpg"

interview:
  heading: Interview to be a Technical <br>Support Specialist
  img_src: "/assets/images/cap-factory-web-dev-2.jpg"
  title: Graduate with a Guaranteed Job Interview
  text: In this program, you will learn all of the skills necessary to work as a Technical Support Specialist with WP Engine.
    Every student that completes the course is guaranteed an interview with WP Engine for the role of Technical Support Specialist

role_sections:
- title: Your Impact
  bullets:
  - You will be the face of WP Engine and have an opportunity to deliver a world-class experience with every interaction with customers on live contact
    channels of chat and phone.
  - You’ll get to apply creative problem-solving techniques to identify and solve the source of problems while keeping customers happy and engaged.
  - Demonstrate commitment to continuous learning, to grow technical knowledge to better support customers as well as strengthening your own technical skillset.
  - Help maintain a great team and working environment by assisting fellow team members. WP Engine is a global inclusive team that works together!
  - Demonstrate a positive attitude when faced with change, working with your teammates and with customers.
- title: Skills & Requirements for the Role
  bullets:
  - "Positive Energy and enthusiasm. You believe in WP Engine's values."
  - "Ideally, 1-2 years experience working in technical support or a customer service position."
  - "Technical Aptitude: You demonstrate a keen knowledge of, and passion for, web technology or digital experiences. You are someone who learns quickly and takes ownership of your personal development."
  - "Effective Troubleshooting Skills: You demonstrate strong root cause analysis skills, through effective troubleshooting skills and you are able to quickly identify problems and solutions. You work well in a collaborative troubleshooting environment, while at the same time you can also work autonomously to arrive at the right solution for customers."
  - "Communication Skills: You have strong written and verbal communication skills, with a strong command of the English language. Ability to accurately type 40 - 60 words per minute. You have the ability to establish a professional, friendly, and empathetic dialogue with customers."
  - "Excellent Organizational Skills: You’re a great multitasker. You can handle multiple requests at once and have an understanding of prioritization."
  - "Team Focus: Effectively work in a team environment that uses cross-collaboration and teamwork to solve issues. You enjoy working with others, demonstrate a willingness and ability to share your knowledge with peers and others."
  - "Customer Inspired: Demonstrate customer focus in every interaction with WP Engine customers. You actively listen and leave customers feeling supported and understood."
  - "Adaptable: You are resilient and adapt to the changing business and landscape in the tech world."
- title: Perks & Benefits
  bullets:
  - Be yourself. Casual Dress code.
  - Giving back. Company volunteer/fundraising activities.
  - Free lunches, snacks & drinks,
  - Market Competitive Compensation.
  - Stock Options (Every employee is an owner in the company)
  - Awesome Benefits! 100% Paid Employee Medical Insurance and other health coverage, including dental and vision, dependent on regional availability (Dental, and Vision).
  - Transportation (paid parking or commuter reimbursement).

---

{% assign school = page[site.key] %}
<!-- htmllint preset="none" -->
<div id="hero-{{ page.hero }}" class="hero py-5 py-md-11">
<!-- htmllint preset="$previous" -->
  <h1 class="mt-10 mb-5 mb-md-10 text-white font-family-alt font-weight-bold display-4 text-center">
    {{ page.hero_heading }}
    <p class="text-center display-7 text-white mt-2">
      {{ page.hero_subheading }}
    </p>
  </h1>
  <p class="text-white text-center mx-auto px-2 mw-600">
    {{ page.hero_text }}
  </p>
  <div class="d-flex mt-4 align-items-center justify-content-center">
    <div class="mr-2">
      {% include btn-apply.html %}
    </div>
    <div class="ml-2">
      <!-- htmllint preset="none" -->
      <a
        class="btn btn-round btn-outline-light {{ include.class }}"
        on="tap:event-lightbox"
        role="button"
        tabindex="-1"
      >
      <!-- htmllint preset="$previous" -->
        Learn More
      </a>
    </div>
  </div>
</div>

<main>

  {% include observer-and-header-animation.html %}

    <section class="py-8 container">
      <div>
        <div class="text-center font-family-alt display-5 py-6">
          About This Program
        </div>
        <div class="d-flex justify-space-between">
          <div class="mx-auto p-4 w-50 bg-light card shadow border">
            {{ page.program_descript }}
          </div>
          <div class="w-50 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center font-weight-bold">
              <span class="display-7">WordPress Training</span>
              <span class="display-7">+</span>
              <span class="display-7">Job Opportunities</span>
            </div>
            <!-- ACA -->
            <div class="w-100 d-flex justify-content-around align-items-center mt-4">
              <div style="width: 100px;">
                <amp-img
                  src="/assets/images/logo-aca.png"
                  layout="responsive"
                  width="100px"
                  height="100px"
                  alt="aca-logo"
                >
                </amp-img>
              </div>
              <!-- WP-ENGINE -->
              <div style="width: 320px;">
                <amp-img
                  src="/assets/images/wp-engine-horizontal.png"
                  layout="responsive"
                  width="720px"
                  height="185px"
                  alt="wp-engine-logo"
                >
                </amp-img>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section class="container-fluid bg-textured-2 text-white">
    <div class="col-md-8 d-flex flex-column align-items-center justify-content-center text-center">
      <h2 class="text-center display-5 font-family-alt py-6">
        Why Learn WordPress?
      </h2>
    </div>
    <div class="row">
      {% for item in page.features %}
        <div class="col-md-6 mb-5">
          <div class="row">
            <div class="col-3 col-md-4 col-lg-3 p-0 d-flex justify-content-center align-items-center">
              <amp-img
                width="{{ item.img_width }}"
                height="80px"
                layout="fixed"
                src="/assets/images/{{ item.img_src }}"
                alt=""
              ></amp-img>
            </div>
            <div class="col-9 col-md-7 col-lg-8 d-flex flex-column">
              <h5 class="font-weight-bold">
                {{ item.heading }}
              </h5>
              <p class="text-white">
                {{ item.text }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="py-4 container">
    <div class="row flex-column">
      <h2 class="font-family-alt display-5 mx-auto mt-2 mb-4 text-center">
        Program Overview
      </h2>
      <div class="display-6 my-4 pl-2">
        Program Highlights
      </div>
      <!-- overview blocks -->
      <div class="d-flex justify-content-between text-center">
        {% for item in page.overview %}
          <div class="card shadow col-4 mx-1 pt-2">
            <h4>
              {{ item.title }}
            </h4>
            <p>
              {{ item.text }}
            </p>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- end overview blocks -->
  </section>

  <section class="py-8 container-fluid">
    <div class="font-family-alt w-75 mx-auto display-5 mb-4 pt-2 text-center">
      Course Structure
    </div>
    <div class="row d-flex flex-column align-items-center mt-2">
      <!-- course cards start -->
      {% for module in page.modules %}
        <div
          class="w-75 border shadow mb-4 px-4 pt-4 pt-sm-0 mx-auto d-flex flex-wrap align-items-center justify-content-between rounded"
          style="min-height: 350px;"
        >
          <div>
            <div class="mb-4 pl-2 pl-sm-0">
              <strong class="display-6">{{ module.code }}</strong> <br>
              <span class="display-7 text-grey">{{ module.length }}</span>
            </div>
            <div>
              {{ module.text }}
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- course cards end -->
    </div>

    <div class="d-flex justify-content-center mt-4">
      {% include btn-apply.html %}
    </div>
  </section>

  <!-- htmllint preset="none" -->
  <section id="course-guide" class="container-fluid {{page.hero}}-gradient text-white py-8">
  <!-- htmllint preset="$previous" -->
    <div class="row justify-content-center">
      <div class="col-md-8">
        {% include course-guide-form.html p_class="text-white" %}
      </div>
    </div>
  </section>

  <!-- ABOUT -->

  <section class="container d-flex py-8 flex-column justify-content-center text-center">
    <div class="font-family-alt display-5 mb-4">
      About WP Engine
    </div>
    <!-- about -->
    <div class="container text-center text-sm-left">
      {% for item in page.about %}
        {% if item.odd %}
          <div class="flex-wrap flex-sm-nowrap d-flex justify-content-between align-items-center mb-2 p-4">
            <div class="w-100 w-sm-50 m-0 mr-sm-4">
              <h4>
                {{ item.title }}
              </h4>
              <p class="mx-auto">
                {{ item.text }}
              </p>
            </div>
            <div class="w-100 w-sm-50 p-0 pl-sm-4 my-auto">
              <amp-img
                layout="responsive"
                class="img-fluid shadow-black"
                width="3535"
                height="2146"
                src="{{ item.img_src }}"
              >
              </amp-img>
            </div>
          </div>
        {% else %}
          <div class="flex-wrap-reverse flex-sm-nowrap d-flex justify-content-between align-items-center my-2 p-4">
            <div class="w-100 w-sm-50 p-0 pr-sm-4 my-auto">
              <amp-img
                layout="responsive"
                class="img-fluid shadow-black"
                width="3535"
                height="2146"
                src="{{ item.img_src }}"
              >
              </amp-img>
            </div>
            <div class="w-100 w-sm-50 m-0 ml-sm-4">
              <h4>
                {{ item.title }}
              </h4>
              <p>
                {{ item.text }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <!-- end about -->
  </section>

  {% assign interview = page.interview %}
  <section class="container-fluid d-flex py-8 flex-column justify-content-center align-items-center bg-textured-2">
    <div class="col-md-8 d-flex flex-column align-items-center justify-content-center">
      <h2 class="display-5 font-family-alt py-6 text-white">
        {{ interview.heading }}
      </h2>
    </div>

    <div class="container flex-wrap-reverse flex-sm-nowrap d-flex justify-content-between align-items-center my-2 p-4">
      <div class="w-100 w-sm-50 p-0 pr-sm-4 my-auto">
        <amp-img
          layout="responsive"
          class="img-fluid shadow-black"
          width="3535"
          height="2146"
          src="{{ interview.img_src }}"
        >
        </amp-img>
      </div>
      <div class="w-100 w-sm-50 m-0 ml-sm-4">
        <h4 class="text-white">
          {{ interview.title }}
        </h4>
        <p class="text-white">
          {{ interview.text }}
        </p>
      </div>
    </div>

    <!-- ABOUT THIS ROLE -->

    <div class="container py-8">
      <div class="display-5 font-family-alt text-white mb-4">
        About the Role
      </div>
      <p class="text-white">
        During the WordPress Development Course, you will also be learning valuable customer service skills that as well as prepare
        As a Technical Support Specialist, you’ll be providing support to WP Engine customers primarily using live chat, but also
        over the phone and via support tickets.
      </p>
      <div class="mb-2">
        <div class="display-7 text-white mb-4">
          What's Cool About This Job
        </div>
        <p class="text-white">
          You will serve as the first point of contact for WP Engine customers, supporting all of their WordPress questions and needs.
          You will develop a deep technical knowledge of the various open source technologies which deliver amazing digital
          experiences for WP Engine customers.
        </p>
        <p class="text-white">
          WP Engine cares about its employees, meaning that they invest in both personal and professional development. Their mission
          is to develop you to your full potential and work with you through each stage of your career. WP Engine likes to promote
          people within their business, and many of those folks started out in technical support. Talent is recognized and rewarded
          at WP Engine. If you are a self-motivator seeking a challenge and can think outside the box, then this role is for you!
        </p>
      </div>
      <div class="my-2">
        {% for role in page.role_sections %}
          <div class="my-4">
            <div class="display-7 text-white mb-3">
              {{ role.title }}
            </div>
            <ul class="fa-ul mb-2">
              {% for bullet in role.bullets %}
                <li class="mb-1 text-white">
                  <span class="fa-li" ><i class="fas fa-chevron-right"></i></span>{{ bullet }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <a class="btn cta-gradient text-white hover-white btn-round mr-4" href="/">
        Apply to the WordPress <br>
        Development Program
      </a>
      <a class="btn btn-round btn-outline-light ml-4" href="/">
        Learn More About <br>
        WP Engine
      </a>
    </div>
  </section>

  {% for course in page.courses %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Course",
      "name": "{{ course.title }}",
      "courseCode": "{{ course.code }}",
      "description": "{{ course.description }}",
      "hasCourseInstance": [
        {% for section in course.sections %}
        {
          "@type": "CourseInstance",
          "name": "{{ course.title }}",
          "description": "{{ course.description }}",
          "startDate": "{{ section.start }}",
          "endDate": "{{ section.end }}",
          "location": {
            "@type": "Place",
            "name": "{{ section.campus }}",
            "address": {
              "@type": "PostalAddress",
              "streetAddress": "{{ section.address }}",
              "addressLocality": "{{ site.key | capitalize }}"
            }
          }
        }{% unless section == course.sections.last %},{% endunless %}
        {% endfor %}
      ],
      "provider": {
        "@type": "Organization",
        "name": "{{ site.key | capitalize }} Coding Academy",
        "logo": {
          "@type": "ImageObject",
          "url": "{{site.url}}/assets/images/logo-{{ site.acronym }}.png"
        }
      }
    }
    </script>
  {% endfor %}
</main>
