---
layout: default
permalink: "/courses/wordpress-development/apply/"
redirect_from:
head_title: "Start Your Application | Apply Now at {{ key_settings.school }}"
description: "Apply now to learn to code with {{ key_settings.school }} | Fill out your short application to get on the path to a career in web development."
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% assign key_settings = settings[site.key] %}
  {% endif %}
{% endfor %}

<div class="container mt-90 pt-1 pb-5">
  <div class="my-10 px-4 p-lg-0 border mx-auto">
    <h2 class="font-family-alt my-10 display-5 text-center">
      WordPress Development Course Application
    </h2>
    <!-- Proccess Application -->
    <div class="d-flex">
      <div>
        <i style="width: 20px;"></i>
        <p>
          Lorem ipsum dolor sit amet.
        </p>
      </div>
      <div>
        <i style="width: 20px;"></i>
        <p>
          Lorem ipsum dolor sit amet.
        </p>
      </div>
      <div>
        <i style="width: 20px;"></i>
        <p>
          Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
    <!-- Proccess Application End -->
    <form
      class="d-flex justify-content-center"
      action-xhr="{{settings.form_url}}/{{settings.hubspot_portal_id}}/{{key_settings.application_wp_form_guid}}"
      method="POST"
      target="_top"
    >
      <div class="form-container">
        <input name="lifecyclestage" type="hidden" value="opportunity">
        <input name="filled_out_application" type="hidden" value="true">
        <input name="page_name" type="hidden" value="{{page.title}}">
        <input name="page_uri" type="hidden" value="{{key_settings.url}}{{site.baseurl}}{{page.permalink}}">
        <input name="hutk" type="hidden" value="">
        <h2 class="display-6 mb-4">
          About You
        </h2>
        <div class="mw-850 row">
          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="firstname" class="form-label">
                First Name <span class="text-red-a">*</span>
              </label>
              <input
                type="text"
                id="firstname"
                class="form-control"
                name="firstname"
                placeholder="First name"
                aria-label="First name"
                required
                data-msg="Please enter your first name."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="lastname" class="form-label">
                Last Name <span class="text-red-a">*</span>
              </label>
              <input
                type="text"
                id="lastname"
                class="form-control"
                name="lastname"
                placeholder="Last name"
                aria-label="Last name"
                required
                data-msg="Please enter your last name."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="phone" class="form-label">
                Phone Number<span class="text-red-a">*</span>
              </label>
              <input
                type="tel"
                id="phone"
                class="form-control"
                name="phone"
                placeholder="(***)***-****"
                aria-label="(***)***-****"
                required
                data-msg="Please enter your phone number."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="email" class="form-label">
                Email <span class="text-red-a">*</span>
              </label>
              <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                placeholder="name@example.com"
                aria-label="name@example.com"
                required
                data-msg="Please enter a valid email address."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
              <div class="js-form-message form-group">
                <label for="zip" class="form-label">
                  Your Zip Code <span class="text-red-a">*</span>
                </label>
                <input
                  id="zip"
                  type="text"
                  class="form-control"
                  name="zip"
                  placeholder="zip code"
                  aria-label="zip code"
                  required
                />
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message form-group">
                <label for="date-of-birth" class="form-label">
                  Date of Birth <span class="text-red-a">*</span>
                </label>
                <input
                  id="date-of-birth"
                  type="text"
                  class="form-control"
                  name="date_of_birth1"
                  placeholder="Date of Birth"
                  aria-label="Date of Birth"
                  required
                  data-msg="Please enter your date of birth"
                  data-error-class="u-has-error"
                  data-success-class="u-has-success"
                />
              </div>
            </div>
              <!-- End Input -->

          <h2 class="display-6 mb-4 col-12">
            Education & Work Experience
          </h2>

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="current-occupation-wp" class="form-label">
                Highest Level of Education Completed<span class="text-red-a">*</span>
              </label>
              <select id="education-level" name="highest_level_of_education_completed" class="form-control">
                <option value="High School Diploma/GED" disabled selected>
                  High School Diploma/GED
                </option>
                <option value="Some College, No Degree">
                  Some College, No Degree
                </option>
                <option value="2-Year Associate Degree">
                  2-Year Associate Degree
                </option>
                <option value="Bachelors Degree">
                  Bachelors Degree
                </option>
                <option value="Some Graduate Courses">
                  Some Graduate Courses
                </option>
                <option value="Graduate College Degree">
                  Graduate College Degree
                </option>
              </select>
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="school-attended-wp" class="form-label">
                Name of Last School Attended <span class="text-red-a">*</span>
              </label>
              <input
                id="school-attended-wp"
                type="text"
                class="form-control"
                name="college_or_school_attended1"
                placeholder="The last school you attended"
                aria-label="Last school attended"
                required
                data-msg="Please enter the last school you attended."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="current-occupation-wp" class="form-label">
                Current Occupation/Job Title <span class="text-red-a">*</span>
              </label>
              <input
                id="current-occupation-wp"
                type="text"
                class="form-control"
                name="current_occupation1"
                placeholder="Your current job title"
                aria-label="Your current job title"
                required
                data-msg="Please enter your current job title."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="current-company1" class="form-label">
                Current Company <span class="text-red-a">*</span>
              </label>
              <input
                id="current-company1"
                type="text"
                class="form-control"
                name="current_company1"
                placeholder="Your current company"
                aria-label="Your current company"
                required
                data-msg="Please enter your current company."
                data-error-class="u-has-error"
                data-success-class="u-has-success"
              />
            </div>
          </div>
          <!-- End Input -->

          <h2 class="display-6 mb-4 col-12">
            Additional Info
          </h2>

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="payment" class="form-label">
                Do You Own a Laptop? <span class="text-red-a">*</span>
              </label>
              <select id="hear-about-us" name="do_you_own_a_laptop" class="form-control">
                <option value="Yes (a Chromebook)" disabled selected>
                  Yes (a Chromebook)
                </option>
                <option value="Yes (a Mac or Windows machine Pre-2012)">
                  Yes (a Mac or Windows machine Pre-2012)
                </option>
                <option value="Yes (a Mac or Windows machine Post-2012)">
                  Yes (a Mac or Windows machine Post-2012)
                </option>
                <option value="Yes (other)">
                  Yes (other)
                </option>
              </select>
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="hear-about-us" class="form-label">
                How did you hear About Austin Coding Academy? <span class="text-red-a">*</span>
              </label>
              <select id="hear-about-us" name="how_did_you_hear_about_us" class="form-control">
              <option value="" disabled selected>
                  Select your answer
                </option>
                <option value="Facebook">
                  Facebook
                </option>
                <option value="Instagram">
                  Instagram
                </option>
                <option value="Twitter">
                  Twitter
                </option>
                <option value="LinkedIn">
                  LinkedIn
                </option>
                <option value="Friend / Family">
                  Friend / Family
                </option>
                <option value="Search engine">
                  Search engine
                </option>
                <option value="{{ key_settings.school }} event">
                  {{ key_settings.school }} event
                </option>
                <option value="{{ key_settings.school }} faculty / staff">
                  {{ key_settings.school }} faculty / staff
                </option>
                <option value="{{ key_settings.school }} student / alumni">
                  {{ key_settings.school }} student / alumni
                </option>
                <option value="News (TV, article)">
                  News (TV, article)
                </option>
                <option value="Radio">
                  Radio
                </option>
                <option value="Other">
                  Other
                </option>
              </select>
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="hear-about-us" class="form-label">
                How Do You Intend to Pay for the Course? <span class="text-red-a">*</span>
              </label>
              <select id="hear-about-us" name="how_do_you_intend_to_pay_for_the_course_" class="form-control">
                <option value="" disabled selected>
                  Select your answer
                </option>
                <option value="Paying on my own">
                  I'll be paying on my own.
                </option>
                <option value="Planning to finance">
                  I'm planning to finance tuition.
                </option>
                <option value="Employer will be paying / reimbursing">
                  My employer will be paying/reimbursing me.
                </option>
                <option value="Other">
                  Other
                </option>
              </select>
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message form-group">
              <label for="hear-about-us" class="form-label">
                When Would You Like to Begin Class? <span class="text-red-a">*</span>
              </label>
              <select id="hear-about-us" name="when_would_you_like_to_begin_class" class="form-control">
                <option value="As Soon as Possible">
                  As Soon as Possible
                </option>
                <option value="2 – 4 Weeks">
                  2 – 4 Weeks
                </option>
                <option value="1 – 3 Months">
                  1 – 3 Months
                </option>
                <option value="3 – 6 Months">
                  3 – 6 Months
                </option>
                <option value="> 6 Months">
                  > 6 Months
                </option>
              </select>
            </div>
          </div>
          <!-- End Input -->
          <div class="col-12 mb-4 d-flex justify-content-center">
            <button class="btn btn-round text-white bg-purple" type="Submit">
              Finish Your Application
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
