<div class="container mt-4 pt-1 pb-5">
  <div class="my-5 my-sm-10 px-4 p-lg-0 border mx-auto d-flex flex-column align-items-center">
      <h2 class="font-family-alt mt-5 mt-sm-10 mb-md-4 mb-sm-10 display-5 text-center col-12 col-sm-10">
        {{ page.heading }}
      </h2>
      <!-- Proccess Application -->
      <p class="text-center col-12 col-sm-10 mb-4">
        {{ page.app_descript }}
      </p>
      <!-- <div class="d-sm-flex col-12 col-sm-10 mb-4 justify-content-between">
        {% for process in page.process %}
          <div class="col-12 col-sm-3 mx-auto">
            <amp-img
              width="{{ process.img_width }}"
              height="{{ process.img_height }}"
              layout="responsive"
              class="w-75 w-sm-100 mx-auto h-auto mw-10r"
              src="{{ process.img_src | liquify }}"
              alt="{{ process.name | liquify }}"
            ></amp-img>
            <div>
              <h3 class="text-center font-weight-bold mb-2">
                {{ process.heading }}
              </h3>
              <p class="text-center mb-2">
                <small>{{ process.time }}</small>
              </p>
            </div>
            <p class="text-center">
              {{ process.text }}
            </p>
          </div>
        {% endfor %}
      </div> -->
    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ school.preapplication_form_guid }}"
      method="POST"
      target="_top"
    >
      <div class="col-12 col-sm-10 mx-auto">
        <div class="row d-flex justify-content-center p-sm-2 p-md-5">
            {% assign all_fields = school.form_fields %}
            {% assign redirect_url = school.url | append: "/apply-two" %}
            {% include fields.html fields=all_fields redirect_url=redirect_url %}
            <div class="col-12 mb-4">
              {% include referral-question.html %}
            </div>

          <div class="mb-4 d-flex flex-column align-items-center">
            <!-- htmllint preset="none" -->
            <button class="mb-4 btn cta-gradient hover-white text-white hover-white {% if school.inverted == false %}btn-round{% endif %} {{ include.class | liquify }}" >
            <!-- htmllint preset="$previous" -->
              Continue Application
            </button>
            <div class="d-flex flex-column align-items-center">
              {% include data-agreement.html %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>