<div class="container mt-90 pt-1 pb-5">
  <div class="my-5 my-sm-10 px-4 p-lg-0 border mx-auto d-flex flex-column align-items-center">
    {% if include.diversity %}
      <h2 class="font-family-alt my-5 my-sm-5 display-5 display-55 text-center col-12 col-sm-10">
        APPLICATION PAGE 1
      </h2>
      <p class="display-6 text-center col-12">
        Diversity Scholarship Appliction<br>
      </p>
      <div class="px-6 py-4 col-12 col-sm-10 d-flex flex-column align-items-start">
        <div class="pb-4">
          <h3>Diversity Scholarship Timeline</h3>
        </div>
        <div class="py-6 py-sm-0 d-flex flex-column justify-content-center">
          <h4 class="border-bottom">Submit Your Application (Deadline: December 11th)</h4>
          <p>The Diversity Scholarship application is 2 pages long and consists of a
            couple of short answer questions and a short “open-book” coding assignment.
            After you finish the application, you will be asked to schedule a phone
            interview with one of our admissions representatives.</p>
        </div>
        <div class="py-6 py-sm-0 d-flex flex-column justify-content-center">
          <h4 class="border-bottom">15-Minute Phone Interview (Deadline: December 12th)</h4>
          <p>During your scheduled phone interview an Austin Coding Academy admissions
            representative will review your application, answer any questions you may
            have about the program or scholarship process, give you information about
            our program, and get to know your goals with learning to code.</p>
        </div>
        <div class="py-6 py-sm-0 d-flex flex-column justify-content-center">
          <h4 class="border-bottom">In-Person Interview with Finalists (December 17th)</h4>
          <p>3 Finalists for the Diversity Scholarship will be announced on Friday,
            December 13th. Finalists will be required to be available to attend an
            in-person interview on the evening on Tuesday, December 17th. An independent
            panel will select the finalist who will receive the Diversity Scholarship, to be
            applied to Austin Coding Academy’s Full Stack Web Development Program.</p>
        </div>
      </div>

      {% else %}
      <h2 class="font-family-alt my-5 my-sm-10 display-5 display-55 text-center col-12 col-sm-10">
        Start Your Application
      </h2>
    {% endif %}
    <!-- Proccess Application -->
    <p class="text-center col-12 col-sm-10">
      Our application is 2 pages long and will take 5 minutes to complete. Once you submit your application you will
      be asked to schedule a phone call with an admissions advisor. All students must be at least 18 years of age and
      have at least a high school diploma or GED to enroll in one of our courses/programs.
    </p>
    <div class="d-sm-flex col-12 col-sm-10 mb-4 justify-content-between">
      {% for process in page.process %}
        <div class="col-12 col-sm-3 mx-auto">
          <amp-img
            width="{{ process.img_width }}"
            height="{{ process.img_height }}"
            layout="responsive"
            class="w-75 w-sm-100 mx-auto h-auto mw-10r"
            src="{{ process.img_src | liquify }}"
            alt="{{ process.name | liquify }}"
          ></amp-img>
          <div>
            <h3 class="text-center font-weight-bold mb-2">
              {{ process.heading }}
            </h3>
            <p class="text-center mb-2">
              <small>{{ process.time }}</small>
            </p>
          </div>
          <p class="text-center">
            {{ process.text }}
          </p>
        </div>
      {% endfor %}
    </div>
    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ settings.wordpress_form_guid }}"
      method="POST"
      target="_top"
    >
      <div class="col-12 col-sm-10 mx-auto">
        <div class="row d-flex justify-content-center p-5">
          {% assign all_fields = page.form_fields %}
          {% include fields.html fields=all_fields %}

          <div class="mb-4 d-flex flex-column align-items-center">
            <!-- htmllint preset="none" -->
            <a class="mb-4 btn cta-gradient text-white hover-white btn-round {{ include.class | liquify }}" href="{{ page.next_page_href | liquify }}">
            <!-- htmllint preset="$previous" -->
              <span class="hover-white text-white">
                Continue Application
              </span>
            </a>
            <div class="d-flex flex-column align-items-center">
              {% include data-agreement.html %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="form">
  </div>
</div>