<div class="d-flex justify-content-center mt-3">
  <h2 class="mx-auto mb-5 display-6 font-family-alt font-weight-bold">
    {% if site.key == "austin" %}Learn at One of Our Two Locations{% else %}We are located at:{% endif %}
  </h2>
</div>
<div class="row text-center">
  {% for location in site.locations %}
    <div class="col-12 col-md mt-5 mt-md-0">
      <div class="mb-2">
        <h5 class="font-weight-bold m-0">
          {{ location.address }}
        </h5>
        <small>
          {{ location.street }}<br>
          {{ location.locality }}
        </small>
      </div>
      <amp-iframe
        src="{{ location.url }}"
        width="525"
        height="242"
        layout="responsive"
        sandbox="allow-scripts allow-same-origin"
        frameborder="0"
        class="shadow-black border-0"
        allowfullscreen>
      </amp-iframe>
    </div>
  {% endfor %}
</div>