<script>
window.addEventListener('DOMContentLoaded', function () {
  const decodeURLParams = search => {
    const hashes = search.slice(search.indexOf("?") + 1).split("&");
    return hashes.reduce((params, hash) => {
      const split = hash.indexOf("=");
      if (split < 0) {
        return Object.assign(params, {
          [hash]: null
        });
      };
      const key = hash.slice(0, split);
      const val = hash.slice(split + 1);
      return Object.assign(params, { [key]: decodeURIComponent(val) });
    }, {});
  };
  const search = window.location.search;
  const hashesObj = decodeURLParams(search);
  const email = hashesObj['email'];
  document.querySelectorAll("input[name='email'][type='hidden']").forEach(function(el) {
    el.value = email
  });

  ['href', 'action', 'action-xhr'].forEach(function(attr) {
    document.querySelectorAll('[' + attr + ']').forEach(function(el) {
      var parser = document.createElement('a');
      parser.href = el.getAttribute(attr);
      var existingSearch = parser.search.replace('?', '').split('&').filter(function (param) {
        return param;
      });
      var newSearch = location.search.replace('?', '').split('&').filter(function (param) {
        return param;
      });
    var combinedSearch = existingSearch.concat(newSearch).filter(function(item, pos, self) {
        return self.indexOf(item) == pos;
      });
      if (combinedSearch.length) {
        el.setAttribute(attr, el.getAttribute(attr).split('?')[0] + '?' +  combinedSearch.join('&'))
      }
    });
  });
})
</script>