{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if page.contact_lightbox %}
<a href="#"
  class="btn {% if school.inverted == false %}btn-round{% endif %} text-white bg-primary-dark hover-white mx-auto"
  on="tap:contact-lightbox"
  role="button"
  tabindex="0"
>
  Contact us &nbsp;<i class="far fa-envelope" aria-hidden="true"></i>
</a>

<amp-lightbox
  id="contact-lightbox"
  class="lightbox"
  layout="nodisplay"
  scrollable
  on="tap:contact-lightbox.close"
  tabindex="0"
  role="dialog"
>
  <div class="container px-5 pt-5 text-white">
    {% endif %}

    <form
      action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ school.contact_form_guid }}"
      method="POST"
      target="_top"
    >
      <div
        class="form-container"
        on="tap:contact-lightbox.open"
        tabindex="-1"
        role="form"
      >

        <input name="lifecyclestage" type="hidden" value="lead">
        <input name="hs_lead_status" type="hidden" value="NEW">
        <!-- <input name="page_name" type="hidden" value="{{ page.head_title | liquify }}"> -->
        <!-- <input name="redirect_url" type="hidden" value="{{ school.url }}/thank-you/"> -->
        <input name="zollege_school_new_" type="hidden" value="{{ school.name }}">
        <!-- <input name="callrail_company_id" type="hidden" value="{{ school.callrail_company_id }}" /> -->
        <div class="row center-form">

          {% for _page in site.pages %}
            {% if _page.name == 'contact.html' %}
              {% assign contact = _page %}
            {% endif %}
          {% endfor %}
          {% assign all_fields = contact.form_fields %}
          {% include fields.html fields=all_fields %}

          <div class="col-12 mb-4">
            {% include referral-question.html %}
          </div>
          <div class="text-center col-sm-12 mb-4">
            <button
              type="submit"
              class="text-white btn {% if school.inverted == false %}btn-round{% endif %} bg-primary-dark hover-white"
            >
              Send
            </button>
          </div>
          <div class="col-12">
            {% include data-agreement.html %}
          </div>
        </div>
      </div>
      <div class="text-center">
        <div submit-error>
          <template type="amp-mustache">
            <p class="text-red-a">There was an error with your request. Please try again.</p>
          </template>
        </div>
      </div>
    </form>

    {% if page.contact_lightbox %}
  </div>
</amp-lightbox>
{% endif %}
