{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<!-- htmllint preset="none" -->
<a
  class="btn {% if school.inverted != true %}btn-round{% endif %} mt-2 btn-outline-light {{ include.class | liquify }}"
  on="tap:event-lightbox"
  role="button"
  tabindex="-1"
  href="#"
>
<!-- htmllint preset="$previous" -->
  Request Info
</a>

<amp-lightbox
  id="event-lightbox"
  class="lightbox d-flex justify-content-center align-items-center"
  layout="nodisplay"
  scrollable
  on="tap:event-lightbox.close"
  tabindex="-1"
  role="dialog"
>
  <form
    class="d-flex mt-6 text-white justify-content-center align-items-center"
    target="_top"
    action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ settings.corporate_form_guid }}"
    method="POST"
    tabindex="-1"
    on="tap:event-lightbox.open"
    role="form"
  >
    <div class="form-container mw-850 px-5 px-lg-0">
      <input name="lifecyclestage" type="hidden" value="marketingqualifiedlead">
      <input name="hs_lead_status" type="hidden" value="NEW">
      <!-- <input name="page_name" type="hidden" value="{{ page.head_title | liquify }}"> -->
      <input name="redirect_url" type="hidden" value="https://acaappointment.as.me/schedule.php?calendarID=3049624">
      <!-- <input name="zollege_school_new_" type="hidden" value="{{ school.name }}"> -->
      <!-- <input name="callrail_company_id" type="hidden" value="{{ school.callrail_company_id }}" /> -->

      <div class="row center-form">
        {% include fields.html fields=page.corporate_form_fields redirect_url="https://acaappointment.as.me/schedule.php?calendarID=3049624" %}
        <!-- Input -->
        <div class="col-12 d-flex align-items-end justify-content-center form-group">
          <button type="submit" class="btn {% if school.inverted != true %}btn-round{% endif %} btn-sm-block text-white bg-primary-dark hover-white">
            Submit
          </button>
        </div>
        <!-- End Input -->
        <div class="col-12">
          {% include data-agreement.html %}
        </div>
      </div>
      <div class="text-center">
        <div submit-error>
          <template type="amp-mustache">
            <p class="text-red">There was an error with your request. Please try again.</p>
          </template>
        </div>
      </div>
    </div>
  </form>
</amp-lightbox>