{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="row d-flex justify-content-center">
  <div class="col-sm-10 col-xs-10 mw-850">
    <!-- htmllint preset="none" -->
    <h2
      {% if include.fade == true %}
        amp-fx="fade-in"
        data-duration="600ms"
        data-margin-start="1%"
        data-margin-end="20%"
      {% endif %}
      class="col-12 font-family-alt font-weight-bold text-center display-5 mb-7"
    >
      {% if page.permalink == "/courses/wordpress-fundamentals/" %}
        See How It Works
      {% else %}
        {% if page.permalink == "/courses/web-development/" %}
          Want an In-Depth Look? <br>
        {% endif %}
          Download Our Course Guide
      {% endif %}
    </h2>
    <!-- htmllint preset="none" -->
    <p
      {% if include.fade == true %}
        amp-fx="fade-in"
        data-duration="600ms"
        data-margin-start="1%"
        data-margin-end="20%"
      {% endif %}
      class="mw-600 mx-auto {{ include.p_class | liquify  }} text-center mb-6"
    >
    <!-- htmllint preset="$previous" -->
    {% if page.permalink == "/courses/wordpress-fundamentals/" %}
      Curious about how this course works? Download the WordPress Fundamentals
      syllabus to see our week-by-week curriculum, tuition options, and more.
    {% else %}
      Curious about what our classes entail? Download our course guide to get the rundown on how
      this whole process works, from how our programs are structured to how we can help you get
      a job in coding after you graduate.
    {% endif %}
    </p>
    <div class="row">
      <!-- Image -->
      <div class="d-flex flex-column justify-content-center mb-7 col-xs-11 col-sm-11 col-md-5 col-lg-5 mx-auto">
        <!-- htmllint preset="none" -->
        <amp-img
          class="rounded border"
          {% if include.fade == true %}
            amp-fx="fade-in"
            data-duration="600ms"
            data-margin-start="1%"
            data-margin-end="20%"
          {% endif %}
          layout="responsive"
          width="579"
          height="756"
          src="/assets/images/{{ include.course_guide | default: site.key | liquify }}-Course-Guide-Master-Table-Content.png"
          alt="What's inside our course guide"
        ></amp-img>
        <!-- htmllint preset="$previous" -->
      </div>
      <!-- Form -->
      <div class="col-xs-11 col-sm-11 mx-auto col-md-7 col-lg-7 d-flex flex-column justify-content-center">
        <form
          action-xhr="{{ settings.form_url }}/{{ settings.hubspot_portal_id }}/{{ include.course_guide_form_guid | default: school.course_guide_form_guid }}"
          target="_top"
          method="POST"
        >
          <div class="form-container">
            <input name="lifecyclestage" type="hidden" value="marketingqualifiedlead">
            <input name="downloaded_a_courses_guide" type="hidden" value="true">
            <input name="hs_lead_status" type="hidden" value="NEW">
            <input name="page_name" type="hidden" value="{{ page.title | liquify }}">
            <input name="page_uri" type="hidden" value="{{ school.url }}{{ site.baseurl }}{{ page.url }}">
            <input name="hutk" type="hidden" value="">
            <input name="callrail_company_id" type="hidden" value="{{ school.callrail_company_id }}" />

            <div class="row center-form">
              <!-- Input -->
              <!-- htmllint preset="none" -->
              <div
                class="col-6"
                {% if include.fade == true %}
                  amp-fx="fade-in"
                  data-duration="600ms"
                  data-margin-start="1%"
                  data-margin-end="20%"
                {% endif %}
              >
              <!-- htmllint preset="$previous" -->
                <div class="form-group">
                  <label for="first-name-cg" class="form-label">
                    First Name <span class="text-red-a">*</span>
                  </label>

                  <input id="first-name-cg"
                    type="text"
                    class="form-control"
                    name="firstname"
                    placeholder="First name"
                    required data-msg="Please enter your first name."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success"
                  />
                </div>
              </div>
              <!-- End Input -->

              <!-- Input -->
              <!-- htmllint preset="none" -->
              <div
                class="col-6"
                {% if include.fade == true %}
                  amp-fx="fade-in"
                  data-duration="600ms"
                  data-margin-start="1%"
                  data-margin-end="20%"
                {% endif %}
              >
              <!-- htmllint preset="$previous" -->
                <div class="form-group">
                  <label for="last-name-cg" class="form-label">
                    Last Name <span class="text-red-a">*</span>
                  </label>

                  <input id="last-name-cg"
                    type="text"
                    class="form-control"
                    name="lastname"
                    placeholder="Last name"
                    required data-msg="Please enter your last name."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success"
                  />
                </div>
              </div>
              <!-- End Input -->

              <!-- Input -->
              <!-- htmllint preset="none" -->
              <div
                class="col-12"
                {% if include.fade == true %}
                  amp-fx="fade-in"
                  data-duration="600ms"
                  data-margin-start="1%"
                  data-margin-end="20%"
                {% endif %}
              >
              <!-- htmllint preset="$previous" -->
                <div class="form-group">
                  <label for="email-cg" class="form-label">
                    Email <span class="text-red-a">*</span>
                  </label>

                  <input id="email-cg"
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email"
                    required data-msg="Please enter a valid email address."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success"
                  />
                </div>
              </div>
              <!-- End Input -->

              <!-- Input -->
              <!-- htmllint preset="none" -->
              <div
                class="col-12"
                {% if include.fade == true %}
                  amp-fx="fade-in"
                  data-duration="600ms"
                  data-margin-start="1%"
                  data-margin-end="20%"
                {% endif %}
              >
              <!-- htmllint preset="$previous" -->
                <div class="form-group">
                  <label for="phone-cg" class="form-label">
                    Phone <span class="text-red-a">*</span>
                  </label>

                  <input id="phone-cg"
                    type="phone"
                    class="form-control"
                    name="phone"
                    placeholder="Phone"
                    required data-msg="Please enter a valid phone number."
                    data-error-class="u-has-error"
                    data-success-class="u-has-success"
                  />
                </div>
              </div>
              <!-- End Input -->

              <!-- htmllint preset="none" -->
              <div
                class="col-12 d-flex flex-column justify-content-end"
                {% if include.fade == true %}
                  amp-fx="fade-in"
                  data-duration="600ms"
                  data-margin-start="1%"
                  data-margin-end="20%"
                {% endif %}
              >
              <!-- htmllint preset="$previous" -->
                {% include referral-question.html %}
              </div>

              <!-- Input -->
              <!-- htmllint preset="none" -->
              <div
                class="col-12 d-flex flex-column justify-content-end form-group"
                {% if include.fade == true %}
                  amp-fx="fade-in"
                  data-duration="600ms"
                  data-margin-start="1%"
                  data-margin-end="20%"
                {% endif %}
              >
              <!-- htmllint preset="$previous" -->
                <label class="form-label" for="best-describes-cg">Which of these best describes you? <span class="text-red-a">*</span></label>
                <select id="best-describes-cg" name="which_of_these_best_describes_you_" class="form-control" required>
                  <option disabled selected value="">Select your answer</option>
                  <option value="I'm researching coding bootcamps">I'm researching coding bootcamps</option>
                  <option value="I'm teaching myself to code but I'm stuck">I'm teaching myself to code but I'm stuck</option>
                  <option value="I'm interested in a career in tech">I'm interested in a career in tech</option>
                  <option value="I'm an entrepreneur with an idea">I'm an entrepreneur with an idea</option>
                  <option value="I'm looking for a college alternative">I'm looking for a college alternative</option>
                  <option value="I want to learn a new skill for my current job">I want to learn a new skill for my current job</option>
                </select>
              </div>
              <!-- End Input -->

              <!-- Input -->
              <!-- htmllint preset="none" -->
              <div
                class="col-12 d-flex align-items-end justify-content-center form-group"
                {% if include.fade == true %}
                  amp-fx="fade-in"
                  data-duration="600ms"
                  data-margin-start="1%"
                  data-margin-end="20%"
                {% endif %}
              >
              <!-- htmllint preset="$previous" -->
                <button type="submit" class="btn btn-round btn-sm-block text-white bg-primary-dark hover-white">
                  View Guide
                </button>
              </div>
              <!-- End Input -->

              {% if page.categories contains 'landing' %}
                <div class="col-12 d-flex justify-content-center">
                  {% include data-agreement.html %}
                </div>
              {% endif %}
            </div>
            <div class="text-center">
              <div submit-error>
                <template type="amp-mustache">
                  <p class="text-danger">There was an error with your request. Please try again.</p>
                </template>
              </div>
            </div>
          </div>
        </form>
        <!-- End Form -->

      </div>
    </div>
  </div>
</div>