<input name="page_name" type="hidden" value="{{ page.title | liquify }}">
<input name="page_uri" type="hidden" value="{{ school.url | liquify }}{{ site.baseurl | liquify }}{{ page.permalink }}">
<input name="callrail_company_id" type="hidden" value="{{ school.callrail_company_id }}" />
<input name="hutk" type="hidden" value="">
<!-- htmllint preset="none" -->
{% for field in include.fields %}
  {% if field.type == "hidden" %}
    <input name="{{ field.name | liquify }}" type="{{ field.type | liquify }}" value="{{ field.value | append: '' | liquify }}">
  {% elsif field.type == 'select' %}
    <div class="mb-6 col-12 col-sm-{{ field.small_width }} col-md-{{ field.medium_width }}">
      <div class="form-group">
        <label for="{{ field.name | liquify }}" class="form-label">
          {{ field.label }}
          <span class="text-red-a">*</span>
        </label>
        <small>{{ field.description | liquify }}</small>
        <select id="{{ field.name | liquify }}" name="{{ field.name | liquify }}" class="form-control">
          <option value="" disabled selected>
            {{ field.placeholder | liquify }}
          </option>
          {% for option in field.options %}
            <option value="{{ option.value | append: '' | liquify }}">
              {{ option.label | liquify }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% else %}
    <div class="mb-6 col-12 col-sm-{{ field.small_width }} col-md-{{ field.medium_width }}">
      <div class="form-group">
        <label for="{{ field.name | liquify }}" class="form-label">
          {{ field.label }}
          {% if field.required %}<span class="text-red-a">*</span>{% endif %}
        </label>
        <small>{{ field.description | liquify }}</small>
        <input
          type="{{ field.type | liquify }}"
          id="{{ field.name | liquify }}"
          class="form-control"
          name="{{ field.name | liquify }}"
          placeholder="{{ field.placeholder | liquify }}"
          aria-label="{{ field.label | liquify }}"
          {% if field.required %}required{% endif %}
        />
      </div>
    </div>
  {% endif %}
{% endfor %}
<!-- htmllint preset="$previous" -->