<!-- ========== FOOTER ========== -->
<footer class="bg-textured-2">
  {% if page.trackColor %}
    {% include scrolling-menu-observer.html %}
  {% endif %}
  <div class="container-fluid pt-2 px-0">
    <div class="row justify-content-around m-0 p-4">
      <div class="col-12 col-md text-left mb-5 mb-md-0">
        <h5 class="text-white font-weight-bold pb-1 border-bottom">
          Find Us
        </h5>
        <div class="row">
          <!-- Addresses -->
          <div class="col d-flex flex-column justify-content-around align-items-start">
            {% for location in site.locations %}
              <div class="my-2">
                <a
                  href="{{ location.url }}"
                  class="d-flex text-white hover-white"
                >
                  <i class="fas fa-map-marker-alt pt-1" aria-hidden="true"></i>
                  <div>&nbsp;{{ location.address }}</div>
                </a>
              </div>
            {% endfor %}
          </div>
          <!-- End addresses -->
          <div class="col d-flex flex-column justify-content-around align-items-start">
            {% include phone.html a_class="text-white hover-white my-2" icon_class="text-white hover-white fas fa-phone" %}
            <div class="my-2">
              {% assign city = site.data.menus[site.key] %}
              {% for item in city.social %}
                <!-- htmllint preset="none" -->
                <a href="{{ item.url }}" class="{{ item.class }}">
                  <span class="text-white hover-white display-7 fab fa-{{ item.title }}" aria-hidden="true">
                    <span class="sr-only">Link to our {{ item.title }}</span>
                  </span>
                </a>
                <!-- htmllint preset="$previous" -->
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="col text-left">
        <h5 class="text-white font-weight-bold pb-1 border-bottom">
          More
        </h5>
        <!-- List Group -->
          <div class="row">
            {% for item in city.footer %}
              <div class="col-6 my-2">
                <a
                  class="text-white hover-white"
                  href="{{ item.url }}"
                >
                  {{ item.title }}
                </a>
              </div>
            {% endfor %}
          </div>
        <!-- End List Group -->
      </div>
    </div>
    <div class="text-center border-top bg-purple py-3 w-100">
      <p class="small text-white-70 mb-0">
        © {{ site.key | capitalize }} Coding Academy 2019. All rights reserved.<br/>
        <a class="text-white" href="https://discourse.austincodingacademy.com/tos">Terms of Service</a> | <a class="text-white" href="https://discourse.austincodingacademy.com/privacy">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "{{ site.key | capitalize }} Coding Academy",
    "url": "{{site.url}}",
    "priceRange": "$2990",
    "logo": {
      "@type": "ImageObject",
      "url": "{{site.url}}/assets/images/logo-{{ site.acronym }}.png"
    },
    "image": {
      "@type": "ImageObject",
      "url": "{{site.url}}/assets/images/header-index.jpg"
    },
    "telephone": "{{ site.phone }}",
    "address": [
      {
        "@type": "PostalAddress",
        "streetAddress": "{{ site.locations[0].street }}",
        "addressLocality": "{{ site.locations[0].locality }}"
      },
      {
        "@type": "PostalAddress",
        "streetAddress": "{{ site.locations[1].street }}",
        "addressLocality": "{{ site.locations[1].locality }}"
      }
    ]
  }
  </script>