{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% assign key_settings = settings[site.key] %}
  {% endif %}
{% endfor %}
<!-- htmllint preset="$previous" -->
<head>
  <meta charset="utf-8" />
  <title>
    {% assign key_page = page[site.key] %}
    {{ page.head_title | default: settings.head_title | liquify }}
  </title>

  <meta
    name="description"
    content="{{ page.description | default: settings.description | liquify }}"
  />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {% include favicon.html %}

  {% include sharing.html %}

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
  />

  {% include amp.html %}

  {% capture amp_css %}{% file_exists _includes/css.html %}{% endcapture %}
  {% if amp_css == "true" %}
    {% include css.html %}
  {% else %}
    <link rel="stylesheet" href="https://austincodingacademy.github.io/front/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  {% endif %}

  {% include google-tag-manager-head.html %}

  {% if site.baseurl == '/amp' %}
    <link rel="canonical" href="{{key_settings.url}}{{page.url}}">
  {% else %}
    <link rel="amphtml" href="{{key_settings.url}}/amp{{page.url}}">
  {% endif %}
</head>