{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
{% assign navigation = school.navigation.header | default: settings.navigation.header %}
<amp-sidebar
  on="tap:sidebar.open"
  tabindex="-1"
  role="navigation"
  id="sidebar"
  class="m-0 px-5 bg-dark d-flex d-lg-none flex-column align-items-start justify-content-start"
  layout="nodisplay"
  side="right"
>

  {% for item in navigation %}
    <div
      class="mt-4"
      on="tap:sidebar.open"
      role="dialog"
      tabindex="-1"
    >
      {% if item.links %}
        <span class="h5 text-white bg-dark py-1 mb-2" tabindex="0">
          {{ item.title | liquify }}
        </span>
        <ul class="list-unstyled text-left pl-3">
          {% for link in item.links %}
            <li>
              <a href="{{ link.url | liquify }}" class="hover-white">
                {{ link.title | liquify }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% elsif item.title == 'Courses' %}
        <span class="h5 text-white bg-dark py-1 mb-2" tabindex="0">
          {{ item.title | liquify }}
        </span>
        <ul class="list-unstyled text-left pl-3">
          {% for _track in school.tracks %}
            {% for __track in settings.tracks %}
              {% if _track == __track.name %}
                {% assign track = __track %}
              {% endif %}
            {% endfor %}
            {% if track.category %}
              <li class="text-white">
                {{ track.category | liquify }}
              </li>
              <li class="ml-3">
                <a href="{{ track.url }}" class="hover-white">
                  {{ track.name | liquify }}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ track.url }}" class="hover-white">
                  {{ track.name | liquify }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <!-- htmllint preset="none" -->
        <a class="{{ item.class | liquify }} hover-white" href="{{ item.url | liquify }}">
        <!-- htmllint preset="$previous" -->
          <span class="h5 text-white hover-white">
            {{ item.title | liquify }}
          </span>
        </a>
      {% endif %}
    </div>
  {% endfor %}
</amp-sidebar>

<!-- htmllint preset="none" -->
<header id="header"
  class="u-header--navbar-bg w-100 z-20"
>
  <div class="py-1 bg-primary-dark border-bottom border-white">
    <div class="container d-flex justify-content-end">
      {% include phone.html a_class="text-white" icon_class="fas fa-phone text-white" %}
      <a class="text-white ml-3" target="_blank" rel="noopener" href="{{ school.facebook }}">
        <i class="fab fa-facebook"></i>
      </a>
      <a class="text-white ml-3" target="_blank" rel="noopener" href="{{ school.twitter }}">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="text-white ml-3" target="_blank" rel="noopener" href="{{ school.instagram }}">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
  <div class="u-header__section bg-textured py-2">
  <!-- htmllint preset="$previous" -->
    <div class="container px-md-0 px-lg-3">
      <!-- Nav -->
      <nav
        class="navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space"
      >
        <!-- Logo -->
        <a
          class="navbar-logo d-flex"
          href="/"
          aria-label="Logo"
        >
          <!-- htmllint preset="none" -->
          <amp-img
            width="66px"
            height="66px"
            layout="fixed"
            alt="{{ school.name }} Home"
            src="{{ school.url | append: school.logo }}"
            class="w-100"
          ></amp-img>
          <!-- htmllint preset="$previous" -->
          <span class="sr-only">{{ school.name }} Logo</span>
        </a>
        <!-- End Logo -->
        <!-- Responsive Toggle Button -->
        <button
          class="btn btn-link text-white d-flex justify-content-end d-lg-none"
          on="tap:sidebar.open"
          tabindex="0"
          role="button"
        >
          <i class="fas fa-bars fa-2x" aria-hidden="true"></i><span class="sr-only">Open navigation menu</span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="nav-bar"
          class="collapse navbar-collapse u-header__navbar-collapse d-none d-lg-flex"
        >
          <ul class="navbar-nav u-header__navbar-nav ml-auto">
            {% for item in navigation %}
              <li class="nav-item u-header__nav-item ml-5 pb-2">
              {% if item.links %}
                <span class="text-white hover-white">
                  {{ item.title | liquify }} <i class="fas fa-caret-down"></i>
                </span>
                <ul class="nav-dropdown position-absolute list-unstyled rounded px-3">
                  {% for link in item.links %}
                    <li class="position-relative p-0 my-2">
                      <!-- htmllint preset="none" -->
                      <a class="p-0" href="{{ link.url | liquify }}">
                        <!-- htmllint preset="$previous" -->
                        <span class="text-white hover-white">
                          {{ link.title | liquify }}
                        </span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                {% elsif item.title == 'Courses' %}
                  <span class="text-white hover-white">
                    {{ item.title | liquify }} <i class="fas fa-caret-down"></i>
                  </span>
                  <ul class="nav-dropdown position-absolute list-unstyled rounded px-3">
                    {% for _track in school.tracks %}
                      {% for __track in settings.tracks %}
                        {% if _track == __track.name %}
                          {% assign track = __track %}
                        {% endif %}
                      {% endfor %}
                      {% if track.category %}
                        <li class="position-relative p-0 my-2 pb-1">
                          <small class="text-muted">
                            {{ track.category | liquify }}
                          </small>
                        </li>
                        <li class="position-relative p-0 my-2">
                          <!-- htmllint preset="none" -->
                          <a class="p-0" href="{{ track.url }}">
                            <!-- htmllint preset="$previous" -->
                            <span class="text-white hover-white">
                              {{ track.name | liquify }}
                            </span>
                          </a>
                        </li>
                      {% else %}
                        <li class="position-relative p-0 my-2">
                          <!-- htmllint preset="none" -->
                          <a class="p-0" href="{{ track.url }}">
                            <!-- htmllint preset="$previous" -->
                            <span class="text-white hover-white">
                              {{ track.name | liquify }}
                            </span>
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% else %}
                  <!-- htmllint preset="none" -->
                  <a class="{{ item.class | liquify }} hover-white {% if page.hide_apply and item.title == 'Apply' %} {{ page.hide_apply }}{% endif%}" href="{{ item.url | liquify }}">
                  <!-- htmllint preset="$previous" -->
                    <span class="text-white hover-white">{{ item.title | liquify }}</span>
                  </a>
              {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
{% if school.announcement.size > 0 %}
  <div class="text-center py-1 bg-primary-light">
    <span class="text-white">{{ school.announcement | liquify }}</span>
  </div>
{% endif %}
<!-- ========== END HEADER ========== -->
