{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% assign key_settings = settings[site.key] %}
  {% endif %}
{% endfor %}
<amp-sidebar
  on="tap:sidebar.open"
  tabindex="-1"
  role="navigation"
  id="sidebar"
  class="m-0 px-5 bg-dark d-flex d-lg-none flex-column align-items-start justify-content-start"
  layout="nodisplay"
  side="right">
  {% for item in settings.navigation.header %}
    <div
      class="mt-4"
      on="tap:sidebar.open"
      role="dialog"
      tabindex="-1"
    >
      {% if item.links %}
        <span class="h5 text-white bg-dark py-1 mb-2" tabindex="0">
          {{item.title | liquify}}
        </span>
        <ul class="list-unstyled text-left pl-3">
          {% for link in item.links %}
            <li>
              <a href="{{ link.url | liquify }}" class="text-blue hover-white">
                {{ link.title | liquify }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% elsif item.title == 'Courses' %}
        <span class="h5 text-white bg-dark py-1 mb-2" tabindex="0">
          {{item.title | liquify}}
        </span>
        <ul class="list-unstyled text-left pl-3">
          {% for track in key_settings.tracks %}
            <li>
              <a href="{{ settings.tracks[track].url }}" class="text-blue hover-white">
                {{ settings.tracks[track].name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <!-- htmllint preset="none" -->
        <a class="{{ item.class }} hover-white" href="{{ item.url | liquify }}">
        <!-- htmllint preset="$previous" -->
          <span class="h5 text-white hover-white">
            {{ item.title | liquify }}
          </span>
        </a>
      {% endif %}
    </div>
  {% endfor %}
</amp-sidebar>

<!-- htmllint preset="none" -->
<header id="header"
  class="fixed-top {% if color == 'transparent' %}u-header--bg-transparent {% else %} u-header--navbar-bg {% endif %} w-100"
>
  <div id="header-background" class="bg-purple d-block position-absolute w-100 h-100"></div>
  <div class="u-header__section bg-{{ color | default: 'purple' }} py-2">
  <!-- htmllint preset="$previous" -->
    <div class="container px-md-0 px-lg-3">
      <!-- Nav -->
      <nav
        class="navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space"
      >
        <!-- Logo -->
        <a
          class="navbar-logo d-flex"
          href="/"
          aria-label="Logo"
        >
          <!-- htmllint preset="none" -->
          <amp-img
            width="66px"
            height="66px"
            layout="fixed"
            alt="{{ key_settings.school }} Home"
            src="/assets/images/logo-{{ site.key }}-white.png"
            class="w-100"
          ></amp-img>
          <!-- htmllint preset="$previous" -->
          <span class="sr-only">{{ key_settings.school }} Logo</span>
        </a>
        <!-- End Logo -->
        <!-- Responsive Toggle Button -->
        <button
          class="btn btn-link text-white d-flex justify-content-end d-lg-none"
          on="tap:sidebar.open"
          tabindex="0"
          role="button"
        >
          <i class="fas fa-bars fa-2x" aria-hidden="true"></i><span class="sr-only">Open navigation menu</span>
        </button>
        <!-- End Responsive Toggle Button -->

        <!-- Navigation -->
        <div id="nav-bar"
          class="collapse navbar-collapse u-header__navbar-collapse d-none d-lg-flex"
        >
          <ul class="navbar-nav u-header__navbar-nav ml-auto">
            {% for item in settings.navigation.header %}
              <li class="nav-item u-header__nav-item ml-5">
              {% if item.links %}
                <!-- <a tabindex="0"> -->
                  <span class="text-white hover-white">
                    {{ item.title }} <i class="fas fa-caret-down"></i>
                  </span>
                <!-- </a> -->
                <ul class="nav-dropdown position-absolute list-unstyled rounded px-3">
                  {% for link in item.links %}
                    <li class="position-relative p-0 my-2">
                      <!-- htmllint preset="none" -->
                      <a class="p-0" href="{{ link.url | liquify }}">
                        <!-- htmllint preset="$previous" -->
                        <span class="text-white hover-white">
                          {{ link.title | liquify }}
                        </span>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                {% elsif item.title == 'Courses' %}
                  <span class="text-white hover-white">
                    {{ item.title }} <i class="fas fa-caret-down"></i>
                  </span>
                  <ul class="nav-dropdown position-absolute list-unstyled rounded px-3">
                    {% for track in key_settings.tracks %}
                      <li class="position-relative p-0 my-2">
                        <!-- htmllint preset="none" -->
                        <a class="p-0" href="{{ settings.tracks[track].url }}">
                          <!-- htmllint preset="$previous" -->
                          <span class="text-white hover-white">
                            {{ settings.tracks[track].name }}
                          </span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% else %}
                <!-- htmllint preset="none" -->
                <a class="{{ item.class }} hover-white" href="{{ item.url | liquify }}">
                <!-- htmllint preset="$previous" -->
                  <span class="text-white hover-white">{{ item.title | liquify }}</span>
                </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->