{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key ==  site.key%}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<!-- Input -->
<div class="form-group">
  <!-- htmllint preset="none" -->
  <label class="form-label" for="how_did_you_hear_about_us">
  <!-- htmllint preset="$previous" -->
    How did you hear about us? <span class="text-red-a">*</span>
  </label>

  <!-- htmllint preset="none" -->
  <select id="how_did_you_hear_about_us" name="how_did_you_hear_about_us" class="form-control" required>
  <!-- htmllint preset="$previous" -->

    <option value="" disabled selected>
      Select your answer
    </option>

    <option value="Facebook">
      Facebook
    </option>

    <option value="Instagram">
      Instagram
    </option>

    <option value="Twitter">
      Twitter
    </option>

    <option value="LinkedIn">
      LinkedIn
    </option>

    <option value="Friend / Family">
      Friend / Family
    </option>

    <option value="Search engine">
      Search engine
    </option>

    <option value="{{ school.name }} event">
      {{ school.name }} event
    </option>

    <option value="{{ school.name }} faculty / staff">
      {{ school.name }} faculty / staff
    </option>

    <option value="{{ school.name }} student / alumni">
      {{ school.name }} student / alumni
    </option>

    <option value="News (TV, article)">
      News (TV, article)
    </option>

    <option value="Radio">
      Radio
    </option>

    <option value="Other">
      Other
    </option>

  </select>
</div>
<!-- End Input -->