<!-- OPEN GRAPH TAGS -->
<meta property="og:title" content="{{ page[site.key].title | liquify }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{site.url}}{{ page.url }}">
{% assign default_image = '/assets/images/logo-' | append: site.acronym | append: '.png' %}
{% assign image = page.img | default: default_image %}
<meta property="og:image" content="{{ site.url | append: image }}">
<meta property="og:description" content="{{ page[site.key].description | liquify }}">
<meta property="og:site_name" content="{{ site.key | capitalize }} Coding Academy" />
<meta property="og:locale" content="en_US" />
<!-- TWITTER TAGS -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{site.twitter}}">
<meta name="twitter:creator" content="{{site.twitter}}">
<meta name="twitter:title" content="{{ page[site.key].title | liquify }}">
<meta name="twitter:description" content="{{ page[site.key].description | liquify }}">
<meta name="twitter:image" content="{{ site.url | append: image }}">
