{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="row d-flex justify-content-center">
  <!-- Tutors -->
  {% for tutor in include.tutors %}
    {% if include.marketing %}
      {% assign splitName = tutor.name | split: " " %}
      {% assign name = splitName[0] %}
    {% else %}
      {% assign name = tutor.name %}
    {% endif %}
    {% assign id = tutor.id | downcase %}
    <div
      class="col-sm-6 col-md-4 col-lg-3 mb-3"
      id="tutor-{{ id | liquify }}"
      [hidden]="!( (!location || ['{{ tutor.location | join: "','" | liquify }}'].includes(location)) && (!selectedDate || ['{{ site.data.tutors[id].availableDates | map: 'date' | join: "', '"}}'].includes(selectedDate)))"
    >
      <div class="card text-center shadow" id="{{ name | liquify }}">
        <div class="p-3 d-flex flex-column justify-content-between">
          <!-- Team -->
          <div>
            <div class="mx-auto mb-3">
              <!-- htmllint preset="none" -->
              <amp-img
                width="100px"
                height="100px"
                layout="fixed"
                class="rounded-circle"
                src="https://gravatar.com/avatar/{{ tutor.gravatar_email | downcase | md5 }}?s=100&r=pg&d=retro"
                alt="{{ name | liquify }}"
              ></amp-img>
              <!-- htmllint preset="$previous" -->
            </div>
            <h5 class="mb-0">
              {{ name | liquify }}
            </h5>
            <p class="small m-0">
              {% for skill in tutor.skills %}
                {{ skill }}{% unless forloop.last == true %} | {% endunless %}
              {% endfor %}
            </p>
            {% unless include.marketing %}
              <p class="small my-1">
                <i>{{ tutor.limitation | liquify }}</i>
              </p>
            {% endunless %}
          </div>
          <!-- End Team -->

          <!-- Contact -->
          <div class="mt-2">
            {% unless include.marketing %}
              <a href="{{ tutor.rocketchat | liquify }}" rel="noopener" target="_blank">
                <i class="display-7 fab fa-rocketchat"></i>
              </a>
              <a href="mailto:{{ tutor.email }}" rel="noopener" target="_blank" class="ml-3">
                <i class="display-7 fas fa-envelope"></i>
              </a>
            {% else %}
              <a href="#" on="tap:apply-now-lightbox.open" tabindex="0">
                <i class="display-7 fab fa-rocketchat"></i>
              </a>
              <a href="#" on="tap:apply-now-lightbox.open" tabindex="0" class="ml-3">
                <i class="display-7 fas fa-envelope"></i>
              </a>
            {% endunless %}
          </div>
          <!-- End Contact -->
        </div>

        <hr class="my-0">

        {% unless include.marketing %}
          <!-- htmllint preset="none" -->
          <a class="{% unless tutor.calendar %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{ tutor.calendar | liquify }}" target="_blank">
          <!-- htmllint preset="$previous" -->
            <span class="far fa-calendar-alt mr-2"></span>
            Schedule Tutoring
          </a>
          <!-- htmllint preset="none" -->
          <a class="{% unless tutor.virtual %} disabled {% endunless %} btn btn-sm u-btn-primary--air transition-3d-hover" href="{{ tutor.virtual }}" target="_blank">
          <!-- htmllint preset="$previous" -->
            <span class="fa fa-chalkboard-teacher mr-2"></span>
            Virtual Classroom
          </a>
        {% else %}
          <a href="#" on="tap:apply-now-lightbox.open" tabindex="0"
            class="btn btn-sm u-btn-primary--air transition-3d-hover"
          >
            <span class="far fa-calendar-alt mr-2"></span>
            Schedule Tutoring
          </a>
          <a href="#" on="tap:apply-now-lightbox.open" tabindex="0"
            class="btn btn-sm u-btn-primary--air transition-3d-hover"
          >
            <span class="fa fa-chalkboard-teacher mr-2"></span>
            Virtual Classroom
          </a>
        {% endunless %}
      </div>
    </div>
  {% endfor %}
  <!-- End Tutors -->
  </div>
</div>