{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
    {% for _school in settings.schools %}
      {% if _school.key == site.key %}
        {% assign school = _school %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
{% if page.schools %}
  {% for _school in page.schools %}
    {% if _school.key == site.key %}
      {% assign school = school | hash_concat: _school %}
    {% endif %}
  {% endfor %}
{% endif %}
<!DOCTYPE html>
<!-- htmllint preset="none" -->
<html {% if site.baseurl == '/amp' %}amp{% endif %}>
  <head>
    {% include head.html %}
  </head>

  <body class="d-flex justify-content-between flex-column min-vh-100">
    {% include google-tag-manager-body.html %}

    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
